.adsense-in-content
  @media PHONE
    width: 100%
    text-align: center
    margin-bottom: 20px
  @media TABLET
    width: 336px
  @media DESKTOP
    width: 336px

.adsense-sidebar
  text-align: center
  @media PHONE
    width: 100%
    margin-bottom: 20px
  @media TABLET
    width: 160px
  @media DESKTOP
    width: 336px
