.adsense-in-content
  width: 100%
  margin-bottom: 25px
  text-align: center

  html.seen-survey &
    @media DESKTOP
      width: 336px
    @media DESKTOP_TIGHT
      width: 100%
      margin-bottom: 0
    @media TABLET
      width: 336px
    @media TABLET_TIGHT
      width: 100%
      margin-bottom: 0

.adsense-after-content, .adsense-matched-content, .medianet-after-content, .outbrain-content
  width: 100%
  margin-bottom: 20px

.adsense-sidebar
  text-align: center
  @media DESKTOP
    width: 336px
  @media TABLET
    width: 160px
  @media PHONE
    width: 100%
    margin-bottom: 20px

.adsense-link-unit-in-content
  clearfix()
  .adsense-link-unit-200
    float: left
    width: 50%
    @media PHONE_TIGHT
      float: none

.adsense-link-unit-728, .adsense-link-unit-200
  display: inline-block
  max-width: 100%
  margin-bottom: 1.5em
  overflow: hidden

  &:last-child, .after-content &
    margin-bottom: 0

a.house
  display: block
  background-color: palette('Cyan')
  border: 4px solid palette('Cyan', '700')
  font-size: 2.5em
  font-weight: bold
  line-height: 1.5em
  min-height: 290px
  padding: 40px 20px
  text-align: center
  {LINK}
    color: palette('White')
  {HOVER}
    -webkit-filter: brightness(1.1)
    filter: brightness(1.1)
    text-decoration: none
