.browseWrapper
  background-color: #000
  position: fixed
  top: HEADER_HEIGHT
  width: 100%
  z-index: 50

  @media PHONE
    padding: 0 9px
  @media TABLET
    padding: 0 18px
  @media DESKTOP
    padding: 0 27px

.browse, .browse ul
  margin: 0
  padding: 0

.browse
  height: 0
  overflow: hidden

  transform: translateZ(0)
  transition-property: padding, height
  transition-duration: .5s

  &.on
    height: BROWSE_MENU_HEIGHT
    padding: 27px 0

    transition-property: padding, height
    transition-duration: .5s

  & > li
    border-right: 1px solid GRAY_DARKEST
    display: inline-block
    padding: 0 15px
    vertical-align: top
    width: 32%

    &:last-child
      border-right: 0

    h2
      font-size: 1.125em
      font-weight: bold
      line-height: (1.5 / 1.125)em
      margin-bottom: (0.5 / 1.125)em // intentionally breaking the rhythm
      text-transform: uppercase

    li
      font-size: 0.88em
      list-style: none

  a
    {LINK}
      color: #FFF
      display: block
      ellipsis()
      width: 100%
    {HOVER}
      color: BLUE_LIGHT
