.browseWrapper
  background-color: #000
  position: fixed
  top: HEADER_HEIGHT
  width: 100%
  z-index: 50

  @media PHONE
    padding: 0 5px
  @media TABLET
    padding: 0 10px
  @media DESKTOP
    padding: 0 15px

.browse
  margin: 0
  padding: 0

.browse
  height: 0
  overflow: hidden

  transform: translateZ(0)
  transition-property: padding, height
  transition-duration: .3s

  &.on
    height: BROWSE_MENU_HEIGHT
    padding: 27px 0

    transition-property: padding, height
    transition-duration: .3s

  & > div
    border-right: 1px solid GRAY_DARKEST
    display: block
    float: left
    padding: 0 20px
    vertical-align: top

    &:last-child
      border-right: 0

    h2
      font-size: 1.125em
      font-weight: bold
      line-height: (1.5 / 1.125)em
      margin-bottom: 0.2em
      text-transform: uppercase

    li
      font-size: 0.88em
      list-style: none

  &.browse-courses > div
    width: 33.3%

  &.browse-colleges > div
    width: 25%

  a
    {LINK}
      color: #FFF
      display: block
      ellipsis()
      width: 100%
    {HOVER}
      color: BLUE_LIGHT

  .btn
    text-align: center