.btn, [type='submit']
  {LINK}, &
    body_font()
    background: BLUE
    border-radius: 4px
    border: 0
    box-shadow: 0 2px BLUE_DARK
    color: #FFF
    cursor: pointer
    display: inline-block
    font-size: 20px
    font-weight: bold
    margin: 0
    padding: 4px 14px 3px 14px
    text-align: center
    text-transform: uppercase
    vertical-align: top

  &:hover, &:focus
    background: BLUE_DARK
    box-shadow: 0 2px BLUE_DARKER
    text-decoration: none

  &:active
    box-shadow: 0 0 #000
    position: relative
    top: 2px

  &.small
    font-size: 16px
    padding: 4px 9px 3px 9px

  &.large
    font-size: 24px
    padding: 8px 18px 7px 18px

  &.red
    {LINK}, &
      background: RED
    {HOVER}
      background: RED_DARK

  i:first-child
    margin-right: 10px

.breadcrumbs
  font-weight: bold
  margin-bottom: 0.75em
  text-transform: uppercase

  @media PHONE
    text-align: center

  .divider:before
    content: '/'
    // content: '\2192'
    font-weight: bold
    margin: 0 12px