.btn
  &, &:link, &:visited
    body_font()
    background: BLUE
    border-radius: 5px
    border: 0
    box-shadow: 0 1px BLUE_DARK
    color: #FFF
    cursor: pointer
    display: inline-block
    font-size: 20px
    font-weight: bold
    margin: 0
    padding: 6px 14px 3px 14px
    text-align: center
    text-transform: uppercase
    vertical-align: top

  {HOVER}
    text-decoration: none
    background: BLUE_DARK
    box-shadow: 0 1px BLUE_DARKER

  &:active
    position: relative
    box-shadow: 0 0 #000
    top: 1px

  &.small
    font-size: 16px
    padding: 4px 9px 3px 9px

  &.large
    font-size: 24px
    padding: 9px 18px 8px 18px

  &.huge
    font-size: 30px
    padding: 14px 24px 13px 24px

  &.red
    &, &:link, &:visited
      background: RED
      box-shadow: 0 1px RED_DARK
    {HOVER}
      background: RED_DARK
      box-shadow: 0 1px RED_DARKER

  i:first-child
    margin-right: 10px

.breadcrumbs
  font-weight: bold
  margin-bottom: 0.75em
  text-transform: uppercase

  @media PHONE
    text-align: center

  .divider:before
    content: '/'
    // content: '\2192'
    font-weight: bold
    margin: 0 12px
