a.btn
  {LINK}
    background: BLUE
    border-radius: 3px
    color: #FFF
    font-size: 19px
    font-weight: bold
    height: 35px
    line-height: 1.9em
    padding: 0 15px 0 15px
    text-transform: uppercase

  {HOVER}
    background: DARK_BLUE
    text-decoration: none

.breadcrumbs
  font-size: 16px
  font-weight: bold
  text-transform: uppercase

  .divider:before
    content: '/'
    // content: '\2192'
    font-weight: bold
    margin: 0 12px