// Cheer up emo kid
// http://www.colourlovers.com/palette/1930/cheer_up_emo_kid

// MIGHTY_SLATE = rgb(85,98,112)
// PACIFICA = rgb(78,205,196)
// APPLE_CHIC = rgb(199,244,100)
// CHEERY_PINK = rgb(255,107,107)
// GRANDMAS_PILLOW = rgb(196,77,88)

// Happy colors
HAPPY_RED = rgb(249,124,117)
HAPPY_ORANGE = rgb(255,231,135)
HAPPY_BLUE = rgb(88,241,252)
HAPPY_GREEN = rgb(199,244,100)
HAPPY_PURPLE = rgb(214,164,210)

BLUE = #0AF
BLUE_LIGHT = lighten(BLUE, 40)
BLUE_DARK = darken(BLUE, 10)

GRAY_LIGHTER = #EEE
GRAY_LIGHT = #CCC
GRAY = #AAA
GRAY_DARK = #888
GRAY_DARKER = #333