// TODO: tranisition these all to Google Material colors

RED = rgb(247, 91, 82)
RED_LIGHT = lighten(RED, 50%)
RED_LIGHTER = lighten(RED, 85%)
RED_DARK = darken(RED, 30%)
RED_DARKER = darken(RED, 50%)

BLUE = #009EF6
BLUE_LIGHT = lighten(BLUE, 50%)
BLUE_LIGHTER = lighten(BLUE, 85%)
BLUE_DARK = darken(BLUE, 30%)
BLUE_DARKER = darken(BLUE, 50%)

GRAY = #AAA
GRAY_LIGHT = #CCC
GRAY_LIGHTER = #EEE
GRAY_DARK = #888
GRAY_DARKER = #666
GRAY_DARKEST = #333

// Cheer up emo kid (http://www.colourlovers.com/palette/1930/cheer_up_emo_kid)
// MIGHTY_SLATE = rgb(85,98,112)
// PACIFICA = rgb(78,205,196)
// APPLE_CHIC = rgb(199,244,100)
// CHEERY_PINK = rgb(255,107,107)
// GRANDMAS_PILLOW = rgb(196,77,88)
