.cke_chrome
  padding: 0 0 10px 0 !important // to override their default
  overflow: hidden

body.cke_editable
  font-family: 'Lucida Grande', sans-serif
  font-size: 15px !important
  line-height: 1.5em !important
  margin: 10px

  &.placeholder
    color: GRAY_DARK
    font-size: 1em
    font-size: 18px !important
    line-height: 1.5em !important
