body.essay
  .content
    .prompt
      font-style: italic

  .sidebar .author
    display: block
    margin-bottom: 2.5em
    text-align: center

    a:hover img, a:active img
      -webkit-filter: brightness(0.8)
      filter: brightness(0.8)

    img
      border-radius: 100px
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35)
      height: 200px
      margin-bottom: 0.9em
      width: 200px

    .name
      color: #000
      margin-bottom: 0.5em

    .accepted
      color: GRAY_DARK
      font-size: 1em
      margin-bottom: 0.5em
