.footer
  font-size: 15px
  margin: 50px 0

  .randomquote
    color: GRAY
    font-size: 22px

    q
      font-style: italic
      quotes: none

      &:before
        content: '\201C'
        font-size: 30px
      &:after
        content: '\201D'
        font-size: 30px

    .author:before
      content: '\2013' // en dash
      padding: 0 4px

  .col
    margin-bottom: 40px
    width: 20%

    &.about-this-site
      width: 40%

  a
    {LINK}
      border-bottom: 1px solid GRAY_LIGHT
      text-decoration: none
    {HOVER}
      border-bottom: 1px solid BLUE
      color: BLUE

  h4
    font-size: 18px
    font-weight: bold
    text-transform: uppercase

  ul
    list-style: none
    li
      padding: 5px 0

  small
    color: GRAY_DARK
    display: block
    margin: 5px 0