.footer
  clear: both
  font-size: 0.85em
  line-height: (1.5 / 0.85)em

  @media PHONE
    padding: CONTENT_PADDING_PHONE + 10px
    padding-bottom: 10px
  @media TABLET
    padding: CONTENT_PADDING_TABLET
    padding-bottom: 20px
  @media DESKTOP
    padding: CONTENT_PADDING_DESKTOP
    padding-bottom: 20px

  p.randomquote
    color: GRAY
    font-size: 1.5em
    line-height: (2.25 / 1.5)em
    margin-bottom: (1 / 1.5)em

    q
      font-style: italic
      quotes: none

      &:before
        content: '\201C'
        font-size: 1.8em
        line-height: inherit
      &:after
        content: '\201D'
        font-size: 1.8em
        line-height: inherit

    .author:before
      content: '\2013' // en dash
      padding: 0 4px

  .col
    min-width: 140px
    width: 20%

    @media PHONE
      width: 30%

    &.about-this-site
      width: 35%

      @media PHONE
        width: 100%

  a
    {LINK}
      border-bottom: 1px solid GRAY_LIGHT
      text-decoration: none
    {HOVER}
      border-bottom: 1px solid BLUE
      color: BLUE

  h3
    font-size: 1.3em
    margin-bottom: 0.8em
    font-weight: bold
    text-transform: uppercase

  ul
    list-style: none

    li
      margin-bottom: 6px

  small
    color: GRAY_DARK
    display: block
    font-size: 0.8em

  .google-plusone
    float: right
    margin: 50px 0 0 20px
