.footer
  clear: both
  font-size: 0.9em

  @media PHONE
    padding: CONTENT_PADDING_PHONE + 10px
  @media TABLET
    padding: CONTENT_PADDING_TABLET
  @media DESKTOP
    padding: CONTENT_PADDING_DESKTOP

  p.randomquote
    margin-top: 0
    color: GRAY
    font-size: 1.4em

    q
      font-style: italic
      quotes: none

      &:before
        content: '\201C'
        font-size: 1.8em
        line-height: inherit
      &:after
        content: '\201D'
        font-size: 1.8em
        line-height: inherit

    .author:before
      content: '\2013' // en dash
      padding: 0 4px

  .col
    margin-bottom: 40px
    min-width: 140px
    width: 20%

    @media PHONE
      width: 30%

    &.about-this-site
      width: 35%

      @media PHONE
        width: 100%

  a
    {LINK}
      border-bottom: 1px solid GRAY_LIGHT
      text-decoration: none
    {HOVER}
      border-bottom: 1px solid BLUE
      color: BLUE

  h3
    font-size: 1.125em
    font-weight: bold
    text-transform: uppercase

  ul
    list-style: none
    li
      padding: 5px 0

  small
    color: GRAY_DARK
    display: block
    margin: 5px 0