CONTENT_WIDTH = 580px

.content
  .submit
    margin: 0 auto
    text-align: center
    @media PHONE
      padding-top: 5px
    @media TABLET
      padding-top: 10px
    @media DESKTOP
      padding-top: 15px

  input, textarea, .select2, label
    form_font()
    color: #000
    display: block
    font-size: 1em
    width: 100%

  input, textarea, .cke_chrome
    border: 2px solid GRAY_DARK

    &:focus, &:active, &.cke_focus
      border: 2px solid BLUE
      outline: 0
      box-shadow: 0 0 5px rgba(BLUE, 0.4)

  input, .select2-container .select2-choice
    height: 50px
    padding: 10px 15px

  input
    border-radius: 25px
  textarea, .cke_chrome, .cke_wysiwyg_frame
    border-radius: 10px

  .select2-container
    a:hover img, a:active img
      -webkit-filter: none
      filter: none

    .select2-choice
      form_font()
      background: linear-gradient(top, 50% #FFF, #DDD)
      border: 2px solid GRAY_DARK
      border-radius: 10px
      color: #000
      font-size: 1em

      .select2-arrow
        background: linear-gradient(top, 30% #FFF, #BBB)
        border-left: 2px solid GRAY_DARK
        border-radius: 0
        width: 50px

        b
          background: none !important // to override their !important

          &:before
            color: GRAY_DARK
            content: '\25BC'
            display: block
            font-size: 16px
            padding: 10px 16px

    &.select2-container-active
      .select2-choice
        border: 2px solid BLUE
        box-shadow: 0 0 5px rgba(BLUE, 0.4)
        outline: 0

    &.select2-container-disabled
      .select2-choice
        border: 2px solid GRAY_LIGHT
        color: GRAY !important // to override the default color !important

        .select2-arrow b:before
          color: GRAY

    &.select2-dropdown-open
      &:not(.select2-drop-above) .select2-choice
        border-radius 10px 10px 0 0
        border-bottom: none

      .select2-choice .select2-arrow b:before
        content: '\25B2'

      &.select2-drop-above .select2-choice
        border-radius 0 0 10px 10px
        border-top: none

    .select2-chosen
      line-height: inherit

    .select2-default
      color: GRAY_DARK !important // to override their !important

  ::-webkit-input-placeholder
    form_font()
    color: GRAY_DARK
  ::-moz-placeholder
    form_font()
    color: #222 // Firefox lightens it, for some reason
  :-ms-input-placeholder
    form_font()
    color: GRAY_DARK

  input[type='radio'],
  input[type='checkbox'],
  input[type='radio'] + .checkbox,
  input[type='checkbox'] + .checkbox
    cursor: pointer
    height: 32px
    margin: 4px 0 0 25px
    width: 32px

  input[type='radio'],
  input[type='checkbox']
    /* Hide the input, but have it still be clickable */
    opacity: 0
    position: absolute

    &:focus, &:active
      & + .checkbox
        border-color: BLUE
        box-shadow: 0 0 5px rgba(BLUE, 0.4)

  input[type='radio'] + .checkbox,
  input[type='checkbox'] + .checkbox
    border: 2px solid GRAY_DARK
    border-radius: 7px
    box-shadow: 0 1px 1px rgba(0,0,0,0.2)
    float: left

  input[type='radio']:checked + .checkbox:before
  input[type='checkbox']:checked + .checkbox:before
    color: BLUE
    content: '\2713'
    font-size: 2.8em

  input[type='radio'] + .checkbox + label,
  input[type='checkbox'] + .checkbox + label
    color: GRAY_DARKER
    cursor: pointer
    display: block
    float: left
    margin: 0
    padding: 6px 0 0 10px
    width: auto
    vertical-align: top


.select2-drop.select2-drop-active
  &:not(.select2-drop-above)
    border: 2px solid BLUE !important // need more specificity
    border-top: none !important

  &.select2-drop-above
    border: 2px solid BLUE !important
    border-bottom: none !important

.select2-results .select2-highlighted
  background: BLUE !important // need more specificity

.select2-drop
  .select2-search input
    background-position: 100% -24px !important
    background-size: 69px 46px !important
    border-radius: 20px
    font-size: 18px !important
    padding: 4px 28px 4px 8px

  &:not(.select2-drop-above) .select2-search input
    margin-top: 4px

.select2-icon
  float: left
  height: 26px
  margin: 0 12px 0 4px
  width: 26px

html.form
  .content
    margin: 80px auto
    padding: 20px 80px
    position: relative
    width: CONTENT_WIDTH

  .row
    margin-bottom: 15px

  .corner
    height: 80px
    left: -40px
    position: absolute
    width: 80px
    top: -40px

    img
      border-radius: 6px
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35)

  h1, h2
    text-align: center

  h1
    border-bottom: 0
    font-size: 2em
    font-weight: bold
    margin: 40px 0 10px 0
    padding: 0

  h2
    color: GRAY
    font-size: 1.1em
    margin: 10px 0 30px 0

  form
    margin: 30px 0

  footer
    color: GRAY_DARK
    font-size: 0.8em
    margin: 20px auto 0 auto
    text-align: center

    span:not(:last-child):after
      content: '\b7'
      padding: 0 5px

.errors
  font-weight: bold
  margin-bottom: 15px

  div
    background-color: RED
    border-radius: 3px
    list-style: none
    margin: 5px 0
    padding: 10px
