CONTENT_WIDTH = 580px

.content
  [type='submit']
    display: block

    @media PHONE
      margin: 5px auto 0 auto
    @media TABLET
      margin: 10px auto 0 auto
    @media DESKTOP
      margin: 15px auto 0 auto

  input, textarea, .select2
    color: #000
    display: block
    font-family: FORM_FONT
    font-size: 1em
    width: 100%

  input, textarea
    border: 2px solid GRAY_DARK

    &:focus, &:active
      border-color: BLUE
      outline: 0
      box-shadow: 0 0 5px rgba(BLUE, 0.4)

  input
    border-radius: 25px
  textarea
    border-radius: 10px

  input, .select2-container .select2-choice
    height: 50px
    padding: 10px 15px

  .select2-container
    .select2-choice
      background: linear-gradient(top, 50% #FFF, #DDD)
      border: 2px solid GRAY_DARK
      border-radius: 10px
      color: #000
      font-family: FORM_FONT
      font-size: 1em

      .select2-arrow
        background: linear-gradient(top, 30% #FFF, #BBB)
        border-left: 2px solid GRAY_DARK
        border-radius: 0
        width: 50px

        b
          background: none !important // to override their !important

          &:before
            color: GRAY_DARK
            content: '\25BC'
            display: block
            font-size: 16px
            padding: 10px 16px

    &.select2-container-active
      .select2-choice
        border: 2px solid BLUE
        box-shadow: 0 0 5px rgba(BLUE, 0.4)
        outline: 0

    &.select2-dropdown-open
      &:not(.select2-drop-above) .select2-choice
        border-radius 10px 10px 0 0
        border-bottom: none

        .select2-arrow b:before
          content: '\25B2'

      &.select2-drop-above .select2-choice
        border-radius 0 0 10px 10px
        border-top: none

    .select2-chosen
      line-height: inherit

    .select2-default
      color: GRAY_DARK !important // to override their !important

  ::-webkit-input-placeholder
    color: GRAY_DARK
    font-family: FORM_FONT
  ::-moz-placeholder
    color: GRAY_DARK
    font-family: FORM_FONT
  :-ms-input-placeholder
    color: GRAY_DARK
    font-family: FORM_FONT

.select2-drop.select2-drop-active
  &:not(.select2-drop-above)
    border: 2px solid BLUE !important // need more specificity
    border-top: none !important

  &.select2-drop-above
    border: 2px solid BLUE !important
    border-bottom: none !important

.select2-icon
  float: left
  height: 26px
  margin: 0 12px 0 4px
  width: 26px

html.form
  .content
    margin: 80px auto
    padding: 20px 80px
    position: relative
    width: CONTENT_WIDTH

  .row
    margin-bottom: 15px

  .corner
    height: 80px
    left: -40px
    position: absolute
    width: 80px
    top: -40px

    img
      border-radius: 6px
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35)

  h1, h2
    text-align: center

  h1
    border-bottom: 0
    font-size: 2em
    font-weight: bold
    margin: 40px 0 10px 0
    padding: 0

  h2
    color: GRAY
    font-size: 1.1em
    margin: 10px 0 30px 0

  form
    margin: 30px 0

  footer
    color: GRAY_DARK
    font-size: 0.8em
    margin: 20px auto 0 auto
    text-align: center

    span:not(:last-child):after
      content: '\b7'
      padding: 0 5px

.errors
  font-weight: bold
  margin-bottom: 15px

  div
    background-color: RED
    border-radius: 3px
    list-style: none
    margin: 5px 0
    padding: 10px
