CONTENT_WIDTH = 580px

html.form
  .content
    margin: 80px auto 0 auto
    padding: 20px 80px
    position: relative
    width: CONTENT_WIDTH

  .corner
    height: 80px
    left: -40px
    position: absolute
    width: 80px
    top: -40px

    img
      border-radius: 6px
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35)

  h1, h2
    text-align: center

  h1
    border-bottom: 0
    font-size: 2em
    font-weight: bold
    margin: 40px 0 10px 0
    padding: 0

  h2
    color: GRAY
    font-size: 1.1em
    margin: 10px 0

  footer
    color: GRAY_DARK
    font-size: 0.8em
    margin: 30px auto 0 auto
    text-align: center

    span:not(:last-child):after
      content: '\b7'
      padding: 0 5px.errors
  font-weight: bold
  margin-bottom: 15px

  div
    background-color: RED
    border-radius: 3px
    list-style: none
    margin: 5px 0
    padding: 10px
