.header
  background-color: transparent
  border-bottom: HEADER_BORDER
  height: HEADER_HEIGHT
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 10

  body:not(.solidHeader) &
    background-color: rgba(0,0,0,0.1)

  body.solidHeader &
    background-color: #FFF
    border-bottom: SOLID_HEADER_BORDER

  ul
    list-style: none
    padding: 0 // reset global ul padding
    position: absolute
    top: 0

    &.left
      left: 0

      li a
        {LINK}
          border-right: HEADER_BORDER
        {HOVER}
          border: HEADER_BORDER_FOCUS
          padding: 14px 16px 0 15px

        body.solidHeader &
          {LINK}
            border-right: SOLID_HEADER_BORDER
          {HOVER}
            border: SOLID_HEADER_BORDER_FOCUS

    &.right
      right: 0

      li a
        {LINK}
          border-left: HEADER_BORDER
        {HOVER}
          border: HEADER_BORDER_FOCUS
          padding: 14px 15px 0 16px
        &.on
          border: HEADER_BORDER_FOCUS
          height: HEADER_HEIGHT - 1
          padding: 14px 15px 0 16px

        body.solidHeader &
          {LINK}
            border-left: SOLID_HEADER_BORDER
          {HOVER}
            border: SOLID_HEADER_BORDER_FOCUS
          &.on
            border: SOLID_HEADER_BORDER_FOCUS

    li
      float: left
      font-weight: bold
      font-size: 13.5px
      line-height: 1.0em
      text-transform: uppercase

      a
        {LINK}
          color: #FFF
          display: block
          height: HEADER_HEIGHT - 1
          padding: 17px 18px 0 18px

        {HOVER}
          text-decoration: none

        body.solidHeader &
          {LINK}
            color: #000

  i
    display: inline-block
    font-size: 19px
    margin-right: 12px
    margin-top: -1px
    vertical-align: top

  img
    border-radius: 5px
    height: 21px
    margin-left: -2px
    margin-top: -2px
    position: absolute
    width: 21px
    vertical-align: top


  /**
   * SEARCH
   */

  .search
    color: #FFF
    padding: 3px 18px 3px 3px
    position: relative
    text-transform: none

    body.solidHeader &
      color: #000

    body:not(.solidHeader) &
      background: linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0.4))
      background-size: 100% 100%
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.4)

    body.solidHeader &
      &.searching, &:hover
        border: SOLID_HEADER_BORDER_FOCUS

    input
      background: transparent
      color: #FFF
      border: 0
      font-size: 14px
      height: HEADER_HEIGHT - 7
      outline: 0
      padding-left: 44px
      width: 100%

      body.solidHeader &
        color: #000

    i
      left: 16px
      position: absolute
      top: 16px

    &.searching, &:hover
      border: HEADER_BORDER_FOCUS
      padding: 0 15px 0 0

      i
        left: 13px
        top: 13px

    ::-webkit-input-placeholder
      color: #FFF
    :-moz-placeholder
      color: #FFF
    :-ms-input-placeholder
      color: #FFF

    body.solidHeader &
      ::-webkit-input-placeholder
        color: #000
      :-moz-placeholder
        color: #000
      :-ms-input-placeholder
        color: #000


  /**
   * AUTOCOMPLETE
   */

  .autocomplete
    background: #FFF
    border: 1px solid GRAY
    z-index: 50

    a.result
      {LINK}
        color: black
        display: block
        ellipsis()
        padding: 8px 14px
        width: 100%
        z-index: 50

      {HOVER}
        color: black
        text-decoration: none

      &.selected
        background-color: BLUE_LIGHT

      .desc
        color: GRAY
        padding-left: 12px