.content li, html:not(.studynotes) li
  margin-bottom: 0.75em

ul, ol
  margin: 0 0 1.5em 2em
  padding: 0

  // No left margin on outermost list
  :not(li) > &
    margin-left: 0

  ul, ol
    margin-top: 0.75em
    margin-bottom: 0.75em

  &.tight
    margin-left: 0
    li
      ellipsis()

  &.more
    li
      ellipsis()
    a:visited
      color: BLUE_LIGHT

  &.listing
    font-weight: bold
    list-style: none
    margin-left: 0

    li
      background: #EEE
      color: GRAY_DARKEST
      ellipsis()
      padding: 10px 25px
      margin-bottom: 0

    li:nth-child(even)
      background: #FFF

  li small
    line-height: 0

ul
  li
    list-style-position: inside

// APA-style lists
ol
  counter-reset: level1

  li
    list-style: none

  li:before
    content: counter(level1, upper-alpha) ". "
    counter-increment: level1
    font-weight: bold

  ol
    counter-reset: level2
    li:before
      content: counter(level2, decimal) ". "
      counter-increment: level2

    ol
      counter-reset: level3
      li:before
        content: counter(level3, lower-alpha) ". "
        counter-increment: level3

      ol
        counter-reset: level4
        li:before
          content: counter(level4, lower-roman) ". "
          counter-increment: level4

        ol
          counter-reset: level5
          li:before
            content: "(" counter(level5, decimal) ") "
            counter-increment: level5

.entry
  margin-bottom: 1.5em

  .heading
    width: 100%

    h3
      float: left

    .author, .collegeLogo
      float: right
      position: relative
      top: -5px

      a
        {LINK}
          color: GRAY_DARKEST
        {HOVER}
          color: BLUE_DARK

      span
        float: left
        margin-top: 7px

      img
        float: right
        height: 40px
        margin: 0 0 0 10px
        width: 40px

    .author img
      border-radius: 20px
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35)

  .body
    clear: left

    .read-more
      margin-left: 5px

  p
    display: inline
    margin-right: 5px

ul.buttonList
  margin-left: 0

  li
    ellipsis()
    list-style: none

  // TODO: Unify with .btn class
  a
    heading_font()
    background-color: #607D8B
    border-radius: 5px
    display: block
    font-size: 1.15em
    margin-bottom: 15px
    padding: 28px 0 0 20px
    height: 80px

    @media DESKTOP_TIGHT
      font-size: 1.05em
    @media TABLET
      font-size: 1.1em
    @media TABLET_TIGHT
      font-size: 1.3em
    @media PHONE
      font-size: 1.4em

    {LINK}
      color: #FFF
    {HOVER}
      text-decoration: none
      filter: brightness(1.2)

    &:active
      position: relative
      top: 2px

  &.tight a
    height: 60px
    padding: 18px 0 0 20px

  i
    float: right
    display: none
    @media PHONE
      display: inline

  // Google Material Design Colors
  .english
    background: #FF9800 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/english.svg') no-repeat
    background-size: auto 71px
  .european-history
    background: #00BCD4 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/european-history.svg') no-repeat
    background-size: auto 69px
  .microeconomics
    background: #4CAF50 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/microeconomics.svg') no-repeat
    background-size: auto 72px
  .psychology
    background: #E91E63 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/psychology.svg') no-repeat
    background-size: auto 71px
  .us-government
    background: #F44336 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/us-government.svg') no-repeat
    background-size: auto 71px
  .us-history
    background: #3F51B5 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/us-history.svg') no-repeat
    background-size: auto 71px
  .world-history
    background: #FF5722 top 10px right 30px url('https://cdn.apstudynotes.org/images/list/world-history.svg') no-repeat
    background-size: auto 72px

  .common-app
    background: #EC407A top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/common-app.png') no-repeat
    background-size: auto 40px
  .brown
    background: #8D6E63 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/brown.png') no-repeat
    background-size: auto 40px
  .caltech
    background: #FF7043 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/caltech.png') no-repeat
    background-size: auto 40px
  .carnegie-mellon
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/carnegie-mellon.png') no-repeat
    background-size: auto 40px
  .columbia
    background: #5C6BC0 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/columbia.png') no-repeat
    background-size: auto 40px
  .cornell
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/cornell.png') no-repeat
    background-size: auto 40px
  .dartmouth
    background: #66BB6A top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/dartmouth.png') no-repeat
    background-size: auto 40px
  .duke
    background: #5C6BC0 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/duke.png') no-repeat
    background-size: auto 40px
  .emory
    background: #5C6BC0 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/emory.png') no-repeat
    background-size: auto 40px
  .georgetown
    background: #78909C top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/georgetown.png') no-repeat
    background-size: auto 40px
  .harvard
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/harvard.png') no-repeat
    background-size: auto 40px
  .johns-hopkins
    background: #2196F3 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/johns-hopkins.png') no-repeat
    background-size: auto 40px
  .mit
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/mit.png') no-repeat
    background-size: auto 40px
  .northwestern
    background: #7E57C2 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/northwestern.png') no-repeat
    background-size: auto 40px
  .notre-dame
    background: #FFCA28 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/notre-dame.png') no-repeat
    background-size: auto 40px
  .princeton
    background: #FF7043 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/princeton.png') no-repeat
    background-size: auto 40px
  .rice
    background: #5C6BC0 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/rice.png') no-repeat
    background-size: auto 40px
  .stanford
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/stanford.png') no-repeat
    background-size: auto 40px
  .uc-berkeley
    background: #FFCA28 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/uc-berkeley.png') no-repeat
    background-size: auto 40px
  .ucla
    background: #2196F3 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/ucla.png') no-repeat
    background-size: auto 40px
  .uchicago
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/uchicago.png') no-repeat
    background-size: auto 40px
  .upenn
    background: #5C6BC0 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/upenn.png') no-repeat
    background-size: auto 40px
  .usc
    background: #EF5350 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/usc.png') no-repeat
    background-size: auto 40px
  .vanderbilt
    background: #FFCA28 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/vanderbilt.png') no-repeat
    background-size: auto 40px
  .wash-u
    background: #66BB6A top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/wash-u.png') no-repeat
    background-size: auto 40px
  .yale
    background: #2196F3 top 10px right 30px url('https://cdn.apstudynotes.org/images/icon/yale.png') no-repeat
    background-size: auto 40px
