@import 'nib'
@import 'colors'

HERO_FONT = 'adelle', Helvetica, serif
BODY_FONT = 'proxima-nova', Helvetica, sans-serif
FORM_FONT = 'Lucida Grande', sans-serif

HEADER_HEIGHT = 50px
HERO_HEIGHT = 400px + HEADER_HEIGHT
BROWSE_MENU_HEIGHT = 280px

HEADER_BORDER = 1px solid rgba(255, 255, 255, 0.6)
SOLID_HEADER_BORDER = 1px solid GRAY_LIGHT
HEADER_BORDER_FOCUS = 3px solid #FFF
SOLID_HEADER_BORDER_FOCUS = 3px solid #000

SIDEBAR_WIDTH = 336px
SIDEBAR_GUTTER_TABLET = 20px
SIDEBAR_GUTTER_DESKTOP = 30px

CONTENT_PADDING_PHONE = 20px
CONTENT_PADDING_TABLET = 30px
CONTENT_PADDING_DESKTOP = 50px

MAX_WIDTH = 1150px

PHONE = 'only screen and (max-width: 799px)'
TABLET = 'only screen and (min-width: 800px) and (max-width: 1099px)'
DESKTOP = 'only screen and (min-width: 1100px)'

// For convenience, when styling links

LINK = '&:link, &:visited'
HOVER = '&:hover, &:focus, &:active'

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.off
  display: none

.gray
  color: GRAY

.red
  color: red

.center
  text-align: center

.strong
  font-weight: bold

.row
  clear: both
  width: 100%

.row:before, .row:after // clearfix
  content: ""
  display: table

.col
  float: left
  vertical-align: top

.col2
  @extend .col
  width: 50%

  &:first-child
    padding-right: 7.5px
  &:last-child
    padding-left: 7.5px

.col3
  @extend .col3
  width: 33.3%

  &:first-child
    padding-right: 10px
  &:nth-child(2)
    padding-left: 5px
    padding-right: 5px
  &:last-child
    padding-left: 10px


ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.hide-phone
  @media PHONE
    display: none !important
.hide-tablet
  @media TABLET
    display: none !important

*, *:before, *:after
  box-sizing: border-box
  line-height: 1.4em

html
  overflow-y: scroll

body
  background: #F4F4F4 url(cdnOrigin + '/images/body.gif')
  font-family: BODY_FONT
  font-size: 18px
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased

  @media PHONE
    font-size: 14px
  @media TABLET
    font-size: 16px
  @media DESKTOP
    font-size: 18px

img, iframe
  max-width: 100%

ul, ol
  margin: 0
  padding: 0

a
  {LINK}
    color: BLUE
    text-decoration: none

  {HOVER}
    color: BLUE_DARK
    text-decoration: underline

h1, h2, h3, h4, h5
  font-family: HERO_FONT
  font-weight: 500
  line-height: 1.2em
  margin: 1em 0 .5em 0
  text-rendering: optimizelegibility
h1
  font-size: 2.25em
h2
  font-size: 1.6em
h3
  font-size: 1.25em
h4
  font-size: 1.125em
h5
  font-size: 1em

p
  margin: 1em 0

ul.listing
  list-style: none
  margin-bottom: 25px
  li
    background: #EEE
    color: GRAY_DARKER
    ellipsis()
    padding: 10px 25px
  li:nth-child(even)
    background: #FFF

  .content &
    font-weight: bold

hr
  background-color: GRAY_LIGHTER
  border: 0
  color: GRAY_LIGHTER
  height: 1px
  margin: 30px 0

//
// CONTENT
//

.wrap
  margin: 0 auto
  max-width: MAX_WIDTH
  padding-top: HEADER_HEIGHT
  position: relative
  width: 100%

  body.study-guides &
    max-width: 900px

  @media PHONE
    padding-left: 0
    padding-right: 0
  @media TABLET
    padding-left: 10px
    padding-right: 10px
  @media DESKTOP
    padding-left: 20px
    padding-right: 20px

  html.main-sidebar &
    @media PHONE
      max-width: 100%
    @media TABLET
      max-width: MAX_WIDTH + SIDEBAR_WIDTH + SIDEBAR_GUTTER_TABLET
    @media DESKTOP
      max-width: MAX_WIDTH + SIDEBAR_WIDTH + SIDEBAR_GUTTER_DESKTOP

.contentWrapper
  float: left
  width: 100%

  @media PHONE
    float: none
  @media TABLET
    margin-right: -(SIDEBAR_WIDTH + SIDEBAR_GUTTER_TABLET)
  @media DESKTOP
    margin-right: -(SIDEBAR_WIDTH + SIDEBAR_GUTTER_DESKTOP)

.content
  background: #FFF
  border-radius: 3px
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5)

  html.main-sidebar &
    @media PHONE
      margin-right: 0
    @media TABLET
      margin-right: SIDEBAR_WIDTH + SIDEBAR_GUTTER_TABLET
    @media DESKTOP
      margin-right: SIDEBAR_WIDTH + SIDEBAR_GUTTER_DESKTOP

  @media PHONE
    border-radius: 0
    padding: CONTENT_PADDING_PHONE
  @media TABLET
    padding: CONTENT_PADDING_TABLET
  @media DESKTOP
    padding: CONTENT_PADDING_DESKTOP

  .like
    height: 26px

  .pull-left
    margin: 20px 20px 10px 0
    float: left

  .pull-right
    margin: 0 0 10px 20px
    float: right

  h1
    border-bottom: 1px solid GRAY_LIGHTER
    margin: 0 0 30px 0
    padding-bottom: 20px

    body.note &, body.notetype &, body.course &, body.home &
      border-bottom: none
      margin-bottom: 0 // since toolbar will add the border

  h2:first-child
    margin-top: 10px

  ul:not(.listing)
    padding-left: 20px

  //
  // FORM
  //

  [type='submit']
    display: block
    margin: 30px auto

  input, textarea, .select2
    color: #000
    display: block
    font-family: FORM_FONT
    font-size: 1em
    margin-bottom: 15px
    width: 100%

  input, textarea
    border: 2px solid GRAY_DARK
    border-radius: 25px

    &:last-child
      margin-bottom: 0

    &:focus, &:active
      border-color: BLUE
      outline: 0
      box-shadow: 0 0 5px rgba(BLUE, 0.4)

  input, .select2-container .select2-choice
    height: 50px
    padding: 10px 15px

  .select2-container
    .select2-choice
      background: linear-gradient(top, 50% #FFF, #DDD)
      border: 2px solid GRAY_DARK
      border-radius: 10px
      color: #000
      font-family: FORM_FONT
      font-size: 1em

      .select2-arrow
        background: linear-gradient(top, 30% #FFF, #BBB)
        border-left: 2px solid GRAY_DARK
        border-radius: 0
        width: 50px

        b
          background: none !important // to override their !important

          &:before
            color: GRAY_DARK
            content: '\25BC'
            display: block
            font-size: 16px
            padding: 13px 16px

    &.select2-container-active
      .select2-choice
        border: 2px solid BLUE
        box-shadow: 0 0 5px rgba(BLUE, 0.4)
        outline: 0

        .select2-arrow b:before
          content: '\25B2'

    &.select2-dropdown-open
      &:not(.select2-drop-above) .select2-choice
        border-radius 10px 10px 0 0
        border-bottom: none

      &.select2-drop-above .select2-choice
        border-radius 0 0 10px 10px
        border-top: none

    .select2-chosen
      line-height: inherit

    .select2-default
      color: GRAY_DARK !important // to override their !important

  ::-webkit-input-placeholder
    color: GRAY_DARK
    font-family: FORM_FONT
  ::-moz-placeholder
    color: GRAY_DARK
    font-family: FORM_FONT
  :-ms-input-placeholder
    color: GRAY_DARK
    font-family: FORM_FONT

.select2-drop.select2-drop-active
  &:not(.select2-drop-above)
    border: 2px solid BLUE !important // need more specificity
    border-top: none !important

  &.select2-drop-above
    border: 2px solid BLUE !important
    border-bottom: none !important

@import 'header'
@import 'browseMenu'
@import 'hero'
@import 'toolbar'
@import 'buttons'
@import 'sidebar'
@import 'note'
@import 'footer'
@import 'form'
@import 'submit'