@import 'nib'
@import 'util'

HERO_FONT = 'adelle', Georgia, serif
BODY_FONT = 'proxima-nova', Helvetica, sans-serif

// Cheer up emo kid
// http://www.colourlovers.com/palette/1930/cheer_up_emo_kid

// MIGHTY_SLATE = rgb(85,98,112)
// PACIFICA = rgb(78,205,196)
// APPLE_CHIC = rgb(199,244,100)
// CHEERY_PINK = rgb(255,107,107)
// GRANDMAS_PILLOW = rgb(196,77,88)

// Happy colors
HAPPY_RED = rgb(249,124,117)
HAPPY_ORANGE = rgb(255,231,135)
HAPPY_BLUE = rgb(88,241,252)
HAPPY_GREEN = rgb(199,244,100)
HAPPY_PURPLE = rgb(214,164,210)

BLUE = #08C
LIGHT_BLUE = lighten(BLUE, 50)
DARK_BLUE = #005580

LIGHTEST_GRAY = #EEE
LIGHTER_GRAY = #CCC
LIGHT_GRAY = #AAA
GRAY = #888
DARK_GRAY = #555
DARKER_GRAY = #333

LOGO_WIDTH = 131px
TEXTURE_BACKGROUND = #F4F4F4 url('/images/body.gif')

//
// STRUCTURE AND TYPOGRAPHY
//

*
  box-sizing: border-box
  line-height: 1.4em

html
  overflow-y: scroll

body
  background: TEXTURE_BACKGROUND
  color: DARKER_GRAY
  font-family: BODY_FONT
  font-size: 16px
  margin: 0
  padding: 0
  position: relative
  -webkit-font-smoothing: antialiased

img
  max-width: 100%

ul, ol
  margin: 0
  padding: 0

a
  {LINK}
    color: BLUE
    text-decoration: none

  {HOVER}
    color: DARK_BLUE
    text-decoration: underline

h1, h2, h3, h4, h5
  font-family: HERO_FONT
  font-weight: 500
  line-height: 1.2em
  margin: 1em 0 .5em 0
  text-rendering: optimizelegibility
h1
  font-size: 36px
h2
  font-size: 24px
h3
  font-size: 20px
h4
  font-size: 18px
h5
  font-size: 16px

p
  margin: 1em 0

ul.listing
  list-style: none
  margin-bottom: 25px
  li
    background: #EEE
    color: DARKER_GRAY
    ellipsis()
    padding: 10px 25px
  li:nth-child(even)
    background: #FFF

  .content &
    font-weight: bold

hr
  background-color: LIGHTEST_GRAY
  border: 0
  color: LIGHTEST_GRAY
  height: 1px
  margin: 30px 0


//
// HEADER
//

HEADER_HEIGHT = 50px

HEADER_BORDER = 1px solid rgba(255, 255, 255, 0.6)
SOLID_HEADER_BORDER = 1px solid LIGHTER_GRAY

HEADER_BORDER_FOCUS = 3px solid #FFF
SOLID_HEADER_BORDER_FOCUS = 3px solid #000

.header
  background-color: transparent
  border-bottom: HEADER_BORDER
  height: HEADER_HEIGHT
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 10

  html:not(.solidHeader) &
    background-color: rgba(0,0,0,0.1)

  .solidHeader &
    background-color: #FFF
    border-bottom: SOLID_HEADER_BORDER

  ul
    list-style: none
    padding: 0 // reset global ul padding
    position: absolute
    top: 0

    &.left
      left: 0

      li a
        {LINK}
          border-right: HEADER_BORDER
        {HOVER}
          border: HEADER_BORDER_FOCUS
          padding: 14px 16px 0 15px

        .solidHeader &
          {LINK}
            border-right: SOLID_HEADER_BORDER
          {HOVER}
            border: SOLID_HEADER_BORDER_FOCUS

    &.right
      right: 0

      li a
        {LINK}
          border-left: HEADER_BORDER
        {HOVER}
          border: HEADER_BORDER_FOCUS
          padding: 14px 15px 0 16px
        &.on
          border: HEADER_BORDER_FOCUS
          height: HEADER_HEIGHT - 1
          padding: 14px 15px 0 16px

        .solidHeader &
          {LINK}
            border-left: SOLID_HEADER_BORDER
          {HOVER}
            border: SOLID_HEADER_BORDER_FOCUS
          &.on
            border: SOLID_HEADER_BORDER_FOCUS

    li
      float: left
      font-weight: bold
      font-size: 13.5px
      line-height: 1.0em
      text-transform: uppercase

      a
        {LINK}
          color: #FFF
          display: block
          height: HEADER_HEIGHT - 1
          padding: 17px 18px 0 18px

        {HOVER}
          text-decoration: none

        .solidHeader &
          {LINK}
            color: #000

  .courses
    &:after
      content: "\25bc"
      font-size: 12px
      padding-left: 8px 

    &.on:after
      content: "\25b2"


  /**
   * SEARCH
   */

  .search
    padding: 3px 18px 3px 3px
    text-transform: none

    &.searching, {HOVER}
      border: HEADER_BORDER_FOCUS
      padding: 0 15px 0 0

    html:not(.solidHeader) &
      background-image: linear-gradient-image(100px top, rgba(255,255,255,0.3), rgba(255,255,255,0.4))
      background-size: 100% 100%
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.4)

    .solidHeader &
      &.searching, {HOVER}
        border: SOLID_HEADER_BORDER_FOCUS

    input
      background: right center url('/images/search-white.png') no-repeat
      background-size: 18px 18px
      border: 0
      color: #FFF
      font-size: 14px
      height: HEADER_HEIGHT - 7
      outline: 0
      padding-left: 18px
      width: 100%

      .solidHeader &
        background: right center url('/images/search-black.png') no-repeat
        background-size: 18px 18px
        color: #000


    ::-webkit-input-placeholder
      color: #FFF
    :-moz-placeholder
      color: #FFF
    :-ms-input-placeholder
      color: #FFF

    .solidHeader &
      ::-webkit-input-placeholder
        color: #000
      :-moz-placeholder
        color: #000
      :-ms-input-placeholder
        color: #000


  /**
   * AUTOCOMPLETE
   */

  .autocomplete
    background: #FFF
    border: 1px solid LIGHT_GRAY 
    z-index: 50

    a.result
      {LINK}
        color: black
        display: block
        ellipsis()
        padding: 8px 14px
        width: 100%
        z-index: 50

      {HOVER}
        color: black
        text-decoration: none

      &.selected
        background-color: LIGHT_BLUE

      .desc
        color: LIGHT_GRAY
        padding-left: 12px

      // &.course
      //   background: 12px center url('/images/course.png') no-repeat
      //   background-size: 18px 18px
      //   padding-left: 45px
      // &.note
      //   background: 12px center url('/images/note.png') no-repeat
      //   background-size: 18px 18px
      //   padding-left: 45px


//
// BROWSE
//

HERO_EXTRA_HEIGHT_FOR_FADE = 100px
HERO_HEIGHT = 240px + HEADER_HEIGHT
HERO_HOME_HEIGHT = HERO_HEIGHT + 60px
BROWSE_HEIGHT = HERO_HOME_HEIGHT - HEADER_HEIGHT

.browseWrapper
  background-color: #000
  padding: 0 30px
  position: fixed
  top: HEADER_HEIGHT
  width: 100%
  z-index: 50

.browse
  height: 0
  padding: 0
  overflow: hidden

  transform: translateZ(0)
  transition-property: padding, height
  transition-duration: .5s

  &.on
    height: BROWSE_HEIGHT
    padding: 30px 0

    transition-property: padding, height
    transition-duration: .5s

  & > li
    border-right: 1px solid DARKER_GRAY
    display: inline-block
    padding: 0 15px
    vertical-align: top
    width: 32%

    &:last-child
      border-right: 0

    h2
      font-size: 19px
      font-weight: bold
      margin-top: 0
      text-transform: uppercase

    li
      list-style: none
      margin: 5px 0

  a
    {LINK}
      color: #FFF
      display: block
      ellipsis()
      width: 100%


//
// HERO & HERO TABS
//

TAB_HEIGHT = 35px

.hero
  display: block
  height: HERO_HEIGHT + HERO_EXTRA_HEIGHT_FOR_FADE
  left: 0
  position: absolute
  top: 0
  width: 100%

  body.home &
    height: HERO_HOME_HEIGHT + HERO_EXTRA_HEIGHT_FOR_FADE
    hero-image: 'outdoor-ipad-books.jpg', top
  body.course-english &
    hero-image: 'english.jpg'
  body.course-us-government &
    hero-image: 'us-government.jpg'
  body.course-us-history &
    hero-image: 'us-history-2.jpg'
  body.privacy &, body.about &, body.contact &, body.plagiarism & 
    hero-image: 'fine-print.jpg'
  body.photo-credits &
    hero-image: 'parliament-thames-london.jpg'
  
  .text
    color: #FFF
    display: block
    margin: 100px 25px 25px (LOGO_WIDTH / 2)
    text-align: left
    
    body.home &
      margin: 100px 25px 25px 25px
      text-align: center

    a
      {LINK}
        color: #FFF
      {HOVER}
        text-decoration: none

    h2, h3
      font-family: HERO_FONT
      text-shadow: 1px 1px 2px rgba(#000, 0.8)
      margin: 0.3em 0
    h2
      font-size: 50px
      font-weight: bold
      text-shadow: 2px 2px 3px rgba(#000, 0.8)
      body.home &
        font-size: 80px
    h3
      font-size: 25px
      body.home &
        font-size: 40px

  ul.tabs
    height: TAB_HEIGHT
    left: 0
    list-style: none
    padding-left: 20px
    position: absolute
    transition: 0.5s opacity linear
    top: HERO_HEIGHT - TAB_HEIGHT
    width: 100%
    z-index: 5

    li
      float: left
      margin-right: 6px
      padding: 0

      a
        {LINK}
          background: rgba(LIGHTEST_GRAY,0.9)
          border-bottom: none
          border-radius: 6px 6px 0 0
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1)
          color: DARKER_GRAY
          display: block
          height: TAB_HEIGHT
          padding: 7px 10px 0 10px
          font-weight: bold

        {HOVER}
          background: rgba(LIGHTEST_GRAY,1)
          color: BLUE
          text-decoration: none

      &.on a
        {LINK}
          background: #FFF
          border-bottom: 1px solid #FFF
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2)
          height: TAB_HEIGHT + 1


//
// CONTENT
//

SIDEBAR_WIDTH = 336px
SIDEBAR_MARGIN_LEFT = 30px
SIDEBAR_MARGIN_RIGHT = 40px
CONTENT_PADDING_TOP = 35px

.contentWrapper
  float: left
  margin-right: - (SIDEBAR_WIDTH + SIDEBAR_MARGIN_LEFT + SIDEBAR_MARGIN_RIGHT)
  margin-top: HEADER_HEIGHT
  position: relative
  width: 100%

  .isHero &
    margin-top: HERO_HEIGHT
  .isHero body.home &
    margin-top: HERO_HOME_HEIGHT


.content
  background: #FFF
  border: 1px solid rgba(0, 0, 0, .1)
  border-radius: 6px
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .05)
  margin-left: 10px
  margin-right: (SIDEBAR_WIDTH + SIDEBAR_MARGIN_LEFT + SIDEBAR_MARGIN_RIGHT)
  padding: CONTENT_PADDING_TOP 50px 50px 50px
  z-index: 10

  h1
    border-bottom: 1px solid LIGHTEST_GRAY
    margin: 10px 0 30px 0
    padding-bottom: 20px

    body.note &
      border-bottom: none
      margin-bottom: 0 // since toolbar will add the border

  h2:first-child
    margin-top: 10px

  ul:not(.listing)
    padding-left: 20px

  //
  // CONTENT TOOLBAR
  //
  .ghost
    height: 56px
    width: 100%

  .toolbar
    @extend .content .ghost
    background: #FFF
    border-top: 1px solid LIGHTEST_GRAY
    border-bottom: 1px solid LIGHTEST_GRAY
    z-index: 20

    &.sticky
      border-bottom: 1px solid LIGHTER_GRAY
      position: fixed
      top: 0

    .fb-like
      float: left
      margin-top: 15px

    .navigate-msg
      color: GRAY
      float: right
      font-size: 14px
      font-style: italic
      margin: 18px 15px 0 0

    a.next
      {LINK}
        background: BLUE
        border-radius: 3px
        color: #FFF
        float: right
        font-size: 19px
        font-weight: bold
        height: 35px
        line-height: 1.9em
        margin-top: 10px
        padding: 0 0 0 15px
        text-transform: uppercase
        width: 100px
      
      {HOVER}
        background: DARK_BLUE
        text-decoration: none


.breadcrumbs
  font-size: 16px
  font-weight: bold
  text-transform: uppercase

  .divider::before
    content: '/'
    // content: '\2192'
    font-weight: bold
    margin: 0 12px





//
// SIDEBAR
//

.sidebar
  float: left
  padding: 5px SIDEBAR_MARGIN_RIGHT 0 SIDEBAR_MARGIN_LEFT
  position: relative
  width: SIDEBAR_WIDTH + SIDEBAR_MARGIN_LEFT + SIDEBAR_MARGIN_RIGHT

  .isHero &
    margin-top: HERO_HEIGHT
  .isHero body.home &
    margin-top: HERO_HOME_HEIGHT

  & > div
    margin: 1.2em 0

  h1, h2, h3, h4
    font-family: BODY_FONT

  h3
    font-size: 19px
    font-weight: bold
    margin: 2em 0 1em 0

  //
  // COUNTDOWN
  // 

  .countdown
    margin-top: 2em

    .time
      float: left
      width: 25%

      div
        font-size: 35px
        line-height: 1.1em
        margin: 0
        text-align: center
      span
        display: block
        font-size: 13px
        margin: 0
        text-align: center

    h3
      text-align: center
      text-transform: uppercase

      &.left-to-study
        font-weight: normal
        margin-top: 1em

    // .date
    //   display: none

//
// AMAZON
//
.amazon
  background-color: rgba(0,0,0,0.05)
  padding: 0 15px 10px 15px

  h3
    margin-top: 1em
    padding-top: 1em

  h4
    font-weight: bold
    margin-bottom: 10px
  img
    float: left
    padding: 0 20px 0 0


//
// PAGE-SPECIFIC STYLES
//

body.about
  img
    float: right
    padding: 0 0 20px 20px
    width: 40%


//
// NOTE PAGE
// 

.keepStudying
  color: GRAY
  margin-top: 40px
  text-align: center

.noteNav
  .prev, .next
    display: inline-block
    ellipsis()
    font-weight: bold
    width: 45%      

  .prev
    float: left

    &:before
      content: '\25c0'
      float: left
      font-size: 12px
      padding-right: 10px

  .next
    float: right
    text-align: right

    &:before
      content: '\25b6'
      float: right
      font-size: 12px
      padding-left: 10px

.cite
  padding-left: 55px
  text-indent: -55px



//
// FOOTER
//

.footer
  clear: both
  font-size: 15px
  padding: 40px 20px 30px (LOGO_WIDTH / 2)
  position: relative
  width: 100%

  .randomquote
    color: LIGHT_GRAY
    font-size: 22px

    q
      font-style: italic
      quotes: none

      &::before
        content: '\201C'
        font-size: 30px
      &::after
        content: '\201D'
        font-size: 30px

    .author::before
      content: '\2013' // en dash
      padding: 0 4px

  .col
    margin-bottom: 40px
    width: 20%

    &.about-this-site
      width: 40%

  a
    {LINK}
      border-bottom: 1px solid LIGHTER_GRAY
      text-decoration: none
    {HOVER}
      border-bottom: 1px solid BLUE
      color: BLUE

  h4
    font-size: 18px
    font-weight: bold
    text-transform: uppercase

  ul
    list-style: none
    li
      padding: 5px 0

  small
    color: GRAY
    display: block
    margin: 5px 0




