.after-content
  color: GRAY_DARK
  text-align: center
  .btn
    margin: 5px

.cite
  padding-left: 55px
  text-indent: -55px

#t402-prompt-iframe
  @media PHONE
    margin: 15px 0
  @media TABLET
    margin: 30px 0
  @media DESKTOP
    margin: 45px 0
