@media print
  header, footer, .sidebar, .browseWrapper, .heroImage, .tabs, .toolbar-ghost,
  .after-content, #disqus_thread, video, audio, object, embed, hr
    display: none
  body
    background: none !important
    font-size: 16px
    line-height: 1.3
    margin: 2em
  .wrap
    margin: 0
    padding: 0
  .hero
    a
      padding: 20px 0
    .title
      color: GRAY_DARKEST !important
      text-shadow: none !important
      font-size: 20px
      &:after
        content: ' from StudyNotes.org'
        color: GRAY_DARKEST
        font-weight: normal
  h1
    font-size: 30px
  .contentWrapper
    float: none
  .content
    box-shadow: none
  img
    max-width: 500px
