.sidebar
  color: GRAY_DARK
  float: right
  margin-top: 0px
  position: relative
  width: SIDEBAR_WIDTH

  @media TABLET
    width: SIDEBAR_WIDTH_TABLET

  // body.course &, body.notetype &, body.note &
  //   margin-top: -200px
  //   @media TABLET
  //     margin-top: 0

  @media PHONE
    float: none
    margin-top: 20px !important
    padding: 20px 20px 0 20px
    text-align: center
    width: 100%

  & > div
    margin: 0 0 2em 0

  img
    margin-bottom: 0

  h1, h2, h3, h4, h5
    body_font()
    color: #000
    margin-bottom: 0.7em

  div > h1, div > h2, div > h3, div > h4, div > h5
    &:last-child
      margin-bottom: 0

  ul, ol
    color: GRAY_DARKER
    margin-left: 0

  .online, .onlineNum
    display: none

  & > .tweet-home // needed more specificity
    margin-bottom: 1em
    overflow: hidden

    .onlineNum
      color: #FFF
      font-size: 1.1em
      float: left
      margin: 0
      text-shadow: 1px 1px 2px rgba(#000, 0.8)

    iframe
      float: right

  .fb-home
    margin-bottom: 0.5em

.countdown
  color: GRAY_DARKEST

  .time
    margin-bottom: 1.5em
    float: left
    width: 25%

    div
      font-size: 35px
      line-height: 1.1em
      margin: 0
      text-align: center
    span
      display: block
      font-size: 15px
      margin: 0
      text-align: center

  h3
    margin-bottom: 1.2em
    text-align: center
    text-transform: uppercase

    &.left-to-study
      font-weight: normal