#editor-toolbar
  padding: 15px 0 0 12.5px
  margin-bottom: 15px

  a
    border-radius: 3px
    margin: 0 6px
    text-align: center

    {LINK}
      border: 2px solid GRAY
      color: GRAY_DARK
      padding: 3px 6px 1px 6px

    {HOVER}
      border: 2px solid GRAY_DARKER
      color: GRAY_DARKER
      text-decoration: none

    &.wysihtml5-command-active
      {LINK}
        border: 3px solid HAPPY_RED
        color: HAPPY_RED
        padding: 2px 5px 0px 5px

    i
      display: inline-block
      width: 18px