#editor-toolbar
  padding: 10px 0 0 5px
  margin-bottom: 15px

  a
    border-radius: 3px
    margin: 0 5px
    text-align: center
    box-shadow: 0 1px 1px rgba(0,0,0,0.2)

    {LINK}
      border: 1px solid GRAY_DARK
      background-color: GRAY_LIGHTER
      color: GRAY_DARK
      padding: 3px 6px 1px 6px

    {HOVER}
      border: 1px solid #000
      color: #000
      text-decoration: none

    &.wysihtml5-command-active
      {LINK}
        border: 2px solid RED
        background-color: RED_LIGHT
        color: RED
        padding: 2px 5px 0px 5px

    i
      display: inline-block
      width: 18px