.toolbar-ghost
  height: 52px
  width: 100%
  margin-bottom: 30px

.toolbar
  @extend .toolbar-ghost
  background: #FFF
  border-top: 1px solid GRAY_LIGHTER
  border-bottom: 1px solid GRAY_LIGHTER
  overflow: hidden
  z-index: 30

  &.sticky
    border-bottom: 1px solid GRAY_LIGHT
    box-shadow: 0 1px rgba(0, 0, 0, 0.05)
    position: fixed
    top: 0

  .twitter-share-button
    float: left
    margin-top: 15px

  .fb-like
    float: left
    margin-top: 15px
    margin-right: 15px

  .navigate-msg
    color: GRAY_DARK
    float: right
    font-size: 14px
    font-style: italic
    margin: 12px 0 0 0

  a.btn
    float: right
    margin-top: 7px
    margin-left: 12px