// For convenience, when styling links

LINK = '&:link, &:visited'
HOVER = '&:hover, &:focus, &:active'

// Clearfix

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both


//
// UTILITY CLASSES
//

.off
  display: none

.gray
  color: LIGHT_GRAY

.red
  color: red

.center
  text-align: center

.strong
  font-weight: bold

.col
  float: left

.row
  clear: both

// Mixins

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

