// For convenience, when styling links 

$link = '&:link, &:visited'
$focus = '&:hover, &:focus, &:active'

// Clearfix

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both


// Misc

.off
  display: none

// Mixins

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

background-gradient-image(gradientOpacityStart, gradientOpacityEnd, imgSrc)
  background-image: linear-gradient(top, rgba(0,0,0,gradientOpacityStart), rgba(0,0,0,gradientOpacityEnd)), url(s(imgSrc))