// For convenience, when styling links 

LINK = '&:link, &:visited'
HOVER = '&:hover, &:focus, &:active'

// Clearfix

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both


// Misc

.off
  display: none

// Mixins

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

hero-image(imgSrc, direction = left, opacityStart = 0.2, opacityEnd = 0.05)
  background: 'url(%s)' % (imgSrc)
  background: bottom left url('/images/hero-body-mask.png') repeat-x, center center linear-gradient-image(100px direction, rgba(0,0,0,opacityStart), rgba(0,0,0,opacityEnd)) repeat, center center 'url(%s)' % ('/images/hero/' + imgSrc) no-repeat
  background-size: auto auto, 100% 100%, cover