// View-specific styles

body.home
  .birdy
    float: left
    margin-top: -10px
    margin-right: 30px
    transform: scale(0.85)

    @media PHONE
      display: none

  .hero
    text-align: center
    .totalHits
      display: inline-block
      @media TABLET
        min-width: 185px
      @media DESKTOP
        min-width: 195px

  .content .row
    h3
      ellipsis()
    li
      margin-bottom: 0

body.essay
  .prompt
    font-style: italic

  .body
    cursor: default
    position: relative
    user-select: none

    .blur > :not(:first-child):not(:nth-child(2))
      color: rgba(255, 255, 255, 0)
      text-shadow: #000 0 0 9px

      .ie10 &, .ie11 &
        color: rgba(230, 230, 230, 0.6)

  .subscribe-on-blur
    body_font()
    background: BLUE_LIGHTER
    border-radius: 40px
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8)
    left: 0
    margin: 0 7.5%
    padding: 20px 7.5% 40px 7.5%
    position: absolute
    right: 0
    text-align: center
    top: 325px

    @media PHONE
      border-radius: 0
      margin: 0 -20px
    @media TABLET
      border-radius: 30px
      margin: 0 5%

    h4
      body_font()
      &:last-child
        margin-bottom: 0

body.notetype, body.course, body.college
  @media PHONE
    .toolbar-ghost
      display: none

body.note, body.essay
  .birdy
    margin-left: auto
    margin-right: auto
    transform: scale(0.85)
  .birdy-stop
    margin-bottom: 30px

body.signup, body.signup2
  background: center center url('https://cdn.apstudynotes.org/images/hero/colleges.jpg') no-repeat fixed
  background-size: cover

body.login, body.login-forgot, body.login-reset
  background: center center url('https://cdn.apstudynotes.org/images/hero/amjed-full.jpg') no-repeat fixed
  background-size: cover

body.pro
  .hero
    min-height: 270px
    padding-top: 40px
    text-align: center

  .header
    border: 0
    background: none
    .search
      display: none

    .left
      li a
        {LINK}
          border-right: 1px solid transparent
        {HOVER}
          border-right: HEADER_BORDER_FOCUS
    .right
      li
        &:nth-child(1), &:nth-child(2), &:nth-child(3)
          display: none
        a
          {LINK}
            border-left: 1px solid transparent
          {HOVER}
            border-left: HEADER_BORDER_FOCUS

  .footer
    .quote, .links
      display: none

  .row
    text-align: center
    img
      height: 120px
      margin-bottom: 12px
    p
      margin-left: 5px
      margin-right: 5px

  .twitter-tweet
    margin-left: auto
    margin-right: auto
