form.search(method='get', action='#')
  span.declare Search on Study Notes
  input(name='q', type='text', placeholder='e.g. US History')
  button(type='submit')
    span Search

.ads
  span.declare Advertisement
  img(src='//placekitten.com/350/300')
  img(src='//placekitten.com/350/300')