nav#subnav
  ul
    li
      a(href='/ap-notes/us-history/') AP US History
      ul
        li: a(href='/ap-notes/ap-us-history/', title='AP US History') Vocabulary
        li: a(href='/ap-notes/ap-us-goverment/', title='AP US Goverment') Chapter Outlines
        li: a(href='/ap-notes/ap-english', title='AP English') Topic Outlines
        li: a(href='/ap-notes/ap-english', title='AP English') Timelines
        li: a(href='/ap-notes/ap-english', title='AP English') Court Cases
        li: a(href='/ap-notes/ap-english', title='AP English') Practice Tests

    li
      a(href='http://www.smashingmagazine.com/category/design/') AP US Government
      ul
        li: a(href='/ap-notes/ap-us-history/', title='AP US History') Vocabulary
        li: a(href='/ap-notes/ap-us-goverment/', title='AP US Goverment') Chapter Outlines
        li: a(href='/ap-notes/ap-english', title='AP English') Topic Outlines
        li: a(href='/ap-notes/ap-english', title='AP English') Timelines
        li: a(href='/ap-notes/ap-english', title='AP English') Court Cases
        li: a(href='/ap-notes/ap-english', title='AP English') Practice Tests

    li
      a(href='http://mobile.smashingmagazine.com') AP English
      ul
        li: a(href='/ap-notes/ap-us-history/', title='AP US History') Vocabulary
        li: a(href='/ap-notes/ap-us-goverment/', title='AP US Goverment') Chapter Outlines
        li: a(href='/ap-notes/ap-english', title='AP English') Topic Outlines
        li: a(href='/ap-notes/ap-english', title='AP English') Timelines
        li: a(href='/ap-notes/ap-english', title='AP English') Court Cases
        li: a(href='/ap-notes/ap-english', title='AP English') Practice Tests