nav#topnav.clearfix
  ul.network
    li#logo.current
      a(href='/', title='Jump to the front page of Study Notes').
        Study <br> Notes
    li: a(href='/study-guides/') Bookstore
  
  ul.channels
    li.rss: a(href='#', title='Subscribe to our RSS feed') RSS
    li.facebook: a(href='http://www.facebook.com/StudyNotesApp', title='Like us on Facebook!') Facebook
    li.twitter: a(href='http://twitter.com/StudyNotesApp', title='Follow us on Twitter!') Twitter
    li.newsletter: a(href='http://www.smashingmagazine.com/the-smashing-newsletter/', title='Subscribe to our Email Newsletter (107K)') Newsletter

