if breadcrumbs
  .breadcrumbs
    each link_, i in breadcrumbs
      if link_.url
        a(href=link_.url)= link_.name
      else
        span= link_.name
      if i !== breadcrumbs.length - 1
        span.divider
