.ghost
  .toolbar.clearfix
    if (locals.meta.url)
      div(class='fb-like', data-href='#{locals.meta.url}', data-send='false', data-width='400', data-show-faces='false')
    if noteNext
      a.btn.next(href='#{noteNext.url}', title='Next: #{noteNext.name}') Next →
    .navigate-msg Use ← → keys to navigate