if (locals.course)
  .countdown.clearfix.hide-tablet
    h2 Countdown to the <br> AP Exam
    .clearfix
      .time
        .days
        span DAYS
      .time
        .hours
        span HOURS
      .time
        .minutes
        span MINUTES
      .time
        .seconds
        span SECONDS

    h3.left-to-study until <span class="date"></span>
