footer.footer
  block footer
    p © 2013 Study Notes. All Rights Reserved.

    h3 What is this website?
    p AP StudyNotes.org is the premiere online resource for 100% FREE AP notes! We offer free study materials to high school students seeking to prepare for AP (Advanced Placement) classes and exams. Students use this website to learn AP class material, study for quizzes and tests, and brush up on course material before the big exam day.

    small * Advanced Placement, AP, and SAT are registered trademarks of the College Board. All other trademarks. All other products and services may be trademarks of their respective owners.