footer.footer
  block footer
    h3 What is this website?
    p AP StudyNotes.org is the premiere online resource for 100% FREE AP notes!
    p We offer free study materials to high school students seeking to prepare for AP (Advanced Placement) classes and exams.
    p Students use this website to learn AP class material, study for quizzes and tests, and brush up on course material before the big exam day.