footer.footer
  block footer
    .row
      p.randomquote
        q= randomquote.text
        | #{ ' ' }
        span.author!= randomquote.author.replace(' ', '&nbsp;')

    .row
      .col
        h3 AP Courses
        ul
          each course in modelCache.courses
            li: a(href='#{course.url}')= course.name
          li: a(href='/study-guides/') Amazon.com Book Store
          //- li: a(href='/submit/note/'): strong Submit Notes

      .col
        h3 College Prep
        ul
          li: a(href='/colleges/') Top Admissions Essays
          li: a(href='/stanford/', title='Stanford Admissions Essays') Stanford Essays
          li: a(href='/submit/essay/'): strong Submit an Essay

      .col
        h3 Site Links
        ul
          li: a(href='/about/') About This Site
          li: a(href='/contact/') Contact Us
          li: a(href='/open-source/') Open Source
          li: a(href='/plagiarism/') Plagiarism Policy

      .col.about-this-site
        h3 What is StudyNotes.org?
        ul
          li That's easy &mdash; it's the best way to study for AP* classes and AP* exams! StudyNotes.org offers <strong>fast, free study tools for AP* students</strong>. Our AP* study guides, practice tests, and notes are the best on the web because they're contributed by students and teachers like yourself. Always 100% free.

    .row
      .google-plusone
        | <div class="g-plusone" data-annotation="none" data-href="http://www.apstudynotes.org"></div>
      small: i With a commitment to quality educational content for students and teachers.
      small Copyright © 2006-2013 <a href="/">StudyNotes, Inc</a>. Made in Stanford, California. <a href="/photo-credits/">Photo Credits</a>. <a href="/privacy/">Privacy</a>.
      small Advanced Placement, AP, and SAT are registered trademarks of the College Board, which was not involved in the production of, and does not endorse this web site.
