footer.footer
  block footer
    .row
      p.randomquote
        q= randomquote.text
        span.author!= randomquote.author.replace(' ', '&nbsp;')

    .row
      .col
        h4 AP* Courses
        ul
          each course in locals.courses
            li: a(href='#{course.url}')= course.name

      .col
        h4 Site Links
        ul
          li: a(href='/about/') About This Site
          li: a(href='/contact/') Contact Us
          li: a(href='/plagiarism/') Plagiarism Policy
          li: a(href='/open-source/') Open Source

      .col.about-this-site
        h4 What is StudyNotes.org?
        ul
          li That's easy &mdash; it's the best way to study for AP* classes and AP* exams! StudyNotes.org offers <strong>fast, free study tools for AP* students</strong>. Our AP* study guides, practice tests, and notes are the best on the web because they're contributed by students and teachers like yourself. Always 100% free.

    .row
      small: i With a commitment to quality educational content for students and teachers.
      small Copyright © 2006-2013 <a href="/">Study Notes</a>. Made in Stanford, California. <a href="/photo-credits/">Photo Credits</a>. <a href="/privacy/">Privacy</a>.
      small * Advanced Placement, AP, and SAT are registered trademarks of the College Board, which was not involved in the production of, and does not endorse this web site.

      //- PeerCDN test
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/S.png')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/english.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/outdoor-ipad-books.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/fine-print.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/parliament-thames-london.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/us-government.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/us-history.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/hero/us-history-2.jpg')
      img(style='width: 10px; height: 10px; margin: 0 0 0 10px;', src='/images/feross.jpg')