if (locals.hero)
  .hero

    .text
      a(href='#{hero.url || '#'}')
        h1= hero.title
        h2 Class Notes, Test Prep, Review Materials, and More.

    if (locals.hero.tabs)
      ul.tabs.clearfix
        each tab in locals.hero.tabs
          li(class='#{locals.notetype && tab.slug == notetype.slug ? "on" : ""}')
            a(href='#{tab.url}')= tab.name