.sidebar
  img(style='width: 100%;', data-peercdn-src='/images/hero/english.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/hero/outdoor-ipad-books.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/hero/fine-print.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/hero/parliament-thames-london.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/hero/us-government.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/hero/us-history.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/hero/us-history-2.jpg')
  img(style='width: 100%;', data-peercdn-src='/images/feross.jpg')

  //- use `append` to add stuff to sidebar
  block sidebar
