.toolbar-ghost.hide-phone
  .toolbar.clearfix
    block toolbar
      if (locals.url && !locals.offline)
        a(href='https://twitter.com/share', class='twitter-share-button', data-url='http:#{ locals.url }', data-via='StudyNotesApp') Tweet
        | <iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href=#{ encodeURIComponent('http:' + locals.url) }&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=466476846723021" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>

hr.phone