.toolbar-ghost
  .toolbar.clearfix
    block toolbar
      .share
        a.icon-facebook-squared(href='#') <span class="hide-tablet-tight hide-phone">Share on </span>Facebook
        a.icon-twitter(href='#') <span class="hide-tablet-tight hide-phone">Share on </span>Twitter
        a.icon-tumblr(href='#') <span class="hide-tablet-tight hide-phone">Share on </span>Tumblr
