.toolbar-ghost
  .toolbar.clearfix
    block toolbar
      .share
        a.icon-facebook-squared(href='#') <span class="hide-phone-tight">Share</span>
        a.icon-twitter(href='#') <span class="hide-phone-tight">Tweet</span>
        a.icon-tumblr(href='#') <span class="hide-phone-tight">Post</span>
