.toolbar-ghost
  .toolbar.clearfix
    block toolbar
      .share
        a.icon-facebook-squared(href='#') Share on Facebook
        a.icon-twitter(href='#') Share on Twitter
        a.icon-tumblr(href='#') Share on Tumblr
