.toolbar-ghost
  .toolbar.clearfix
    block toolbar
      if (locals.url)
        a(href='https://twitter.com/share', class='twitter-share-button', data-url='#{ locals.url }', data-via='StudyNotesApp', data-size='large') Tweet
        div(class='fb-like', data-href='#{ locals.url }', data-send='false', data-width='400', data-show-faces='false')