.lev_history
db/store/
node_modules/
secret.js
static/out/
tmp/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project