extends base

append vars
  - var layout = 'form'

block body
  .content.clearfix
    a.birdy(href='#{ config.siteOrigin }')
      img.birdy-bird(src=config.cdnOrigin + '/images/birdy-bird.png')
      img.birdy-shadow(src=config.cdnOrigin + '/images/birdy-shadow.png')
    block content
      p This page has no content.

    footer
      block footer
