extends base

append vars
  - var layout = 'form'

block body
  .content.clearfix
    a(href='#{ config.siteOrigin }')
      include ../includes/birdy
    block content
      p This page has no content.

    footer
      block footer
