extends base

block vars
  - var layout = 'form'

block body
  .content.clearfix
    a.corner(href='/'): img(src='#{ config.cdnOrigin }/images/S.png')
    block content
      p This page has no content.

    footer
      block footer