extends base

block body

  include ../includes/header
  include ../includes/hero

  .contentWrapper
    .content.clearfix
      block content
        p This page has no content.

  include ../includes/sidebar

  include ../includes/footer