extends base

block vars
  - var layout = 'main'

block body
  include ../includes/header
  .wrap
    include ../includes/hero
    .content
      block content
      //- .sidebar
        block sidebar
    include ../includes/footer