extends base

append vars
  - var layout = 'main main-sidebar'

block body
  include ../includes/header
  include ../includes/browseMenus
  if hero
    .heroImage
  .wrap
    include ../includes/hero
    .contentWrapper
      .content.clearfix
        block content
    .sidebar
      include ../ads/virus-cafe
      block sidebar
      include ../ads/cj-grammarly
    include ../includes/footer
