extends base

block vars
  - var layout = 'main main-sidebar'

block body
  include ../includes/header
  .wrap.clearfix
    include ../includes/hero
    .contentWrapper
      .content
        block content
    .sidebar
      block sidebar
    include ../includes/footer