.ad
  style.
    .studynotes-sidebar {
      width: 336px;
      height: 280px;
    }
    @media(min-width: 800px) {
      .studynotes-sidebar {
        width: 160px;
        height: 600px;
      }
    }
    @media(min-width: 1100px) {
      .studynotes-sidebar {
        width: 336px;
        height: 280px;
      }
    }

  if config.isProd
    ins(class="adsbygoogle studynotes-sidebar", style="display:inline-block", data-ad-client="ca-pub-7826623632932605", data-ad-slot="2128690705")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({})
  else
    img.studynotes-sidebar(src='/images/placeholder-ad.png')