.da.pull-right
  if config.isProd
    ins(class="adsbygoogle studynotes-in-content", style="display:inline-block", data-ad-client="ca-pub-7826623632932605", data-ad-slot="1538751506")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({})
  else
    img.studynotes-in-content(src='#{ config.cdnOrigin }/images/placeholder-ad.png')
