.ad
  if config.isProd
    script(type="text/javascript").
      <!--
      google_ad_client = "ca-pub-7826623632932605";
      /* StudyNotes Link Units */
      google_ad_slot = "2673337105";
      google_ad_width = 468;
      google_ad_height = 15;
      //-->
    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  else if locals.offline
    img.link-unit(src='/images/placeholder-ad.png')
  else
    img.link-unit(src='http://lorempixel.com/468/15')