.ad.pull-right
  style.
    .studynotes-in-content {
      width: 336px;
      height: 280px;
    }
    @media (max-width: 799px) {
      .studynotes-in-content {
        width: 336px;
        height: 280px;
      }
    }
    @media (min-width: 800px) and (max-width: 1099px) {
      .studynotes-in-content {
        width: 336px;
        height: 280px;
      }
    }
    @media (min-width: 1100px) {
      .studynotes-in-content {
        width: 336px;
        height: 280px;
      }
    }

  if config.isProd
    ins(class="adsbygoogle studynotes-in-content", style="display:inline-block", data-ad-client="ca-pub-7826623632932605", data-ad-slot="1538751506")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({})
  else
    img.studynotes-in-content(src='/images/placeholder-ad.png')
