.ad-inline
  if locals.ads
    script(type="text/javascript")
      <!--
      google_ad_client = "ca-pub-7826623632932605";
      /* StudyNotes In-Content LRectangle */
      google_ad_slot = "8440669102";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  else
    img(src='http://lorempixel.com/336/280')