#footer
  #the-smashing-cat
    a(href='http://www.smashingmagazine.com/about/')
      img(title='The Smashing Cat', alt='The Smashing Cat', src='http://media.smashingmagazine.com/themes/smashingv4/images/smashing-cat.png')
  .contribute
    h4 Best of Design
    ul
      li: a(href='http://www.smashingmagazine.com/responsive-web-design-guidelines-tutorials/') Responsive Design
      li: a(href='http://www.smashingmagazine.com/professional-photoshop-techniques-tutorials/') Photoshop
      li: a(href='http://www.smashingmagazine.com/typography-guidelines-and-references/') Typography
      li: a(href='http://www.smashingmagazine.com/guidelines-for-mobile-web-development/') Mobile Design
      li: a(href='http://www.smashingmagazine.com/usability-and-user-experience/') Usability and UX
      li: a(href='http://www.smashingmagazine.com/web-design-essentials-examples-and-best-practices/') Web Design Showcases
  .contribute
    h4 Best of Coding
    ul
      li: a(href='http://www.smashingmagazine.com/learning-javascript-essentials-guidelines-tutorials/') JavaScript & jQuery
      li: a(href='http://www.smashingmagazine.com/learning-wordpress-useful-wordpress-tips-tutorials/') WordPress Techniques
      li: a(href='http://www.smashingmagazine.com/coding-with-html5-tutorials-guidelines/') HTML5 Tutorials
      li: a(href='http://www.smashingmagazine.com/mastering-css-principles-comprehensive-reference-guide/') CSS
      li: a(href='http://www.smashingmagazine.com/time-savers-tools-useful-services-web-design/') Useful Time Savers
      li: a(href='http://www.smashingmagazine.com/bored-the-curious-side-of-smashing-magazine/') Bored?
  .contribute.our-content
    h4 Smashing Hub
    ul
      li: a(href='http://www.smashingmagazine.com') Smashing Magazine
      li: a(href='http://www.smashingmagazine.com/books/') Smashing Books
      li: a(href='http://www.smashingmagazine.com/ebooks/') Smashing eBooks
      li: a(href='http://www.smashingmagazine.com/the-smashing-newsletter/') Smashing Email Newsletter
      li: a(href='http://shop.smashingmagazine.com') Smashing Shop
      li: a(href='http://jobs.smashingmagazine.com/') Smashing Job Board
  .contribute
    h4 Other Resources
    ul
      li: a(href='http://www.smashingmagazine.com/2011/09/08/to-five-smashing-years-and-a-free-anniversary-ebook-treat/') Free Anniversary eBook
      li: a(href='http://www.smashingmagazine.com/smashing-book-1/') Smashing Book 1 in HTML
      li: a(href='http://www.smashingmagazine.com/the-lost-files/') Smashing Book 2 Extras
      li: a(href='http://www.smashingmagazine.com/publishing-policy/') Publishing Policy
      li: a(href='http://www.smashingmagazine.com/about/') About us
      li: a(href='http://www.smashingmagazine.com/contact/') Contact us
  p.statement
    em With a commitment to quality content for the design community.
    br
    a(href='http://www.smashingmagazine.com/about/') Smashing Media GmbH
    | . Made in Germany. 2006-2012.