meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

- if (typeof forceTitle !== 'undefined')
  title= forceTitle
- else
  title #{title} - Study Notes

meta(name='description', content='TODO')
meta(name='keywords', content='TODO')

// TODO: Add open graph tags 
// <link rel="canonical" href="TODO" /> 
// <link rel="prev" href="TODO" /> 
// <link rel="next" href="TODO" /> 

meta(name='viewport', content='width=device-width, initial-scale=1.0')

// TODO: try these other options:
// <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
// <meta name="viewport" content="width=device-width">

// TODO: add rss feed, see: https://github.com/opensearch.xml 
// <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="StudyNotes" /> 

link(rel='stylesheet', href='/stylesheets/main.css')

link(rel='stylesheet', href='/stylesheets/print.css', media='print')

// TODO: look at ie8.css, print.css
//if IE 8
  link(rel='stylesheet', href='http://media.smashingmagazine.com/themes/smashingv4/stylesheets/ie8.css')

// Typekit 
script(type='text/javascript', src='http://use.typekit.net/djj4afz.js')
script(type='text/javascript')
  try{Typekit.load();}catch(e){}

// Modernizr 
script(src='/javascripts/libs/modernizr-2.5.3.min.js')