include ../ads/adsense-rect
include ../includes/countdown
include ../ads/adsense-rect
h2 #{ course.shortName } #{ notetype.name } Stats
ul
  li #{ util.addCommas(courseNotetype.hits) } views
  li.online