extends layout

block content
  h2 The Best Way to Study
  p StudyNotes.org is the best way to study for AP* classes and AP* exams! StudyNotes.org offers fast, free study tools for AP* students. Our AP* study guides, practice tests, and notes are the best on the web because they're contributed by students and teachers like you. Always 100% free.
  h2 Founder
  p <a href="http://feross.org">Feross Aboukhadijeh</a>, Stanford 2012