extends layout

block content
  h2 About StudyNotes

  p At StudyNotes, we are building the best and simplest learning tools to empower students to accelerate their learning &ndash; i.e. to learn more effectively, in a shorter time, and with better long-term recall.
  p We believe that the educational process can be massively accelerated &ndash; students shouldn't need to spend 15 years in a classroom before they're useful to society! We want to help every student learn faster so they can contribute more useful art, science, and technology to society over their lifetime.
  p Currently, StudyNotes offers the best Advanced Placement* study guides, practice tests, and notes on the web, contributed and curated by students and teachers like yourself. <strong>The site is used by millions of students in all 50 U.S. states</strong> to prepare for AP* courses and exams.
  
  h2 Meet the Founder

  img(src='/images/feross.jpg')
  
  p StudyNotes was started in 2006 by <a href="http://feross.org">Feross Aboukhadijeh</a> when he was a high school junior in order to share his class notes with his classmates and the world.
  p Feross is currently 22 years old and has a BS in computer science from <a href="http://stanford.edu">Stanford University</a> and is currently working towards earning his MS. Feross is a web developer, designer, computer security researcher, teacher, long distance runner, gamer, and music lover.
  p In the past, Feross has worked at <a href="http://www.facebook.com">Facebook</a>, <a href="http://www.quora.com/">Quora</a>, and <a href="http://www.intel.com">Intel</a>. He also did research in the <a href="http://hci.stanford.edu/">Stanford human-computer interaction</a> and <a href="http://seclab.stanford.edu/">computer security</a> labs, <a href="http://cs198.stanford.edu">taught computer science</a> for 6 quarters to undergradute students in Stanford's computer science program, and was president of the <a href="http://stanfordacm.com/">Stanford ACM</a>, the computer science club, where he helped to organize <a href="http://stanfordacm.com/past/">over 100 events</a>.
  p In September 2010, Feross built <a href="http://ytinstant.com">YouTube Instant</a> (a really fast way to search YouTube) in just 3 hours as a bet with his roommate. The site garnered immediate worldwide media attention &ndash; 1 million visitors in 10 days, and hundreds of news stories. Chad Hurley, CEO and co-founder of YouTube, was so impressed that he immediately offered Feross a job at YouTube (which he had to turn down in order to finish his degree at Stanford).
  p Feross also <a href="http://feross.org/">writes a blog</a> where his posts have been read nearly 2 million times since 2009.
  p: strong Feross is presently working full-time on StudyNotes.

  h2 Meet StartX

  p In Winter 2013, StudyNotes is participating in <a href="http://startx.stanford.edu/">StartX</a>, the Stanford student startup accelerator program. StartX is a non-profit organization whose mission is to accelerate the development of Stanford's top entrepreneurs through experiential education.