extends layouts/main

block content
  .row
    .col3
      h3 High Volume
      p Study Notes reaches over 800,000 U.S. students each month.
    .col3
      h3 Genuine Engagement
      p Users spend 3,300+ hours studying on Study Notes each day.
    .col3
      h3 Valuable Demographic
      p High-achieving teenagers and young adults, ages 16-24.

  h2 Get in touch

  p You can reach us directly at <a href="mailto:contact@studynotes.org">contact@studynotes.org</a>. To speak with someone on our team, please contact:

  pre.
    Feross Aboukhadijeh
    Founder &amp; CEO, Study Notes
    +1 (530) 633-7677

  h2 Reach our Users
  a.pull-right(href='https://www.quantcast.com/apstudynotes.org', style='width:30%;padding-left:20px'): img(src=config.siteOrigin + '/images/rank.png')
  p Reach millions of engaged and passionate students on one of the most-visited website in the U.S.

  a(href='https://www.quantcast.com/apstudynotes.org'): img(src=config.siteOrigin + '/images/demographics.png')

  h2 User interests
  a(href='https://www.quantcast.com/apstudynotes.org'): img(src=config.siteOrigin + '/images/interests.png')
