extends layouts/main

block content
  p Some people are more comfortable sharing their college essays and class notes with the world if they can do so anonymously. We respect this wish. Users can request anonymity by checking the "Anonymous" box when submitting their essay/note.

  blockquote Give a man a mask and he will tell you the truth. — Oscar Wilde

  h3 Verification Process

  p StudyNotes staff have access to every user's real name for verification purposes. We verify the authenticity of all submissions before they appear on the website. Primarily, we confirm that the user did get admitted to the university that they claim.

  p For notes, we examine notes for factual accuracy and also rely on the StudyNotes community to report notes with factual innacurracies so we can correct them.

  h3 Feedback

  p If you have questions or feedback about this policy, please <a href="/contact/">contact us</a>.