extends layouts/main

block content
  p Some people are more comfortable sharing their college essays and class notes with the broader world if they are guaranteed a certain degree of anonymity. We respect this wish.

  h2 Verification Process

  p We (StudyNotes) verify the authenticity of all college essay submissions before they appear on the website. Primarily, we confirm that the user did get admitted to the university that they claim.

  p For notes, we do a cursory examination for factual accuracy but rely on the greater StudyNotes community to report notes with factual innacurracies so we can correct them.

  h2 The Value of Anonymity

  blockquote Give a man a mask and he will tell you the truth. — Oscar Wilde

  p We have access to every user's real identity for verification purposes, but we hide it from the website if the user requests us to. Users can request anonymity by checking the "Anonymous" box when submitting their essay/note.

  p If you have questions or feedback about this policy, please <a href="/contact/">contact us</a>.