extends layouts/main

append sidebar
  include includes/ads/adsense-rect
  include includes/ads/adsense-rect

block content

  if (locals.colleges)
    ul.listing
      each college in colleges
        li: a(href='#{college.url}')= college.name
