extends layouts/main-sidebar

block content
  h1 Top #{ colleges.length } Colleges
  p Learn about these <strong>top univerities</strong> and read college admissions essays that worked.

  include includes/toolbar

  if (locals.colleges)
    ul.listing
      each college in colleges
        li: a(href='#{college.url}')= college.rank + '. ' + college.name

block sidebar
  include ads/adsense-sidebar

  .center
    a.btn.large(href='/submit/essay/')
      i.icon-upload-cloud
      | Submit an essay

  h2 Essay Database
  ul
    li #{ util.addCommas(essayCount) } essays for #{ colleges.length } <a href='/colleges/'>universities</a>
    li.online
  include ads/adsense-sidebar
