extends layouts/main-sidebar

append sidebar
  include includes/ads/adsense-rect
  h2 College Essay Stats
  ul
    li #{ util.addCommas(essayCount) } essays for #{ colleges.length } <a href='/colleges/'>universities</a>
    li.online
  include includes/ads/adsense-rect

block content

  if (locals.colleges)
    ul.listing
      each college in colleges
        li: a(href='#{college.url}')= college.name
