extends layouts/main-sidebar

block sidebar
  include ads/adsense-sidebar
  include ads/adsense-sidebar

  ul
    li #{ util.addCommas(essayCount) } essays for #{ colleges.length } <a href='/colleges/'>universities</a>
    li.online

block content
  h1 Top #{ colleges.length } Colleges
  p Learn about these <strong>top univerities</strong> and read college admissions essays that worked.

  include includes/toolbar

  if config.essaySeason
    include ads/essay-review
    hr
  else
    include ads/adsense-in-content

  if (locals.colleges)
    ul.listing
      each college in colleges
        li: a(href='#{college.url}')= college.rank + '. ' + college.name

  hr
  include ads/pro
