extends layouts/main

block content
  h2 Email
  p You can reach us directly at <a href="mailto:contact@studynotes.org">contact@studynotes.org</a>.

  h2 Phone
  p If you would like to leave us a voicemail, our number is <strong>1 (650) 200-0383</strong>.

  h2 Mailing Address
  pre.
    Study Notes, LLC
    PO Box 19678
    Stanford, CA 94309
    United States

  p We don't check our mailbox very often, so please use email or voicemail.

  h2 Site Feedback
  p If you have feedback about the website (ideas for new features, or a problem to report), please use the feedback widget in the bottom-right of every page of the site. This makes it easy to track the most popular requests so we can prioritize what to work on.
