extends layout

block content
  include includes/breadcrumbs

  .notetypes.clearfix
    each notetype in locals.notetypes
      div.notetype
        h2(class='#{notetype.slug}')
          a(href='#{notetype.url}')= notetype.name
          span.desc!= notetype.shortDesc

  include ads/amazon