extends layout

block content
  //- include includes/breadcrumbs

  each notetype in locals.notetypes
    h2: a(href='#{notetype.url}')= notetype.name
    p.desc!= notetype.shortDesc

  include ads/amazon