extends layouts/main-sidebar

append sidebar
  include includes/ads/adsense-rect
  include includes/ads/adsense-rect

block content
  each course in courses
    h2: a(href='#{course.url}')= course.name
    p.desc!= course.desc
