extends layout

append sidebar
  include includes/ads/adsense-rect
  include includes/countdown
  include includes/ads/burst-rect

block content
  h1 #{course.name} Notes
  include includes/toolbar

  each notetype in locals.notetypes
    h2: a(href='#{notetype.url}')= notetype.name
    p.desc!= notetype.shortDesc

  hr
  include includes/ads/adsense-link-unit