extends layout

block content
  //- include includes/breadcrumbs
  h1.off= course.name

  each notetype in locals.notetypes
    h2: a(href='#{notetype.url}')= notetype.name
    p.desc!= notetype.shortDesc

append sidebar
  include ads/amazon
  if (locals.course)
    include includes/countdown