extends layouts/main

append vars
  - hero.image = 'error.gif'

block content
  p Feel free to <a href="/contact/">send me a strongly-worded email</a> expressing the depths of your sorrows at being unable to find whatever it is you were trying to find. I’ll fix it as quickly as possible!
  p You should try <a href="/">checking out the homepage</a>. You’ll probably find what you want from there.

  br

  //- 404 help from Google
  script.
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = '#{config.siteOrigin}';
  script(src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js")