extends layouts/main

append vars
  - hero.image = 'error.gif'

block content
  p We've been notified of the error. If you want, you can <a href="/contact/">send us an email</a> expressing the depths of your sorrows at encountering this error. We'll fix it just for you!
  p You could also try <a href="/">checking out the homepage</a>. You’ll probably find what you want from there.

  br

  //- 404 help from Google
  script.
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = '#{config.siteOrigin}';
  script(src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js")