extends layouts/main

append vars
  - hero.image = 'error.gif'

block content
  p We've been notified of the error. If you want, you can <a href="/contact/">send us an email</a> and let us know about the problem too.
  p You could also try <a href="/">checking out the homepage</a>. You’ll probably find what you want from there.

  //- 404 help from Google
  script.
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = '#{config.siteOrigin}';
  script(src='https://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js')
