extends layouts/main

block content
  h1 Congratulations!

  p A tutor will be in touch with you shortly to discuss your customized coaching plan.

  h2 Your Next Steps

  p To help us get started as quickly as possible, please send an email to <a href="mailto:feross@studynotes.org">feross@studynotes.org</a> with the following information:

  ul.tight
    li Your full name
    li Your phone number
    li Universities you plan to apply to
    li Your essays (please attach them to the email)

  //- TODO: only show this line if the user purchased the Premium package
  p If you haven't started on your essays yet, just let us know that.

  p If you have any other questions, you can include them in your email to us.

  p: em — The Study Notes Team <br> 1 (530) 633-7677
