extends layouts/main-sidebar

block content
  //- h1 College Essays That Worked
  h1 Top #{ essays.length } Successful College Essays
  p Get into the college of your dreams! <strong>We hope these essays inspire you</strong> as you write your own personal statement. Just remember to be original and creative as you share your story.

  include includes/toolbar

  include includes/essay-list

append sidebar
  include ads/adsense-rect

  .center
    a.btn.large(href='/submit/essay/')
      i.icon-cloud-upload
      | Submit an essay

  h2 Top 25 Colleges
  ul.more
    each college in modelCache.collegesByRank
      li: a(href=college.url)= college.name

  include ads/adsense-rect

  h2 Essay Database Stats
  ul
    li #{ util.addCommas(essays.length) } essays for #{ collegeCount } <a href='/colleges/'>universities</a>
    li.online