extends layout

block content

  h2 Welcome to the new AP* Study Notes!
  p This website offers <strong>awesome study notes</strong> that will help you with <strong>Advanced Placement* homework and AP exams</strong>. We offer <strong>free study materials</strong> for the following Advanced Placement subjects:
  ul
    li: a(href='/us-history/') AP U.S. History (APUSH)
    li: a(href='/us-government/') AP U.S. Government &amp; Politics (AP Gov)
    li: a(href='/english/') AP English Language and Composition
    li: a(href='/english/') AP English Literature and Composition

  p APstudynotes.org is <strong>the premiere resource for AP Gov, AP USH, and AP English notes</strong> on the Internet!

  p <strong>Over the coming weeks</strong>, we will have notes for the following courses:
  ul
    li AP Art History
    li AP Biology (AP Bio)
    li AP Calculus (AB &amp; BC)
    li AP Chemistry (AP Chem)
    li AP Chinese Language and Culture
    li AP Comparative Government &amp; Politics
    li AP Computer Science A
    li AP Environmental Science
    li AP European History
    li AP French Language and Culture
    li AP German Language and Culture
    li AP Human Geography
    li AP Italian Language and Culture
    li AP Japanese Language and Culture
    li AP Latin
    li AP Macroeconomics (AP Econ)
    li AP Microeconomics
    li AP Music Theory
    li AP Physics (B &amp; C)
    li AP Psychology (AP Psych)
    li AP Spanish Language
    li AP Spanish Literature and Culture
    li AP Statistics (AP Stats)
    li AP Studio Art
    li AP World History (APWH)

  p Our <strong>free AP notes</strong> include:
  ul
    li course guides
    li chapter outlines
    li topic outlines
    li vocabulary &amp; key terms
    li important historical documents
    li biographies
    li timelines
    li formulas
    li practice quizzes
    li practice tests
    li cram sheets
    li course information
  
  p Welcome to APstudynotes.org, the premiere resource for AP Gov, AP USH, and AP English notes on the Internet!

  p <strong>Free. $0. Zilch. Nada.</strong><br />That's how much it will cost you to use StudyNotes!
  ul
    li Post on the <strong>forum</strong> (coming soon) where you can receive help with your homework from other members
    li Receive <strong>tips and tricks</strong> on how to prepare for the <strong>AP tests</strong>
    li Complain about how hard your class is to other students who feel your pain!

  //
    each course in courses
      .card
        h2= course.name
        img(src='/images/#{course.image}')