extends layout

block content

  h1 Welcome to the new AP* Study Notes!

  p We have the best Advanced Placement* study guides, practice tests, and notes on the web, contributed and curated by students and teachers like yourself. <strong>The site is used by millions of students in all 50 U.S. states to prepare for AP* courses and exams.</strong>

  h2 We have <strong>free notes</strong> for the following AP* classes:
  
  ul
    li: h3: a(href='/us-history/') AP U.S. History (APUSH)
    li: h3: a(href='/us-government/') AP U.S. Government &amp; Politics (AP Gov)
    li: h3: a(href='/english/') AP English Language and Composition
    li: h3: a(href='/english/') AP English Literature and Composition

  p: br

  p <strong>Over the coming weeks</strong>, we will have notes for the following courses:
  
  ul
    li AP Art History
    li AP Biology (AP Bio)
    li AP Calculus (AB &amp; BC)
    li AP Chemistry (AP Chem)
    li AP Chinese Language and Culture
    li AP Comparative Government &amp; Politics
    li AP Computer Science A
    li AP Environmental Science
    li AP European History
    li AP French Language and Culture
    li AP German Language and Culture
    li AP Human Geography
    li AP Italian Language and Culture
    li AP Japanese Language and Culture
    li AP Latin
    li AP Macroeconomics (AP Econ)
    li AP Microeconomics
    li AP Music Theory
    li AP Physics (B &amp; C)
    li AP Psychology (AP Psych)
    li AP Spanish Language
    li AP Spanish Literature and Culture
    li AP Statistics (AP Stats)
    li AP Studio Art
    li AP World History (APWH)

  p Our <strong>free AP notes</strong> include:
  
  ul
    li course guides
    li chapter outlines
    li topic outlines
    li vocabulary &amp; key terms
    li important historical documents
    li biographies
    li timelines
    li formulas
    li practice quizzes
    li practice tests
    li cram sheets
    li course information
  
  p StudyNotes is the best place for AP Gov, AP USH, and AP English notes and we'll soon be the best for all AP classes!

append sidebar
  h3 Do you enjoy using StudyNotes?
  p <strong>Awesome &ndash; glad to hear that!</strong> Send us an email at <a href="mailto:contact@studynotes.org">contact@studynotes.org</a> and tell us how StudyNotes has helped you study better and we'll feature you on the website!
