extends layouts/form

block content
  h1 Log in to StudyNotes
  h2 Provide your email and password

  if (locals.errors)
    ul.errors
      each msg in errors
        li= msg

  form(method='POST')
    input(type='email', name='email', placeholder='email', autofocus)
    input(type='password', name='password', placeholder='password')
    button.btn.large(type='submit') Log In