extends layouts/login

block content
  h1 Log in to StudyNotes
  h2 Provide your email and password

  ul.error-msgs
    each msg in errors
      li.error-msg= msg

  div.login
    form(method='POST')
      input(type='email', name='email', placeholder='Email')
      input(type='password', name='password', placeholder='Password')
      input(type='submit', value='Log In')