extends layouts/main-sidebar

block sidebar
  include sidebars/notetype

block content
  include includes/breadcrumbs
  h1= notetype.name
  include includes/toolbar

  include ads/adsense-in-content

  - var desc = (notetype.desc || notetype.shortDesc).replace(/COURSE_SHORTNAME/g, course.shortName).replace(/COURSE_TEXTBOOK/g, course.textbook).replace(/COURSE/g, course.name)

  p!= desc

  ul.listing
    each note in notes
      li: a(href='#{note.url}')= note.name

  include ads/adsense-link-units
