include mixins/entries
extends layouts/main-sidebar

block sidebar
  include sidebars/notetype

block content
  include includes/breadcrumbs
  h1= notetype.name

  - var desc = (notetype.desc || notetype.shortDesc).replace(/COURSE_SHORTNAME/g, course.shortName).replace(/COURSE_TEXTBOOK/g, course.textbook).replace(/COURSE/g, course.name)
  p!= desc

  include includes/toolbar

  if (notes.length)
    +entries(notes)