extends layout

block content
  include includes/breadcrumbs
  h1= notetype.name
  p!= notetype.desc || notetype.shortDesc
  
  ul.listing
    each note in locals.notes
      li: a(href='#{note.slug}/')= note.name

append sidebar
  include ads/amazon
  if (locals.course)
    include includes/countdown