extends layout

append sidebar
  include includes/ads/adsense-rect-skyscraper
  include includes/countdown
  include includes/ads/adsense-rect

block content
  include includes/breadcrumbs
  h1= notetype.name
  
  include includes/toolbar

  p!= notetype.desc || notetype.shortDesc
  
  ul.listing
    each note in locals.notes
      li: a(href='#{note.slug}/')= note.name

  hr
  include includes/ads/adsense-link-unit
