extends layouts/main

block content
  h1 Open Source @ Study Notes

  p The free software philosophy has brought enormous amounts of good to the world. The team at Study Notes firmly believes this. <strong>That's why we release all our code as open source on <a href="https://github.com/feross/studynotes">GitHub</a>.</strong>

  p While all the site content (notes, essays, etc.) are copyrighted to the respective content owners (mostly Study Notes, LLC.), the software which powers the site is available for free under a permissive license, for anyone to learn from and contribute to!

  h2 The spread of open source

  p Open source is everywhere today. The majority of servers on the Internet are powered by <a href="https://en.wikipedia.org/wiki/Apache_HTTP_Server">Apache</a> (an open source web server) and <a href="https://en.wikipedia.org/wiki/Linux">Linux</a> (an open source operating system). Most networks in large corporations are powered by Linux, and even 95% of the desktops and servers at major Hollywood movie studios like Disney, Pixar, DreamWorks, and Sony run Linux.

  p Nearly everyone in the world directly benefits from open source software, whether they’ve heard of it or not.

  h2 The hacker spirit

  blockquote "Free software" is a matter of liberty, not price. To understand the concept, you should think of "free" as in "free speech," not as in "free beer." — Richard Stallman

  p Here's a clip from an excellent documentary called <strong>Hackers: Wizards of the Electronic Age</strong> which has some great sound bites about why open/free software is so important:

  p
    center
      | <iframe width="640" height="480" src="//www.youtube.com/embed/oIrXuv-JjeE" frameborder="0" allowfullscreen></iframe>

  p The main guy in the interview is Richard Stallman, or "rms", as he likes to be called. He's a living legend in the computing field. He’s widely considered to be the father of the free software movement.

  p So, <a href="https://github.com/feross/studynotes">go check out the code</a> on GitHub! :)
