extends layouts/main

block content
  p The beautiful photos you see throughout our website were generously provided by friends and kind souls who licensed their images under the Creative Commons License. A huge thanks to:
  ul
    li
      a(href='https://secure.flickr.com/people/johannacalifornia/') Johanna van de Woestijne
      |  - Many photos
    li
      a(href='https://commons.wikimedia.org/wiki/Main_Page') Wikimedia Commons
      |  - Many photos
    li
      a(href='https://secure.flickr.com/photos/50203533@N00/2921317578/') Stuart Seeger
      |  - "Painted Flag Art"
    li
      a(href='https://secure.flickr.com/photos/22178197@N00/8715851521/') Kamil Porembiński
      |  - "Clouds"
    li
      a(href='https://secure.flickr.com/photos/64086520@N00/1234372727/') Mister Majik
      |  - "Insane Book Store"
    li
      a(href='https://secure.flickr.com/photos/mrzeon/4930635436/') Daniel Dionne
      |  - "Leland Stanford Junior University"
    li
      a(href='https://secure.flickr.com/photos/patrick_nouhailler/8271127504/') Patrick Nouhailler
      |  - "Princeton"


    //- Currently unused
    //- https://secure.flickr.com/photos/84263554@N00/3222459785/
    //- https://secure.flickr.com/photos/jurvetson/5262427459/
    //- https://secure.flickr.com/photos/peterkaminski/1678152/