extends layout

block content
  h2 Thanks!
  p The beautiful photos you see at the top of many StudyNotes pages were generously provided by kind friends and other Flickr folk who licensed their images under Creative Commons. A huge thanks to the following:
  ul
    li: a(href='http://www.flickr.com/people/johannacalifornia/') Johanna van de Woestijne
    li: a(href='http://www.flickr.com/photos/stuseeger/') Stuart Seeger
    li: a(href='http://commons.wikimedia.org/wiki/Main_Page') Wikimedia Commons
