extends layouts/main

block content

  p The beautiful photos you see throughout our website were generously provided by friends and kind souls who licensed their images under the Creative Commons License. A huge thanks to all of the following:

  h2 Photos
  ul
    li: a(href='https://secure.flickr.com/people/johannacalifornia/', rel='nofollow') Johanna van de Woestijne - Many photos
    li: a(href='https://commons.wikimedia.org/wiki/Main_Page', rel='nofollow') Wikimedia Commons - Many photos
    li: a(href='https://secure.flickr.com/photos/50203533@N00/2921317578/', rel='nofollow') Stuart Seeger - "Painted Flag Art"
    li: a(href='https://secure.flickr.com/photos/22178197@N00/8715851521/', rel='nofollow') Kamil Porembiński - "Clouds"
    li: a(href='https://secure.flickr.com/photos/64086520@N00/1234372727/', rel='nofollow') Mister Majik - "Insane Book Store"
    li: a(href='https://secure.flickr.com/photos/mrzeon/4930635436/', rel='nofollow') Daniel Dionne - "Leland Stanford Junior University"
    li: a(href='https://secure.flickr.com/photos/patrick_nouhailler/8271127504/', rel='nofollow') Patrick Nouhailler - "Princeton"
    li: a(href='https://secure.flickr.com/photos/101998537@N06/12558755803/', rel='nofollow') Alexander Sun - "College students"

  h3 The Noun Project
  ul
    li: a(href='http://thenounproject.com/noun/pencil/#icon-No1314', rel='nofollow') John Caserta - Pencil
    li: a(href='http://thenounproject.com/noun/united-states/#icon-No17978', rel='nofollow') DeeAnn Gray - United States
    li: a(href='http://thenounproject.com/noun/gavel/#icon-No1004', rel='nofollow') Connie Shu - Gavel
    li: a(href='http://thenounproject.com/noun/scroll/#icon-No1629', rel='nofollow') Eduardo Souza - Scroll
    li: a(href='http://thenounproject.com/noun/flash-cards/#icon-No4767', rel='nofollow') Rohan Gupta - Flash Cards
    li: a(href='http://thenounproject.com/noun/list/#icon-No18435', rel='nofollow') Zach Hedie A. Joulaee - List
    li: a(href='http://thenounproject.com/noun/list/#icon-No2836', rel='nofollow') P.J. Onori - List

    //- Currently unused
    //- https://secure.flickr.com/photos/84263554@N00/3222459785/
    //- https://secure.flickr.com/photos/jurvetson/5262427459/
    //- https://secure.flickr.com/photos/peterkaminski/1678152/
    //- li
    //-   a(href='http://thenounproject.com/noun/cannon/#icon-No703') Unknown Designer
    //-   |  - Cannon
