extends layouts/main

block content

  h2 StudyNotes Helps Students Learn From Their Peers

  p StudyNotes offers study materials to high school students so they can prepare for Advanced Placement* classes and exams. Students are encouraged to use the website to learn AP class material, study for the AP exam, and collaborate/learn from other students using our study tools. StudyNotes is a great study tool and can help you to get better grades and a higher score on the AP exam.

  h2 Plagiarism is Unethical

  p Students are NOT encouraged to pass off material found on this website as their own work. <strong>StudyNotes does NOT condone plagiarism in any way, shape, or form.</strong>

  p For example, if you read one of our <a href="/english/sample-essays/">sample AP English essays</a> and get some ideas to use in your own essay, then you should cite StudyNotes. Don't try to take credit for someone else's ideas &ndash; this is plagiarism.

  p Plagiarizing work has real and dire consequences. <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;tbm=nws&amp;q=plagiarism+scandal">Every few months</a> there's a huge scandal where some author, journalist, or scientist gets called out for plagiarising someone else's work. They often lose their job or get kicked out of their university. Plagiarism is serious business.

  h2 Use Citations

  p <strong>You are responsible for your own actions.</strong> When using StudyNotes resources, give appropriate credit by citing the page you used in your "Works Cited" or "Bibliography" page. StudyNotes can not be held responsible for plagiarism of our website's content. Also, note that in many cases plagiarism is also copyright infringement because you're copying someone else's content without getting their permission in writing first. It's not okay to copy StudyNotes materials this way.

  p Just remember to use common sense and you should not have any problems using our notes to help you become a better student. Your use of StudyNotes constitutes your understanding of the aforementioned guidelines and your promise to do the right thing.

  p: em Don't cheat!