extends layouts/main

block content
  h2 Your privacy is extremely important to us.

  p At StudyNotes, we recognize that privacy of your personal information is important.

  p Here is information on what types of personal information we receive and collect when you use and visit StudyNotes, and how we safeguard your information. <strong>We never sell your personal information to third parties.</strong>

  h2 Log Files

  p As with most other websites, we collect and use the data contained in log files. The information in the log files include your IP (internet protocol) address, the browser you used to visit our site (such as Google Chrome or Mozilla Firefox), the time you visited our site, and which pages you visited throughout our site.

  h2 Cookies and Web Beacons

  p We do use cookies to store information, such as your personal preferences when you visit our site. This is so that we can provide the ability for you to login to the site, submit your notes, and take part in community features.

  p We also use third party advertisements (Google AdSense) on StudyNotes to support our site. Some of these advertisers may use technology such as cookies and web beacons when they advertise on our site, which will also send these advertisers information including your IP address, the browser you used to visit our site, etc. Google may use a cookie to serve ads to you based on your visit to StudyNotes and/or other sites on the Internet. You may opt out of interest-based advertising by visiting the <a href="http://www.google.com/ads/preferences/">Google Ads Preference Manager</a>.

  p You can chose to disable or selectively turn off our cookies or third-party cookies in your browser settings. However, this can affect how you are able to interact with our site as well as other websites. This could include the inability to login.

  p: i Last updated January 7, 2013.