extends layouts/main-sidebar

append sidebar
  include ads/adsense-sidebar

  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg
  else
    h2 #{ msg }
    span <a href="/login/">Login now</a>
    div
    span Looking to <a href="/signup/">sign up</a> instead?
