extends layouts/main-sidebar

append sidebar
  include ads/adsense-sidebar

  h2 Reset your password
  form(action='/login/setPassword', method='post')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='hidden', name='resetToken', value='#{ resetToken }')
    input.form-control.input-lg(type='password', name='password', placeholder='Password')
    div(style='display:block; height:14px;')
    button.btn.btn-lg.btn-block.btn-danger(type='submit') Submit
