extends layouts/form

block content
  //- h1 Hey there! Let's get started.
  //- h2 What would you like to do?
  //- p Submit an Essay - get paid.
  //- p Buy an Essay - get into college.

  h1 Want to get into a top college?
  h2 Sign up now to start reading top essays!

  if (locals.errors)
    ul.errors
      each msg in errors
        li= msg

  form(method='POST')
    input(type='text', name='name', placeholder='full name')
    input(type='email', name='email', placeholder='email')
    input(type='password', name='password', placeholder='password')
    button.btn.large(type='submit') Sign Up