extends layouts/form

append vars
  - var editorAssets = true

block content
  h1 We need just a bit more info about you
  h2 Optional, but recommended

  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg

  form(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      select.select2(name='college', data-placeholder='What university do/did you attend?')
        option
        each college in modelCache.collegesByName
          if (college.id !== 'common-app')
            option(value=college.id, data-alt=college.shortName, selected=(user && (user.college === college.id)))= college.name
    .row
      input(name='collegeYear', type='text', placeholder='graduation year', value=(user && user.collegeYear))
    .row
      input(name='collegeMajor', type='text', placeholder='college major', value=(user && user.collegeMajor))
    .row.submit
      button.btn.large(type='submit') Finish
