extends layouts/form

block content
  h1 Hey there! Let's get started.
  h2 What would you like to do?

  p Submit an Essay - get paid.
  p Buy an Essay - get into college.

  h1 Looking to get into a top college?
  h2 Sign up now to start reading top essays!

  if (locals.errors)
    ul.errors
      each msg in errors
        li= msg

  div.signup
    form(method='POST')
      input#email(type='text', name='name', placeholder='Full Name')
      input#email(type='email', name='email', placeholder='Email')
      input#password(type='password', name='password', placeholder='Password')
      .field
        input#submit(type='submit', value='Sign Up')