extends layouts/form

block content
  //- h1 Hey there! Let's get started.
  //- h2 What would you like to do?
  //- p Submit an Essay - get paid.
  //- p Buy an Essay - get into college.

  h1 Want to get into a top college?
  h2 Sign up now to start reading top essays!

  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg

  form(method='POST')
    input(name='name', type='text', placeholder='full name', value=(user && user.name), autofocus, required)
    input(name='email', type='email', placeholder='email', value=(user && user.email), required)
    input(name='password', type='password', placeholder='password', value=(user && user.password), required)
    button.btn.large(type='submit') Sign Up

block footer
  span Or <a href="/login/">login</a> if you already have an account