extends layouts/main

block content
  form(method='POST')
    select.select2(name='college', data-placeholder='Select a University')
      each college in colleges
        option(value='#{ college.slug }')= college.name
    input(type='text', name='name', placeholder='Essay Title', autofocus)

    #editor-toolbar(style='display: none;')
      a(data-wysihtml5-command='bold'): i.icon-bold
      a(data-wysihtml5-command='italic'): i.icon-italic
      a(data-wysihtml5-command='underline'): i.icon-underline
      a(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h2') Heading
    textarea#editor(placeholder='Paste your essay here...')
    button.btn.large(type='submit') Submit Essay

append stylesheets
  link(rel='stylesheet', href='/out/bower_components/select2/select2.css')

append scripts
  script(src='/out/bower_components/wysihtml5/parser_rules/advanced.js')
  script(src='/out/bower_components/wysihtml5/dist/wysihtml5-0.4.0pre.min.js')
  script(src='/out/bower_components/wysihtml5_size_matters/jquery.wysihtml5_size_matters.js')
  script(src='/out/bower_components/select2/select2.min.js')
  script.
    var editor = new wysihtml5.Editor('editor', {
      toolbar: 'editor-toolbar',
      autoLink: false, // Don't auto-link URLs
      stylesheets: ['/css/editor.css'], // Iframe editor stylesheets
      parserRules: wysihtml5ParserRules, // Rules to parse copy & pasted html
      useLineBreaks: false, // Use <p> instead of <br> for line breaks
      cleanUp: true // remove senseless <span> elements (empty or w/o attrs)
    })

    // Auto-resize editor
    editor.on('load', function() {
      $(editor.composer.iframe).wysihtml5_size_matters()
    })

    $('.select2').select2()