extends layouts/main

append stylesheets
  link(rel='stylesheet', href='#{ config.cdnOrigin }/out/bower_components/select2/select2.css')

block content
  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg
  form(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      .col2
        input(name='name', type='text', placeholder='Essay Title', value=(essay && essay.name), autofocus, required)
      .col2
        select.select2(name='college', data-placeholder='Which university is this essay for?')
          option
          each college in colleges
            option(value='#{ college.slug }' selected=(essay && (essay.college === college.slug)))= college.name
    .row(style='margin-bottom: 0')
      .ghost
          #editor-toolbar.toolbar.clearfix(style='display: none;')
            a(data-wysihtml5-command='formatInline', data-wysihtml5-command-value='strong'): i.icon-bold
            a(data-wysihtml5-command='formatInline', data-wysihtml5-command-value='em'): i.icon-italic
            a(data-wysihtml5-command='underline'): i.icon-underline
            .space
            a(data-wysihtml5-command='insertOrderedList'): i.icon-list-ol
            a(data-wysihtml5-command='insertUnorderedList'): i.icon-list-ul
            .space
            a(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h2') Heading
    .row
      textarea#editor(name='body', placeholder='Paste your essay here...')
    .row
      button.btn.large(type='submit') Submit Essay
