extends layouts/main

block content
  form(method='POST')
    input(type='text', name='name', placeholder='Essay Title', autofocus)

    #editor-toolbar(style='display: none;')
      a(data-wysihtml5-command='bold'): i.icon-bold
      a(data-wysihtml5-command='italic'): i.icon-italic
      a(data-wysihtml5-command='underline'): i.icon-underline
      a(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h2') Heading
    textarea#editor(placeholder='Paste your essay here...')
    button.btn.large(type='submit') Submit Essay

append scripts
  script(src='/out/bower_components/wysihtml5/parser_rules/advanced.js')
  script(src='/out/bower_components/wysihtml5/dist/wysihtml5-0.4.0pre.min.js')
  script(src='/out/bower_components/wysihtml5_size_matters/jquery.wysihtml5_size_matters.js')

  script.
    var editor = new wysihtml5.Editor('editor', {
      // Id of the toolbar element or DOM node, pass false value if you don't want any toolbar logic
      toolbar:              'editor-toolbar',

      // Whether urls, entered by the user should automatically become clickable-links
      autoLink:             false,

      // Array (or single string) of stylesheet urls to be loaded in the editor's iframe
      stylesheets:          ['/css/editor.css'],

      // Object which includes parser rules to apply when html gets inserted via copy & paste
      parserRules: wysihtml5ParserRules,

      // Parser method to use when the user inserts content via copy & paste
      //- parser:               wysihtml5.dom.parse,

      // By default wysihtml5 will insert a <br> for line breaks, set this to false to use <p>
      useLineBreaks:  false,

      // Whether senseless <span> elements (empty or without attributes) should be removed/replaced with their content
      cleanUp:              true

    })

    editor.on('load', function() {
      $(editor.composer.iframe).wysihtml5_size_matters()
    });