extends layouts/main

block content
  form(method='POST')
    .row
      input.col(type='text', name='name', placeholder='Essay Title', autofocus, style='width: 60%')
      select.select2.col(name='college', data-placeholder='Which university is this essay for?', style='width: 39%')
        option
        each college in colleges
          option(value='#{ college.slug }')= college.name
    .row
      #editor-toolbar.col(style='display: none;')
        a(data-wysihtml5-command='bold'): i.icon-bold
        a(data-wysihtml5-command='italic'): i.icon-italic
        a(data-wysihtml5-command='underline'): i.icon-underline
        a(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h2') Heading
    .row
      textarea#editor.col(placeholder='Paste your essay here...')
    .row
      button.btn.large(type='submit') Submit Essay

append stylesheets
  link(rel='stylesheet', href='/out/bower_components/select2/select2.css')

append scripts
  script(src='/out/bower_components/wysihtml5/parser_rules/advanced.js')
  script(src='/out/bower_components/wysihtml5/dist/wysihtml5-0.4.0pre.min.js')
  script(src='/out/bower_components/wysihtml5_size_matters/jquery.wysihtml5_size_matters.js')
  script(src='/out/bower_components/select2/select2.min.js')
  script.
    var editor = new wysihtml5.Editor('editor', {
      toolbar: 'editor-toolbar',
      autoLink: false, // Don't auto-link URLs
      stylesheets: ['/css/editor.css'], // Iframe editor stylesheets
      parserRules: wysihtml5ParserRules, // Rules to parse copy & pasted html
      useLineBreaks: false, // Use <p> instead of <br> for line breaks
      cleanUp: true // remove senseless <span> elements (empty or w/o attrs)
    })

    // Auto-resize editor
    editor.on('load', function() {
      $(editor.composer.iframe).wysihtml5_size_matters()
    })

    $('.select2').select2()