extends layouts/main

block content

  p Thank you for visiting this website (the "Site" or "website"). Please read the Terms and Conditions contained in this document carefully since any use of this site constitutes your acceptance of the Terms and Conditions set out herein. If you do not agree to these terms and conditions, please do not use this website.

  p Throughout this site, the terms "we", "us", "our", and  "Study Notes" refer to Study Notes, LLC., a U.S. company, and any of its direct and indirect subsidiaries. "You" refers to any person accessing and/or using this website.

  p Please Note: These terms and conditions may be revised by Study Notes by updating this posting – Please read them carefully.

  h2 1. Privacy Notice

  p Any personal information or material sent to this website are subject to the terms and conditions set out in our <a href="/privacy/">Privacy Policy</a>.  We encourage you to read and refer to it before you submit any personal information to this Site. The Privacy Policy is a part of these terms and conditions.

  h2 2. Accuracy, completeness and timeliness of information

  p While we use all reasonable attempts to ensure the accuracy and completeness of information on this website, we are not responsible if the information that we make available on this website is not accurate or complete. Any reliance upon the material on this website shall be at your own risk. You agree that it is your responsibility to monitor any changes to the material and the information contained on this website.

  h2 3. Submissions to this Site

  p Any non-personal communication or material you submit to this website by electronic mail, upload, or otherwise, including any data, questions, comments, suggestions or the like ("Submissions") are, and will be treated as, non-confidential and non-proprietary. Anything you submit or post becomes the property of Study Notes and Study Notes may use and reproduce such Submission freely, and for any purpose. Specifically, Study Notes is free to use for any purposes whatsoever (including but not limited to the developing, manufacturing, advertising and marketing of products) any ideas, artwork, inventions, developments, suggestions or concepts contained in any Submission you send to this website. Any such use is without compensation to the party submitting information. By making a Submission, you are also warranting that you own the material/content submitted, that it is not defamatory and that Study Notes's use will not violate any third party's rights or otherwise place us in breach of any applicable laws. Study Notes is under no obligation to use the information submitted.

  h2 4. Intellectual Property Rights

  p All copyright, trademarks and other intellectual property rights in all text, images and other materials on this website are the property of Study Notes or are included with the permission of the relevant owner.

  p "Advanced Placement", "AP", and "SAT" are registered trademarks of the College Board, which was not involved in the production of, and does not endorse this web site.

  each college_ in modelCache.collegesByName
    p "#{college_.shortName}" is a registered trademark of #{college_.name}, which was not involved in the production of, and does not endorse this web site.

  p You are permitted to browse this website, reproduce extracts by way of printing, downloading to a hard disk or for the purposes of distribution to other individuals. This is only to be done on the proviso that you keep intact all copyright and other proprietary notices and that the trademark notice below appears on such reproductions. No reproduction of any part of this website may be sold or distributed for commercial gain nor shall it be modified or incorporated in any other work, publication or website.

  p The trademarks, logos, characters and service marks (collectively "Trademarks") displayed on this website belong to Study Notes. Nothing contained on this website should be construed as granting any license or right to use any Trademark displayed on this website. Your use/misuse of the Trademarks displayed on this website, or on any other content on this website, except as provided for in these Terms and Conditions, is strictly prohibited. You are also advised that Study Notes will vigorously enforce its intellectual property rights to the fullest extent of the law.

  h2 5. Links to Other Websites

  p Links on the Study Notes websites may take you outside the Study Notes network and systems and Study Notes accepts no responsibility for the content, accuracy or function of these other third party websites. The links are provided in good faith and Study Notes cannot be held responsible for any subsequent change in other third party websites to which we provide a link. The inclusion of any link to other websites does not imply endorsement by Study Notes. We highly recommend that you make yourself aware of and carefully read the legal and privacy notices of all other websites that you visit.

  h2 6. Warranties and Disclaimers

  p Your use of this website is at your own and exclusive risk.

  h3 Warranties

  p THIS WEBSITE IS PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS AND, CONSEQUENTLY, STUDY NOTES MAKES NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY OR SATISFACTORY QUALITY AND FITNESS FOR A PARTICULAR PURPOSE) INCLUDING WARRANTIES OR REPRESENTATIONS THAT MATERIAL ON THIS WEBSITE WILL BE COMPLETE, ACCURATE, RELIABLE, TIMELY, NON-INFRINGING TO THIRD PARTIES, THAT ACCESS TO THIS WEBSITE WILL BE UN-INTERRUPTED OR ERROR-FREE OR FREE FROM VIRUSES, THAT THIS WEBSITE WILL BE SECURE, THAT ANY ADVICE OR OPINION OBTAINED FROM STUDY NOTES THROUGH THIS WEBSITE IS ACCURATE OR TO BE RELIED UPON AND ANY REPRESENTATIONS OR WARRANTIES THERETO ARE ACCORDINGLY EXPRESSLY DISCLAIMED.

  p Please note that some jurisdictions may not allow exclusions of implied warranties, so some of these exclusions may not apply to you. Please check your local laws.

  p We reserve the right to restrict, suspend or terminate without notice your access to this website or any feature of this website or any feature or part thereof at any time.

  h2 7. Limitation of Liability

  p Study Notes and/or any other party involved in the creating, producing or delivering this website on our behalf shall have no liability or any responsibility whatsoever for any direct, incidental, consequential, indirect, special or punitive damages, costs, losses or liabilities whatsoever and howsoever arising out of your access to, use, inability to use, change in content of this website or arising from any other website you access through a link from this website or to the extent permitted by applicable law, from any actions we take or fail to take as a result of any electronic mail messages you send us.

  p Study Notes and/or any other party involved in the creating, producing or delivering this website shall have no responsibility to maintain the material and services made available on this website or to supply any corrections, updates, or releases in connection therewith. Any material on this website is subject to change without notice.

  p Further, Study Notes shall have no liability or any responsibility whatsoever for any loss suffered caused by viruses that may infect your computer equipment or other property by reason of your use of, access to or downloading of any material from this website. If you choose to download material from this website you do so at your own risk.

  p Although Study Notes may from time to time monitor or review discussions, chats, postings, transmissions, bulletin boards, and the like on the Site, Study Notes is under no obligation to do so and assumes no responsibility or liability whatsoever arising from the content of any such locations including but not limited to any error, defamation, libel, slander, omission, falsehood, obscenity, pornography, profanity, danger or inaccuracy contained in any information within such locations on the Site.

  p To the maximum extent permitted by applicable law, you expressly waive all claims against Study Notes, its officers, directors, employees, suppliers and programmers that may arise from your use or access of this website.

  h2 8. Prohibited Activities

  p You are prohibited from doing any act that Study Notes in its absolute discretion may deem to be inappropriate and/or would be deemed to be an unlawful act or is prohibited by any laws applicable to this website including but not limited to:

  ul
    li Any act that would constitute a breach of either the privacy (including uploading private information without the concerned individual's consent) or any other of the legal rights of individuals;

    li Using this website to defame or libel Study Notes, its employees or other individuals or acting in such a way that brings into disrepute the good name of Study Notes;

    li Uploading files that contain viruses that may cause damage to the property of Study Notes or the property of other individuals; and

    li Posting or transmitting to this website any non-authorized material including but not limited to material that is in our opinion likely to cause annoyance, detrimental to or in violation of Study Notes's or any third party´s systems or network security, libelous, defamatory, racist, obscene, threatening, pornographic, profane or is otherwise unlawful.

  h2 9. Export Restrictions

  p Software from this Site may be further subject to United States Export laws, rules and regulations, as amended from time to time. No software from this Site may be downloaded or exported (i) into (or to a national or resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria, Sudan or any other country to which the United States has embargoed goods; or (ii) anyone on the United States Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of Deny Orders. By downloading or using the software, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country or on any such list.

  h2 10. Mobile Services

  p If Study Notes permits or makes available to you the ability to: (a) upload content to the website via your mobile telephone and/or tablet ("mobile device"), (b) receive and reply to messages, or to access or make posts using text messaging, (c) browse the site from your mobile device or (d) to access features through a mobile application you have downloaded and installed on your mobile device (collectively "Mobile Services"), your mobile carrier's standard data, Internet, messaging and other service fees and charges apply to your use of, and access to, the Mobile Services, and you are solely responsible for all such fees and charges. The Mobile Services may not be compatible with all mobile devices, carriers, and services, and Study Notes does not make any representations or warranties regarding such compatibility. You are solely responsible for ensuring that your mobile device is compatible with the type of content being provided through the Mobile Services. You understand that content delivered as part of the Mobile Services may be delivered to your device through premium mobile services and acknowledge that you are solely and exclusively responsible for any charges for such services, including but not limited to any roaming charges.

  p You may be given the option to register to receive commercial messages from Study Notes via your mobile device. You understand that you may be charged by your wireless service provider in connection with the receipt of such messages. You may "opt out" of receiving future messages by following the instructions provided (i) in the wireless messages or (ii) on the website where you registered to receive such messages.

  h2 11. User Generated Content

  p Study Notes owns and/or operates various websites that permit users (hereinafter "Members" or "Users") to submit or publish content ("User-Generated Websites"). Such websites may include, but are not limited to, message boards, blogs, social networks, and comment boards. By registering or using any User-Generated Websites, you accept and agree to the following Terms and conditions for User-Generated Content.

  h3 Eligibility and registration

  p As part of the registration process, you will be asked to select a username and password and you will be responsible for all activities occurring under your username and for keeping your password secure. We may refuse to grant you a username that impersonates someone else, is or may be protected by trademark or proprietary rights law, or is vulgar, offensive or otherwise inappropriate, as determined by us in our sole discretion. You are solely responsible for any and all uses of your username, password, and account.

  p Appropriate conduct and content; personal use only User-Generated Websites are made available for your personal, non-commercial use only. User-Generated Websites may not be used for any commercial or promotional purpose.

  p By acceptance of these User-Generated Websites Terms and Conditions, you agree that any information you provide about yourself is accurate and complete information at the time provided. In particular, you represent that you are 18 years of age or older. In addition, you agree to update any information provided to User-Generated Websites to keep it accurate and complete. If you become a member of a User-Generated Website, your failure to accurately and completely provide, and timely update, information about yourself is reasonable grounds for suspension or termination of your membership.

  p You may not use User-Generated Websites for any illegal or unauthorized purpose. International users agree to comply with all local rules regarding online conduct and acceptable content, including laws regulating the export of data from the United States or your country of residence. You are solely responsible for your conduct and any data, text, information, photos, links and other content ("Materials") that you submit, post, and display on User-Generated Websites.

  p We may without notice to you, but shall have no obligation to, refuse, edit, and/or remove Materials that we determine in our sole discretion are unlawful, fraudulent, threatening, libelous, defamatory, obscene or otherwise objectionable, or infringing or violating any party's intellectual property or other proprietary rights or these User-Generated Websites Terms and Conditions. We also reserve the right in our sole discretion to refuse, edit, and/or remove any content that may be deemed by any User-Generated Website community to be inappropriate without providing you notice.

  h3 Children's privacy

  p We are committed to protecting the privacy of children. The User-Generated Websites are is not intended or designed to attract children under the age of 18. We do not collect personally identifiable information from any person we have actual knowledge is under the age of 18.

  p Examples of illegal or unauthorized uses include, but are not limited to:

  p Modifying, adapting, translating, or reverse engineering any portion of the User-Generated Websites; using any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of User-Generated Websites; collecting any information about other Members (including usernames and/or e-mail addresses) for unauthorized purposes; reformatting or framing any portion of the web pages or site images that are part of User-Generated Websites; creating user accounts by automated means or under false or fraudulent pretenses; creating or transmitting unwanted electronic communications such as "spam," or chain letters to other Members or otherwise interfering with other Member's enjoyment of the service; submitting Materials of any third party without such third party's prior written consent; submitting Materials that falsely express or imply that such Materials are sponsored or endorsed by User-Generated Websites; submitting Materials that infringe, misappropriate or violate the intellectual property, publicity, privacy or other proprietary rights of any party; transmitting any viruses, worms, defects, Trojan horses or other items of a destructive nature; submitting Materials that are unlawful or promote or encourage illegal activity; displaying an advertisement as part of your profile; any automated use of the system, including the use of scripts to send messages or post comments; or submitting false or misleading information.

  p While Study Notes prohibits such conduct and content on its User-Generated Websites, you understand and agree that you nonetheless may be exposed to such Materials and that you use User-Generated Websites at your own risk.

  h3 License to Use Materials

  p By submitting, posting, or displaying any Materials on or through User-Generated Websites, you automatically grant Study Notes a worldwide, non-exclusive, royalty-free, irrevocable license to publicly display or re-display such Materials on the User-Generated Websites website and in all other forms of media (including, without limitation, e-mail blasts and mobile or text messages or applications) that are used by Study Notes or its agents in connection with the promotion, marketing, use, or expansion of any User-Generated Websites.

  p You represent to Study Notes that you own all Materials you provide and/or have the unencumbered legal right to grant the above-referenced license with respect to all Materials you provide. You further represent to Study Notes that such materials do not infringe any third party copyrights or other third party intellectual property rights. You agree to indemnify Study Notes for any and all loses resulting from the invalidity or inaccuracy of such representation.

  p Except as expressly authorized by User-Generated Websites, you may not copy, modify, publish, transmit, distribute, perform, display or sell any of Study Notes's proprietary information, which includes the sum of all postings and photos to the site.

  p Please do not send to any User-Generated Website or post on any User-Generated Website forum anything that constitutes a trade secret, confidential or proprietary information. We are not in a position to accept such information, nor can we agree to obligations of nondisclosure or confidentiality with regard to submitted plans or ideas. You agree that any information or materials that you, or individuals acting on your behalf, provide to any User-Generated Website will not be considered confidential or proprietary.

  p User-Generated Websites includes information and content generated from a wide variety of sources, including board certified veterinarians, trainers, and other professional service providers, as well as, other Users. Users should understand that User-Generated Websites is a place to review and share information -- but the information has not been verified for accuracy and does not represent the opinions or positions of Study Notes. Study Notes cannot guarantee the timeliness, accuracy, efficacy, or veracity of any information provided at User-Generated Websites, nor the efficiency or applicability of any advice, opinions or content as they may be interpreted and applied to your situation. Study Notes's personnel are not and will not be responsible for any misleading, false, or otherwise injurious information and advice communicated on User-Generated Websites, or for any results obtained from the use of such information or advice. Study Notes and its personnel will not be liable for any loss or damage suffered by a User through the User's reliance on information, content and advice appearing on our website.

  p USER-GENERATED WEBSITES ARE BEING MADE AVAILABLE TO YOU "AS IS," WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND.

  h2 12. Jurisdiction and governing law

  p The Study Notes products, services, materials, offers and information appearing on this site are intended for users and/or customers in the United States of America only. Study Notes makes no representation that the products, services, and content of this website are appropriate or available in locations other than the United States of America.

  p You and Study Notes agree that any controversy or claim arising from or pertaining to the use of this website shall be governed by the laws of the State of Delaware, United States of America.

  h2 13. Legal notice update

  p We reserve the right to make any changes and corrections to this notice. Please refer to this page from time to time to review these and new additional information.

  p: em Last updated January 24, 2015.
