extends layouts/main

append styles
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Indie+Flower')

append scripts
  script(async, src='//platform.twitter.com/widgets.js')

block content
  .row
    .col2
      blockquote
        div The thing I love most about AP study notes is that <strong>it's like the text book but with ctrl + f capabilities</strong> :P Why dig through that 10 page chapter because you forgot what the "Oneida Community" was?
        cite Michael, AP US History student

      blockquote
        div This is the <strong>best help for understanding The American Pagent</strong>
        cite Kim, AP US History student

      blockquote
        div These were <strong>great notes that truly helped me</strong> with what I needed to be helped with. Thank you.
        cite Aisha, AP Microeconomics student

      blockquote
        div It was interesting and <strong>easy to study</strong>.
        cite Dan, AP US History student

      blockquote
        div I used this website for homework and <strong>got a really good score</strong> on my homework I also recommended it to my social studies teacher!!! Thank you very much!
        cite Middle school student

    .col2
      blockquote
        div This helps me out so much! <strong>It's easy to study!</strong>
        cite Jessica, AP English student

      blockquote
        div APstudynotes.com has <strong>helped me countless times</strong> with my AP US History exams. I'd like to think my success in the class is largely because of the great summaries, practice exams, and vocabulary lists of each chapter available. They have been great study tools. <strong>I can't recommend the site enough!</strong>
        cite Tavim, AP US History student

      blockquote
        div The topics mentioned are well thought out and they present the most relevant information. As well as that, <strong>these notes are more concise and get to the point</strong> with no unnecessary background!
        cite AP US History student

      blockquote
        div I am writing to <strong>express my gratitude to you for the exemplary content</strong> contained within your Psychology section. You see, I was preparing for the Introductory Psychology CLEP test to lesson my burden of an eight-week course as being in the military, stationed overseas, my time is measured. When I "Googled" psychological methods and found your site it allowed me to immerse myself in key points of psychology. All of <strong>the chapter notes proved vital</strong> in me securing 3 semester hours with a score of 65 on the test when 50 would have allowed me to pass. <strong>Keep up the great work.</strong>
        cite Bruce Worland, U.S. military active duty

  h2 Tweets, Tweets, Everywhere!

  .row
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="http://t.co/l3TgOUtWaM">http://t.co/l3TgOUtWaM</a> is amazing</p>&mdash; ruby c (@rubeeec) <a href="https://twitter.com/rubeeec/status/643586396578533376">September 15, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/feross">@feross</a> just want to say that your <a href="http://t.co/2GJx4zQI6v">http://t.co/2GJx4zQI6v</a> college essays has been my most shared site to my mentees applying abroad!</p>&mdash; David Ongchoco (@DOitChoco) <a href="https://twitter.com/DOitChoco/status/550080624082419712">December 31, 2014</a></blockquote>
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">No one appreciates <a href="http://t.co/ddwy9fABHZ">http://t.co/ddwy9fABHZ</a> as much as they should</p>&mdash; cath-o-ween (@cathdweeb) <a href="https://twitter.com/cathdweeb/status/644907144370761729">September 18, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">God bless whoever made <a href="http://t.co/mu4p79s6mX">http://t.co/mu4p79s6mX</a></p>&mdash; Alexis (@abbymaimone) <a href="https://twitter.com/abbymaimone/status/649990404180471808">October 2, 2015</a></blockquote>
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">if you’re applying at one of the Ivy league colleges and want to write your essay, you should consider this website. <a href="http://t.co/1NW27gBBbh">http://t.co/1NW27gBBbh</a></p>&mdash; Basmah.. (@BaSmah_) <a href="https://twitter.com/BaSmah_/status/488323106746810370">July 13, 2014</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="http://t.co/VNCH8XNFx7">http://t.co/VNCH8XNFx7</a> saved my life ❤️</p>&mdash; Diego (@westsidest0ry) <a href="https://twitter.com/westsidest0ry/status/638973007403159552">September 2, 2015</a></blockquote>
