extends layouts/main

append styles
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Indie+Flower')

append scripts
  script(async, src='//platform.twitter.com/widgets.js')

block content
  .row
    .col2
      blockquote
        div <strong>AWESOME STUFF</strong> FROM THIS SITE!!!!
        cite Michelle, AP US History student

      blockquote
        div The thing I love most about AP study notes is that <strong>it's like the text book but with ctrl + f capabilities</strong> :P Why dig through that 10 page chapter because you forgot what the "Oneida Community" was?
        cite Michael, AP US History student

      blockquote
        div This is the <strong>best help</strong> for understanding The American Pagent.
        cite Kim, AP US History student

      blockquote
        div It <strong>summarizes everything I need</strong> instead of reading a whole textbook.
        cite Johnson, AP US History student

      blockquote
        div This <strong>helped me so much</strong> on my AP European history test.
        cite Halli

      blockquote
        div The notes are <strong>incredibly helpful</strong>; accurate, descriptive, split up and easy to read, Love them!
        cite Marty, AP US History student

      blockquote
        div These were <strong>great notes that truly helped me</strong> with what I needed to be helped with. Thank you.
        cite Aisha, AP Microeconomics student

      blockquote
        div It was interesting and <strong>easy to study</strong>.
        cite Dan, AP US History student

      blockquote
        div I used this website for homework and <strong>got a really good score</strong> on my homework I also recommended it to my social studies teacher!!! Thank you very much!
        cite Middle school student

      blockquote
        div It has detailed notes and is <strong>much better then reading the textbook</strong>.
        cite Helen, AP US History student

      blockquote
        div The notes gives more detail than our teacher does!
        cite AP World History student

      blockquote
        div Thorough notes, and covered key parts of the chapter. <strong>Very helpful all around</strong>.
        cite AP Psychology student

      blockquote
        div This is extremely useful! It really <streong>makes reviewing easy</strong>, both for Class exams/tests, as well as getting ready for the AP exam.
        cite Liam, AP US History

      blockquote
        div AWESOME!!!!
        cite Alison, AP World History student

      blockquote
        div It's amazing and <strong>helps me pick out what's important</strong> to know and study.
        cite Brooke, AP World History student

      blockquote
        div It's <strong>super helpful</strong>... nobody has enough time to actually read all the chapter due to other class work.
        cite AP US History student

      blockquote
        div It <strong>gives me everything that I need</strong> to keep up with my studies.
        cite Camaryn, AP US History student

      blockquote
        div I have a lot of sophomore friends taking this course and I wish I knew about this site when I was a sophomore.
        cite Ivory, AP US History student

    .col2
      blockquote
        div This helps me out so much! <strong>It's easy to study!</strong>
        cite Jessica, AP English student

      blockquote
        div I am in APUSH and <strong>this helped me get through the year with no troubles!</strong>
        cite John

      blockquote
        div <strong>I'm loving this</strong> for my APUSH class! I'm having to read and learn the material on my own, and coming to apstudynotes.org has helped me understand the material a lot more. It breaks down the material and maks it <strong>a lot easier to understand</strong>.
        cite Mackenzie, AP US History student

      blockquote
        div Because this site is amazing. <strong>It has everything!</strong>
        cite Aly, AP World History student

      blockquote
        div APstudynotes.org has <strong>helped me countless times</strong> with my AP US History exams. I'd like to think my success in the class is largely because of the great summaries, practice exams, and vocabulary lists of each chapter available. They have been great study tools. <strong>I can't recommend the site enough!</strong>
        cite Tavim, AP US History student

      blockquote
        div I've <strong>noticed my score rising</strong> in my AP Psych class. The notes are very detailed!
        cite Kemmel

      blockquote
        div The topics mentioned are well thought out and they present the most relevant information. As well as that, <strong>these notes are more concise and get to the point</strong> with no unnecessary background!
        cite AP US History student

      blockquote
        div I am writing to <strong>express my gratitude to you for the exemplary content</strong> contained within your Psychology section. You see, I was preparing for the Introductory Psychology CLEP test to lesson my burden of an eight-week course as being in the military, stationed overseas, my time is measured. When I "Googled" psychological methods and found your site it allowed me to immerse myself in key points of psychology. All of <strong>the chapter notes proved vital</strong> in me securing 3 semester hours with a score of 65 on the test when 50 would have allowed me to pass. <strong>Keep up the great work</strong>.
        cite Bruce Worland, U.S. military active duty

      blockquote
        div The essays are good references and examples to <strong>improving my writing techniques</strong>; they're also good comparisons with how I write. They're kind of interesting too.
        cite College applicant

      blockquote
        div A friend recommended this site to me and I love it!! So I am going to let everyone know as much as possible to use this site since it simplifies many of the complicated notes we have to take in class. Thank you for creating this!!!!!!
        cite AP US History student

      blockquote
        div It's really frustrating to read the book (completely) and this just takes SO MUCH LESS TIME. THANK YOU SO MUCH.
        cite AP US History studentE

      blockquote
        div These notes <strong>sum up everything I was needing to know</strong> and helped me set up my notes and get the key points of everything.
        cite Justice, AP Psychology student


  h2 Tweets, Tweets, Everywhere!

  .row
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">God bless whoever made <a href="http://t.co/mu4p79s6mX">http://t.co/mu4p79s6mX</a></p>&mdash; Alexis (@abbymaimone) <a href="https://twitter.com/abbymaimone/status/649990404180471808">October 2, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/feross">@feross</a> just want to say that your <a href="http://t.co/2GJx4zQI6v">http://t.co/2GJx4zQI6v</a> college essays has been my most shared site to my mentees applying abroad!</p>&mdash; David Ongchoco (@DOitChoco) <a href="https://twitter.com/DOitChoco/status/550080624082419712">December 31, 2014</a></blockquote>
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Retweet to save a life! <a href="https://t.co/oRDDuOgLzY">https://t.co/oRDDuOgLzY</a></p>&mdash; Hayley (@hayley121615) <a href="https://twitter.com/hayley121615/status/659489033022779392">October 28, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">No one appreciates <a href="http://t.co/ddwy9fABHZ">http://t.co/ddwy9fABHZ</a> as much as they should</p>&mdash; cath-o-ween (@cathdweeb) <a href="https://twitter.com/cathdweeb/status/644907144370761729">September 18, 2015</a></blockquote>
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="http://t.co/VNCH8XNFx7">http://t.co/VNCH8XNFx7</a> saved my life ❤️</p>&mdash; Diego (@westsidest0ry) <a href="https://twitter.com/westsidest0ry/status/638973007403159552">September 2, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">if you’re applying at one of the Ivy league colleges and want to write your essay, you should consider this website. <a href="http://t.co/1NW27gBBbh">http://t.co/1NW27gBBbh</a></p>&mdash; Basmah.. (@BaSmah_) <a href="https://twitter.com/BaSmah_/status/488323106746810370">July 13, 2014</a></blockquote>
