extends layouts/main

append scripts
  script(async, src='//platform.twitter.com/widgets.js')

block content
  .row
    .col2
      blockquote
        div <strong>AWESOME STUFF</strong> FROM THIS SITE!!!!
        cite Michelle, AP US History student

      blockquote
        div I am in APUSH and <strong>this helped me get through the year with no troubles!</strong>
        cite John

      blockquote
        div This is the <strong>best help</strong> for understanding The American Pagent.
        cite Kim, AP US History student

      blockquote
        div <strong>OMG THIS IS SO GOOD</strong>
        cite AP US History student

      blockquote
        div It <strong>summarizes everything I need</strong> instead of reading a whole textbook.
        cite Johnson, AP US History student

      blockquote
        div This <strong>helped me so much</strong> on my AP European history test.
        cite Halli

      blockquote
        div The notes are <strong>incredibly helpful</strong>; accurate, descriptive, split up and easy to read, Love them!
        cite Marty, AP US History student

      blockquote
        div <strong>As a teacher of AP in Korea</strong> this site is great for my students... including myself. <strong>You make my teaching easy.</strong>
        cite Mr. Stevens, AP European History (teacher for 15 years)

      blockquote
        div These were <strong>great notes that truly helped me</strong> with what I needed to be helped with. Thank you.
        cite Aisha, AP Microeconomics student

      blockquote
        div It was interesting and <strong>easy to study</strong>.
        cite Dan, AP US History student

      blockquote
        div I used this website for homework and <strong>got a really good score</strong> on my homework I also recommended it to my social studies teacher!!! Thank you very much!
        cite Middle school student

      blockquote
        div It has detailed notes and is <strong>much better then reading the textbook</strong>.
        cite Helen, AP US History student

      blockquote
        div The notes gives <strong>more detail than our teacher does!</strong>
        cite AP World History student

      blockquote
        div Thorough notes, and covered key parts of the chapter. <strong>Very helpful all around</strong>.
        cite AP Psychology student

      blockquote
        div This is extremely useful! It really <strong>makes reviewing easy</strong>, both for Class exams/tests, as well as getting ready for the AP exam.
        cite Liam, AP US History

      blockquote
        div <strong>AWESOME!!!!</strong>
        cite Alison, AP World History student

      blockquote
        div It's amazing and <strong>helps me pick out what's important</strong> to know and study.
        cite Brooke, AP World History student

      blockquote
        div It's <strong>super helpful</strong>... nobody has enough time to actually read all the chapter due to other class work.
        cite AP US History student

      blockquote
        div It <strong>gives me everything that I need</strong> to keep up with my studies.
        cite Camaryn, AP US History student

      blockquote
        div I have a lot of sophomore friends taking this course and <strong>I wish I knew about this site when I was a sophomore</strong>.
        cite Ivory, AP US History student

      blockquote
        div Study notes is very helpful. The notes are clear and organized. This one site has <strong>everything you need to pass the course</strong>. Thank you :)
        cite AP US History student

      blockquote
        div <strong>This is a gift.</strong>
        cite Scarlet, College Applicant

      blockquote
        div I love this website so much. Thank you. <strong>You're a life-saver.</strong>
        cite AP Psychology student

      blockquote
        div This info is <strong>more detailed</strong> than the required book which cost me $112.85!
        cite Jeaika, AP US History student

      blockquote
        div Great info. <strong>Not your mother's textbook!</strong>
        cite Luna, AP US History student

      blockquote
        div This website has <strong>helped me SO much</strong> and I'm sure it will help many others as well.
        cite AP US History student

      blockquote
        div The AP gov test is tomorrow and <strong>you are a procrastinator's dream!</strong>
        cite Meg, AP US History student

      blockquote
        div <strong>This site is so useful</strong> for many different exams and it goes sooo in-depth that it's nearly impossible to think that it's a real website!!!
        cite Ashanti, AP European History

      blockquote
        div Great information, <strong>great studying tips</strong>, and easy to use website to study before the AP exam.
        cite Vivian, AP US History student

      blockquote
        div This site provides a good summary of the history of the topics that I find most interesting. It's also one of <strong>my best study tools</strong> as I go through school.
        cite Dryden, AP US History student

      blockquote
        div <strong>I love this website!</strong> It helps me study so much! <strong>I am so thankful</strong> that I was able to find it in time to study for my final examinations.
        cite Kat, AP US History student

      blockquote
        div It's very helpful and <strong>has all the information I need</strong> for the upcoming exam, as well as all the practice I can get.
        cite Emman, AP US History student

      blockquote
        div The notes are <strong>easy to read</strong>, and there are multiple topics that can relate to it. The site also provides professional essays from leading universities.
        cite Nicky, AP US History student

      blockquote
        div It helped me a lot in my studies. <strong>Thank you whoever thought of this website</strong> and I hope you find great success in life, and the same to whoever reads this.
        cite AP Psychology student

      blockquote
        div This is one of the only websites that I have found to be a. free, b. helpful, c. compatible with my textbook, and d. resourceful. ... The countdown to the Exam day is also helpful. <strong>I have already recommended it to my friends and fellow AP students</strong>. Good Job apstudynotes.com!!!
        cite Kiely, AP European History student

      blockquote
        div Very <strong>helpful and thorough</strong> guides.
        cite Kim, AP European History student

      blockquote
        div The notes are extremely helpful and easy to understand. <strong>Absolutely amazing!!!</strong>
        cite Gandora, AP European History student

      blockquote
        div This <strong>helped me actually understand what I read</strong> in my textbook.
        cite Seth, AP European History student

      blockquote
        div AP test study guides look <strong>awesome and super helpful</strong> :)
        cite Ginny, AP US History student

      blockquote
        div <strong>Breaks down what you need to know</strong> for the test. That's amazing!
        cite Jeremy, AP US History student

      blockquote
        div This is the <strong>greatest website ever</strong>! As soon as I discovered this, I shared it with all of my friends.
        cite Ashley, AP US History student

      blockquote
        div I don't tend to actually remember to ever recommend websites, but <strong>I would recommend this one</strong>...
        cite Nicky, AP US History student

      blockquote
        div APUSH is an extremely hard class. Using these study notes <strong>makes it tons easier</strong>.
        cite Callahan, AP US History student

      blockquote
        div I am a freshman taking this course and it is very challenging at times and <strong>this website helps me a lot</strong>. I have already told a few friends in my class about it and they share my opinion on it. <strong>We love it! It helps us so much.</strong> Thank you.
        cite Kenzie, AP European History student

      blockquote
        div The site <strong>covers about everything</strong>.
        cite Vishak, AP US History student

      blockquote
        div It makes it <strong>very easy for students to learn and study</strong> for quizzes/tests. It outlines the important things that happened in each chapter. Instead of having 10 different websites for different classes the majority are on here and its very simple.
        cite Victoria, AP US History student

      blockquote
        div <strong>Awesome site!</strong> I love the AP textbook outlines and they're very helpful for my class and studying! Thanks!
        cite Miley, AP US Microeconomics student

    .col2
      blockquote
        div This helps me out so much! <strong>It's easy to study!</strong>
        cite Jessica, AP English student

      blockquote
        div The thing I love most about AP study notes is that <strong>it's like the text book but with ctrl + f capabilities</strong> :P Why dig through that 10 page chapter because you forgot what the "Oneida Community" was?
        cite Michael, AP US History student

      blockquote
        div Because this site is amazing. <strong>It has everything!</strong>
        cite Aly, AP World History student

      blockquote
        div <strong>I'm loving this</strong> for my APUSH class! I'm having to read and learn the material on my own, and coming to apstudynotes.org has helped me understand the material a lot more. It breaks down the material and maks it <strong>a lot easier to understand</strong>.
        cite Mackenzie, AP US History student

      blockquote
        div APstudynotes.org has <strong>helped me countless times</strong> with my AP US History exams. I'd like to think my success in the class is largely because of the great summaries, practice exams, and vocabulary lists of each chapter available. They have been great study tools. <strong>I can't recommend the site enough!</strong>
        cite Tavim, AP US History student

      blockquote
        div I've <strong>noticed my score rising</strong> in my AP Psych class. The notes are very detailed!
        cite Kemmel

      blockquote
        div The topics mentioned are well thought out and they present the most relevant information. As well as that, <strong>these notes are more concise and get to the point</strong> with no unnecessary background!
        cite AP US History student

      blockquote
        div I am writing to <strong>express my gratitude to you for the exemplary content</strong> contained within your Psychology section. You see, I was preparing for the Introductory Psychology CLEP test to lesson my burden of an eight-week course as being in the military, stationed overseas, my time is measured. When I "Googled" psychological methods and found your site it allowed me to immerse myself in key points of psychology. All of <strong>the chapter notes proved vital</strong> in me securing 3 semester hours with a score of 65 on the test when 50 would have allowed me to pass. <strong>Keep up the great work</strong>.
        cite Bruce Worland, U.S. military active duty

      blockquote
        div The essays are good references and examples to <strong>improving my writing techniques</strong>; they're also good comparisons with how I write. They're kind of interesting too.
        cite College applicant

      blockquote
        div A friend recommended this site to me and <strong>I love it!!</strong> So I am going to let everyone know as much as possible to use this site since it simplifies many of the complicated notes we have to take in class. <strong>Thank you for creating this!!!!!!</strong>
        cite AP US History student

      blockquote
        div It's really frustrating to read the book (completely) and <strong>this just takes SO MUCH LESS TIME</strong>. THANK YOU SO MUCH.
        cite Courtney, AP US History student

      blockquote
        div These notes <strong>sum up everything I was needing to know</strong> and helped me set up my notes and get the key points of everything.
        cite Justice, AP Psychology student

      blockquote
        div StudyNotes.org is <strong>very informative</strong>. It helps with a surplus amount of topics from the beginning of high school into your college journey.
        cite High school student

      blockquote
        div It is <strong>very easy</strong> to read and pick up information. Also it is well organized and visually eye catching.
        cite Rod, AP Psychology student

      blockquote
        div The study notes are very <strong>helpful and reliable</strong>. I am given a greater insight on the chapter.
        cite Destiny, AP European History student

      blockquote
        div I have found this site <strong>extremely helpful</strong> as i have studied for APUSH, and have already recommended this site to my friends. Thank you very much for providing such a great resource!
        cite Keh, AP US History student

      blockquote
        div <strong>You guys are awesome!!!</strong>
        cite AP US History student

      blockquote
        div Very organized. Easy to navigate. <strong>Love it.</strong> Thank you so much!
        cite Eve, AP US History student

      blockquote
        div <strong>I LOVE THIS SITE</strong>. All of the chapter outlines are created beautifully and help me fill in the gaps I missed in the reading when its time for a test etc.
        cite Victoria, AP US History student

      blockquote
        div AP Study Notes was and is a great way to review all the topics discussed in class and is a <strong>great way to review for the AP Exam!!</strong> I have recommended this site to all my AP friends!!!
        cite Peter, AP European History

      blockquote
        div <strong>I love this website!</strong> It has really helped me because it is clear and concise.
        cite Demi, AP US History student

      blockquote
        div It gives you <strong>the meat and potatoes of a topic</strong>
        cite AP Psychology student

      blockquote
        div <strong>This site is a blessing</strong>. I have to take the AP exam for the first time and this site provides many resources that make me feel like I have a chance of doing well on the test.
        cite Taaj, AP US History student

      blockquote
        div I love the notes on this site. It also <strong>helped me to get a good grade</strong> in AP US History.
        cite Alia

      blockquote
        div <strong>This website is very helpful!</strong> I love reading this for school. :-)
        cite AP US History student

      blockquote
        div <strong>Best website ever</strong> for ap classes
        cite Kiely, AP European History student

      blockquote
        div The information is very detailed and it has helped me before to prep for quizzes as well as tests.
        cite Alejandra, AP US History student

      blockquote
        div It's my book <strong>without useless knowledge</strong>.
        cite Urbud, AP European History student

      blockquote
        div <strong>So much help!!!</strong> I'm in AP US History right now, and it's hard trying to put every little detail you learn into perspective for a bigger picture.
        cite Keyshon, AP US History student

      blockquote
        div The AP US History Notes and Outlines are <strong>beyond helpful</strong>. They provide a very informative and solid review for the AP Exam. <strong>Would definitely recommend this to others!</strong>
        cite Rabia, AP US History student

      blockquote
        div I picked this score because this website is very helpful, and <strong>I would recommend it to almost all of my friends</strong>.
        cite Sandra, AP European History student

      blockquote
        div It's literally so helpful and so great and <strong>makes my life so much easier!</strong> Thanks for everything!!!
        cite Carlita, AP European History student

      blockquote
        div You always have what I need to complete my assignments. Its super easy to use, and has the broad picture for me instead of having to look in my book for a longer period of time. I dont have to sift to find the most important details anymore. <strong>I can get more done in less time because of this website. It's really great. I love it!</strong>
        cite Anfull, AP European History student

      blockquote
        div After 40 years teaching/chairing English, I tutor that and history. <strong>Yours is a terrific site!</strong>
        cite Mrs. White, AP English teacher

      blockquote
        div <strong>This study website has helped me</strong>, because I have horrible handwriting so I can barely read my written notes sometimes. It's nice to be able to have organized, concise notes to look at and to easily interpret.
        cite AP US History student

      blockquote
        div This website gives awesome outlines for the textbook that are <strong>so much easier to read and understand</strong>. Thank you for creating this website!!!
        cite Maddie, AP European History student

      blockquote
        div I find this to be extremely helpful to me when I need help. <strong>This site has the answer 95% of the time.</strong> Thank you.
        cite Enrique, AP US History student

      blockquote
        div This site has <strong>saved me weekly</strong> before my AP tests.
        cite Leslie, AP European History student

      blockquote
        div It is very informal and helps me with my class work. <strong>10/10 by far the best source I've come across.</strong>
        cite Matthew, AP US History student

      blockquote
        div This a website has <strong>saved my APUSH grade more times than I can remember</strong>. I can't thank you enough for creating this site.
        cite Trop, AP US History student

      blockquote
        div This site has <strong>completely revived my AP U.S History grade</strong>
        cite Benjie

  h2 Tweets, Tweets, Everywhere!

  .row
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">God bless whoever made <a href="http://t.co/mu4p79s6mX">http://t.co/mu4p79s6mX</a></p>&mdash; Alexis (@abbymaimone) <a href="https://twitter.com/abbymaimone/status/649990404180471808">October 2, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/feross">@feross</a> just want to say that your <a href="http://t.co/2GJx4zQI6v">http://t.co/2GJx4zQI6v</a> college essays has been my most shared site to my mentees applying abroad!</p>&mdash; David Ongchoco (@DOitChoco) <a href="https://twitter.com/DOitChoco/status/550080624082419712">December 31, 2014</a></blockquote>
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Retweet to save a life! <a href="https://t.co/oRDDuOgLzY">https://t.co/oRDDuOgLzY</a></p>&mdash; Hayley (@hayley121615) <a href="https://twitter.com/hayley121615/status/659489033022779392">October 28, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">No one appreciates <a href="http://t.co/ddwy9fABHZ">http://t.co/ddwy9fABHZ</a> as much as they should</p>&mdash; cath-o-ween (@cathdweeb) <a href="https://twitter.com/cathdweeb/status/644907144370761729">September 18, 2015</a></blockquote>
    .col3
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="http://t.co/VNCH8XNFx7">http://t.co/VNCH8XNFx7</a> saved my life ❤️</p>&mdash; Diego (@westsidest0ry) <a href="https://twitter.com/westsidest0ry/status/638973007403159552">September 2, 2015</a></blockquote>
      | <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">if you’re applying at one of the Ivy league colleges and want to write your essay, you should consider this website. <a href="http://t.co/1NW27gBBbh">http://t.co/1NW27gBBbh</a></p>&mdash; Basmah.. (@BaSmah_) <a href="https://twitter.com/BaSmah_/status/488323106746810370">July 13, 2014</a></blockquote>
