extends layouts/main-sidebar

append sidebar
  h3 User Stats
  ul
    li #{ util.addCommas(user.hits + totalHits) } total views for #{ user.firstName }'s submissions to StudyNotes.

  include includes/ads/adsense-rect

block content
  include includes/toolbar

  if (essays.length)
    ul.listing
      each essay in essays
        li: a(href='#{ essay.url }')= essay.name + ' - ' + essay.collegeId.shortName
  else if (user._id === currentUser._id)
    h2 You haven't posted anything yet! <a href="/submit/essay/">Share your college admissions essay</a>!
  else
    p Nothing to see here yet!