.wp-pagenavi
  clear: both
  margin: 0 5.5% 4em

.no-rgba .wp-pagenavi
  border-top: 1px solid #e5e5e5

.wp-pagenavi .previous,
.wp-pagenavi .next
  float: left
  width: 20%
  padding: .25em 0

.wp-pagenavi .previous,
.wp-pagenavi .next
  float: none
  position: absolute
  top: 2.5em
  width: 25%

.wp-pagenavi .next
  right: 0

.wp-pagenavi a
  -webkit-transition: background-color .2s
  -moz-transition: background-color .2s
  -ms-transition: background-color .2s
  -o-transition: background-color .2s
  transition: background-color .2s

.wp-pagenavi .previous a,
.wp-pagenavi .next a
  display: inline-block
  margin-top: -.25em
  padding: .25em .5em
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -khtml-border-radius: 5px
  border-radius: 5px
  color: #fff
  background: linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%)
  background-color: #e95c33
  -o-border-radius: 5px
  -ms-border-radius: 5px

.wp-pagenavi .next
  text-align: right

.wp-pagenavi .previous a:hover,
.wp-pagenavi .next a:hover
  border: 0
  background: #333

.wp-pagenavi .pagelist
  float: left
  width: 60%

.wp-pagenavi .pagelist a,
.wp-pagenavi .pagelist span.current
  display: inline-block
  float: left
  width: 8%
  margin: 0 1%
  padding: .25em 0
  text-align: center

.wp-pagenavi .pagelist span.current,
.wp-pagenavi .pagelist a:hover
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -khtml-border-radius: 3px
  border-radius: 3px
  color: #fff
  background-color: #41b7d8
  -o-border-radius: 3px
  -ms-border-radius: 3px

.no-rgba .wp-pagenavi .pagelist span.current,
.no-rgba .wp-pagenavi .pagelist a:hover
  background-color: #b2b2b2

.wp-pagenavi .pagelist
  width: 100%

