.sm-search .search_submit
  position: relative
  left: -4px
  width: 92px
  height: 2.375em
  margin: 0
  padding: 0 1em
  line-height: 2.25em
  color: #fff
  background: linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%)
  filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#e95c33',endcolorstr='#e53b2c',gradienttype=0)
  border: 1px solid rgba(0,0,0,.1)
  -webkit-border-top-right-radius: 5px
  -webkit-border-bottom-right-radius: 5px
  -moz-border-radius-topright: 5px
  -moz-border-radius-bottomright: 5px
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.sm-search .search_submit:hover
  border: 1px solid rgba(0,0,0,.3)

.sm-search .search_submit:active
  color: rgba(0,0,0,.6)
  background: linear-gradient(top,rgba(233,92,51,1) 40%,rgba(229,59,44,1) 100%)
  filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#e95c33',endcolorstr='#e53b2c',gradienttype=0)
  border: 1px solid rgba(0,0,0,.4)

.sm-search input
  width: 298px
  padding: .4em .5em
  color: rgba(0,0,0,.4)

.sm-search input[type=text]
  width: 19em
  height: 1.5em
  margin-bottom: 0
  padding: .375em 0 .375em .55em
  border-top: 1px solid rgba(0,0,0,.25)
  border-right: 0
  border-bottom: 1px solid rgba(0,0,0,.25)
  border-left: 1px solid rgba(0,0,0,.25)
  -webkit-border-top-left-radius: 5px
  -webkit-border-top-right-radius: 0
  -webkit-border-bottom-left-radius: 5px
  -webkit-border-bottom-right-radius: 0
  -moz-border-radius-topleft: 5px
  -moz-border-radius-topright: 0
  -moz-border-radius-bottomleft: 5px
  -moz-border-radius-bottomright: 0
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px
  font-size: 1em
  line-height: 1.5em
  vertical-align: top

.sm-search
  margin-bottom: 1.25em

#search
  position: absolute
  top: -80px
  right: 2%
  width: 50%

.wp-search-form
  position: relative

.wp-search-form .search_submit span.first-type
  display: none

