#footer {
    clear: both;
    margin: 2em 0;
    padding: 2em 5.5% 0 0;
    font-size: .9em;
}

#footer div {
    float: left;
    padding: 0 0 2em 5.5%;
}

#footer div h4 {
    -webkit-transition: color .3s;
    -moz-transition: -color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

#footer div:hover h4 {
    color: #e53b2c;
}

#footer #the-smashing-cat {
    display: none;
    margin-top: 21px;
}

#footer div:nth-child(2n) {
    clear: left;
}

#footer div {
    clear: both;
    width: 100%;
}

#footer .contribute {
    border-bottom: 10px solid rgba(0,0,0,.025);
    background-color: rgba(255,255,255,.8);
}

#footer div li {
    display: block;
    float: left;
    width: 94.5%;
    font-size: .95em;
}

#footer li {
    padding: .125em 0;
}

#footer a {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#footer a:hover {
    border-bottom: 1px solid #41b7d8;
}

#footer a:active,
#footer a:focus {
    border: 0;
    background-color: #e53b2c;
}

.sidelist {
    padding-top: 15px;
}

.interact-area,
.popular-posts-area {
    position: relative;
    left: -20px;
    margin-right: -20px;
    padding: 0 10px 15px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.interact-area ul,
.popular-posts-area ul {
    font-size: .9em;
}

#footer .statement {
    clear: both;
    margin: 0 0 2em 5.5%;
    text-align: left;
    font-size: .8em;
    color: rgba(0,0,0,.35);
}