#wpsidebar {
    display: none;
    z-index: 1;
    position: relative;
}

div.col.side {
    padding: 0 5.5%;
}

.spnsrlistwrapper {
    display: none;
}

span.declare {
    display: block;
    margin: .875em 0;
    color: rgba(0,0,0,.25);
}

span.declare:first-child {
    display: inline-block;
}

span.awithus {
    display: inline-block;
    margin: .875em 0 .75em 102px;
}

.sidebar-smash-box {
    margin: 2em 0;
}

.sidebar-smash-box img {
    float: left;
    margin: 1em 20px 1em 0;
}

.sidebar-smash-box p {
    padding: 1em 20px 1em 0;
}

div.sidebartabs {
    clear: both;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 20px 2em;
    border-top: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    @include border-radius(0 10px 10px 0);
    background: rgba(255,255,255,.55);
}

div.two {
    clear: both;
}

div.two div.left {
    float: left;
    width: 46%;
    padding-right: 4%;
    border-right: 1px solid rgba(0,0,0,.1);
}

.no-rgba div.two div.left {
    border-right: 1px solid #e5e5e5;
}

div.two div.right {
    float: right;
    width: 45%;
    padding-left: 4%;
}

div.sidebarwidget li {
    padding: 1em 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    list-style: none;
}

div.sidebarwidget li div.sw-source,
ul.topiclist li p {
    font-size: .85em;
    line-height: 1.4em;
}

div.sidebarwidget h3 {
    position: relative;
    padding-left: 50px;
}

div.sidebarwidget h3 a {
    position: relative;
}

div.sidebarwidget h3 img {
    position: absolute;
    top: 3px;
    left: -50px;
}

div.sidebarwidget li:last-child {
    border: 0;
}

.sidebaritem,
.sidebared,
#twitter {
    margin-bottom: 2em;
}

ul.interact-list li.rss a {
    color: #e57c30;
}

ul.interact-list li.twitter a:hover {
    border-bottom: 1px solid #0087d4;
    color: #0087d4;
}

ul.interact-list li.rss a:hover {
    border-bottom: 1px solid #e57c30;
    color: #e57c30;
}

ul.interact-list li.facebook a:hover {
    border-bottom: 1px solid #3151a2;
    color: #3151a2;
}

#twitter li {
    margin-bottom: 1.5em;
    padding: .75em;
    @include border-radius(5px);
    color: #fff;
    background: #333;
}

#twitter li:after {
    content: ".";
    display: block;
    position: absolute;
    right: 0;
    bottom: -11px;
    width: 51px;
    height: 25px;
    background: url(/img/twitter_badge.png);
}

#twitter li a {
    border-bottom: 1px solid #999;
    color: #fff;
}

#twitter li a:hover {
    border-color: #fff;
}

#twitter li a.tweet-status {
    display: block;
    border: 0;
    font-size: .875em;
    color: #999;
}

.sidelist {
    color: rgba(0,0,0,.35);
}

.sidelist li {
    padding: .25em 0;
    font-size: .95em;
}

.sidelist li a {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.sidelist li a:hover {
    border-bottom: 1px solid;
}


// Sidebar widgets
// ---------------

.sidebarwidget ul a {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.sidebarwidget ul a:hover {
    border-bottom: 1px solid;
}

.sidebarwidget .view-more {
    padding-top: 1em;
}

.sidebarwidget .view-more a {
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.sidebarwidget .view-more a {
    background: -moz-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(233,92,51,1) ),color-stop(100%,rgba(229,59,44,1) ));
    background: -webkit-linear-gradient(top,#41b7d8 0,#41b7d8 100%);
    background: -o-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: -ms-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#e95c33',endcolorstr='#e53b2c',gradienttype=0);
    background: linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: -moz-linear-gradient(top,rgba(65,183,216,1) 0,rgba(65,183,216,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(65,183,216,1) ),color-stop(100%,rgba(65,183,216,1) ));
    background: -webkit-linear-gradient(top,#41b7d8 0,#41b7d8 100%);
    background: -o-linear-gradient(top,rgba(65,183,216,1) 0,rgba(65,183,216,1) 100%);
    background: -ms-linear-gradient(top,rgba(65,183,216,1) 0,rgba(65,183,216,1) 100%);
    filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#41b7d8',endcolorstr='#41b7d8',gradienttype=0);
    padding: 6px 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    color: #fff;
    opacity: .75;
    background: linear-gradient(top,rgba(65,183,216,1) 0,rgba(65,183,216,1) 100%);
}

.sidebarwidget .view-more a:hover {
    opacity: 1;
}

#newsletter_widget img {
    width: 40px;
}





//

.sidelist {
    padding-top: 15px;
}

.interact-area,
.popular-posts-area {
    position: relative;
    left: -20px;
    margin-right: -20px;
    padding: 0 10px 15px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.interact-area ul,
.popular-posts-area ul {
    font-size: .9em;
}