* {
  box-sizing: content-box;
}

body {
  /*
   * Hack to make useLineBreaks work with the size_matters resize plugin
   * https://github.com/smidwap/wysihtml5_size_matters/issues/5
   */
  height: auto !important;
  padding: 15px;
}

body > p {
  margin: 1em 0;
}

body.placeholder {
  color: #888 !important;
}
