@import 'nib'
@import 'util'

// Fonts

$serif = "skolar", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif
$sans-serif = "proxima-nova", Helvetica, sans-serif
$title-font = "ff-prater-script-web", $serif

// Colors

$red = #E0162B
$blue = #0052A5

$lightest-gray = #EEE
$lighter-gray = #CCC
$light-gray = #999
$gray = #666
$dark-gray = #555
$darker-gray = #333

$border-color = rgba(0, 0, 0, 0.1)

// Layout

$topnav-width = 10%
$container-outer-width = 100% - $topnav-width

$nav-width = 20%
$content-width = 100% - $nav-width

$sidebar-width = 336px


//
// STRUCTURE AND TYPOGRAPHY
//

*
  box-sizing: border-box

html
  overflow-y: scroll

body
  border-top: 3px solid $red
  color: $darker-gray
  font-family: $sans-serif
  -webkit-font-smoothing: antialiased
  font-size: 16px
  image: '../images/body.png' 60px 60px
  // background-image: url('../images/body.png')
  line-height: 24px
  margin: 0
  padding: 15px 0 0 0
  position: relative

img
  max-width: 100%

ul
  list-style-type: none
  margin: 0
  padding: 0

li a
  {$link}
    color: $light-gray
    display: block

  &.current, {$focus}
    background-color: rgba(yellow, 0.6)
    color: $dark-gray
    text-decoration: none

a
  {$link}
    color: $blue
    text-decoration: none

  {$focus}
    text-decoration: underline


//
// CONTAINER
//

#container-outer
  float: left
  margin-right: - ($sidebar-width + 40px)
  padding-bottom: 50px
  width: $container-outer-width

#container-inner
  margin-right: ($sidebar-width + 40px)
  background-color: white
  border: 1px solid $border-color
  border-radius: 0 10px 10px 10px
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 1px
  padding-top: 80px


//
// TOPNAV
//

#topnav
  float: left
  width: $topnav-width

  a
    {$link}
      border-bottom: 1px solid $border-color
      padding: 15px 0 15px 20px
      text-shadow: 0 1px rgba(255,255,255,0.5);
    {$focus}
      color: $gray


// Note: #logo is an <li>
#logo
  background-color: #fff
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color
  margin: 0 -1px 0 0
  position: relative
  z-index: 2

  a
    {$link}
      padding: 20px 0 10px 20px

    {$focus}
      background-color: inherit

    &:focus, &:active
      img
        position: relative
        top: 1px


//
// NAV
//

#nav
  float: left
  width: $nav-width

  & > li
    margin-bottom: 30px

    // All links in nav
    a
      {$link}
        margin: 0
        padding: 4px 0 4px 20%

    // Top-level links
    & > a
      {$link}
        border-bottom: 1px solid $border-color
        color: $blue
        letter-spacing: 1px
        text-transform: uppercase

    // Second-level links
    & li a
      {$link}
        color: $light-gray

    // On hover over top <li>, make second-level links darker
    &:hover, &:focus, &:active
      & li a
        {$link}
          color: $dark-gray

//
// CONTENT
//

#content
  float: right
  padding: 0 0 0 4%
  width: $content-width


//
// SIDEBAR
//

#sidebar
  float: left
  margin: 0 20px 0 20px
  position: relative
  top: auto
  width: $sidebar-width


//
// FOOTER
//

#footer
  clear: both
  width: 100%

