// Dependencies

@import 'nib'

// Fonts

$serif = "skolar", Caslon,Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif
$title-font = "ff-prater-script-web", $serif
$sans-serif = "proxima-nova", Helvetica, sans-serif

// Colors

$red = #E22C29

$lightest-gray = #EEE
$lighter-gray = #CCC
$light-gray = #999
$gray = #666
$dark-gray = #555
$darker-gray = #333

$border-color = rgba(0, 0, 0, 0.1)
$light-border-color = rgba(0, 0, 0, 0.05)

// Layout variables
$sidebar-width = 350px

// For convenience when styling links
$link = '&:link, &:visited'
$focus = '&:hover, &:focus, &:active'

//
// STRUCTURE
//

// *
//   box-sizing: border-box

html
  overflow-y: scroll

body
  border-top: 3px solid $red
  background: url('../images/body.gif')
  color: $darker-gray
  font-family: $sans-serif
  -webkit-font-smoothing: antialiased
  font-size: 16px
  line-height: 24px
  margin: 0
  padding: 15px 0 0 0
  position: relative

#topnav
  float: left
  width: 10%

#subnav
  float: left

#sidebar
  float: left
  margin: 0 10px 0 20px
  position: relative
  top: auto
  width: $sidebar-width

#container-outer
  float: left
  margin-right: - ($sidebar-width + 30px)
  padding-bottom: 1em
  width: 90%

#container-inner
  margin-right: ($sidebar-width + 30px)
  background-color: white
  border: 1px solid $border-color
  border-radius: 0 10px 10px 10px
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 1px
  padding-top: 60px

#footer
  clear: both
  width: 100%

img
  max-width: 100%

ul
  list-style-type: none
  margin: 0
  padding: 0


//
// TOPNAV
//

#topnav
  li
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)

  a
    color: $light-gray
    display: block
    padding: 15px 0 15px 20px
    text-decoration: none

    {$focus}
      background-color: rgba(yellow, 0.6)
      color: $darker-gray

  // Note: #logo is an <li>
  #logo
    background-color: white
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    margin: 0 -1px 0 0
    position: relative
    z-index: 2

    a
      padding: 20px 0 10px 20px

      {$focus}
        background-color: inherit
      &:focus, &:active
        img
          position: relative
          margin-top: 1px
          margin-bottom: -1px


//
// NAV
//

#nav
  float: left
  width: 20%

  a
    text-decoration: none

  & > li
    padding: 5px 0 5px 20%
    margin: 0 20% 40px 0


//
// CONTENT
//

#content
  float: right
  width: 80%



// Imports

@import 'util'