@import 'nib'
@import 'util'

//
// FONTS
//

$titleFont = "freight-sans-pro", Helvetica, sans-serif
$bodyFont = "proxima-nova", Helvetica, sans-serif

//
// COLORS
//

$red = #E0162B
$blue = #41B7D8

$lightestGray = #EEE
$lighterGray = #CCC
$lightGray = #999
$gray = #666
$darkGray = #555
$darkerGray = #333


//
// STRUCTURE AND TYPOGRAPHY
//

*
  box-sizing: border-box
  line-height: 1.4em

html
  font-size: 10px
  overflow-y: scroll

body
  color: $darkerGray
  font-family: $bodyFont
  font-size: 1.6rem
  margin: 0
  max-width: 1800px
  padding: 0
  position: relative
  -webkit-font-smoothing: antialiased

img
  max-width: 100%

ul, ol
  margin: 0
  padding: 0

a
  {$link}
    color: $blue
    text-decoration: none

  {$focus}
    text-decoration: underline

h1, h2, h3, h4, h5
  font-family: $titleFont
  line-height: 1.2em
  font-weight: 500
h1
  font-size: 3.6rem
h2
  font-size: 2.4rem
h3
  font-size: 2.0rem
h4
  font-size: 1.8rem
h5
  font-size: 1.6rem

p
  margin: 1em 0

ul.listing
  list-style-type: none
  li
    background: #EEE
    color: $darkerGray
    padding: 15px
  li:nth-child(odd)
    background: #FFF

//
// HEADER
//

$headerHeight = 50px
$headerBorder = 3px solid #000

#header
  background: #FFF
  border-bottom: 1px solid $lighterGray
  height: $headerHeight
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 10

  ul
    list-style-type: none
    position: absolute
    top: 0

    &.left
      left: 0

      .home
        color: $red

      li a
        {$link}
          border-right: 1px solid $lighterGray
        {$focus}
          border: $headerBorder
          padding: 14px 16px 0 15px

    &.right
      right: 0

      li a
        {$link}
          border-left: 1px solid $lighterGray
        {$focus}
          border: $headerBorder
          padding: 14px 15px 0 16px
        &.on
          background-color: #000
          border: $headerBorder
          height: $headerHeight // to cover up 1px gray bottom border
          padding: 14px 15px 0 16px
          color: #FFF

    li
      float: left
      font-weight: bold
      font-size: 1.35rem
      line-height: 1.0em
      text-transform: uppercase

      a
        {$link}
          color: #000
          display: block
          height: $headerHeight - 1
          padding: 17px 18px 0 18px
        {$focus}
          text-decoration: none

  .search
    padding: 3px
    text-transform: none

    {$focus}
      border: $headerBorder
      padding: 0

    input
      border: 0
      font-size: 1.4rem
      height: $headerHeight - 7
      outline: 0
      padding-left: 20px
      width: 100%

    ::-webkit-input-placeholder
      color: #000
    :-moz-placeholder
      color: #000

  .browse
    &:after
      content: "\25bc"
      font-size: 1.2rem
      padding-left: 8px 

    &.on:after
      content: "\25b2" 


//
// BROWSE
//

#browseWrapper
  background-color: #000
  padding: 0 30px
  position: fixed
  top: $headerHeight
  width: 100%
  z-index: 10

#browse
  height: 0
  padding: 0
  overflow: hidden

  transition-property: padding, height
  transition-duration: .5s

  &.on
    height: 320px
    padding: 30px 0

    transition-property: padding, height
    transition-duration: .5s

  & > li
    border-right: 1px solid $darkerGray
    display: inline-block
    padding: 0 15px
    vertical-align: top
    width: 32%

    &:last-child
      border-right: 0

    h2
      font-size: 1.9rem
      font-weight: bold
      margin-top: 0
      text-transform: uppercase

    li
      margin: 5px 0

  a
    {$link}
      color: #FFF
      display: block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      width: 100%


//
// CONTAINER
//

#container
  margin-top: 90px


//
// CONTENT
//

$sidebarWidth = 336px
$sidebarMarginLeft = 100px
$sidebarMarginRight = 40px

#contentWrapper
  float: left
  padding-left: 131px
  margin-right: - ($sidebarWidth + $sidebarMarginLeft + $sidebarMarginRight)
  padding-bottom: 50px
  width: 100%

#content
  margin-right: ($sidebarWidth + $sidebarMarginLeft + $sidebarMarginRight)

  h1
    border-bottom: 1px solid $lightestGray
    margin: 10px 0 30px 0
    padding-bottom: 20px

  ul, ol
    margin: 0
    padding-left: 20px

.breadcrumbs
  font-size: 1.5rem
  font-weight: bold
  text-transform: uppercase

  .divider::before
    content: '\2192'
    margin: 0 7px

.noteNav
  font-weight: bold

  .prev:before
    content: "\25c0"
    font-size: 1.2rem    
    padding-right: 5px
  .next:after
    content: "\25b6"
    font-size: 1.2rem
    padding-left: 5px



//
// SIDEBAR
//

#sidebar
  float: right
  margin: 0 $sidebarMarginRight 0 $sidebarMarginLeft
  width: $sidebarWidth


// ADS

.amazon
  border-top: 1px solid $lighterGray
  margin-top: 40px

  h3
    margin-bottom: 10px
  p
    margin-top: 10px
  img
    float: left
    padding: 0 20px 0 0

//
// FOOTER
//

#footer
  clear: both
  width: 100%
