html
  overflow-y: scroll

body
  border-top: 3px solid $red
  background: url('../images/grey.png')
  color: $darkerGray
  font-family: $sans-serif
  -webkit-font-smoothing: antialiased

  font-size: 17px
  line-height: 1.5em
  margin: 0
  padding: 0
  position: relative

#topnav
  float: left
  width: 10%

#subnav
  float: left

#sidebar
  float: left
  position: relative;
  top: auto;
  margin: 0 10px 0 20px
  width: 420px

#container-outer
  margin-right: -450px
  // box-sizing: border-box
  float: left
  // padding-right: 450px
  padding-bottom: 1em
  width: 90%

#container-inner
  margin-right: 450px
  background-color: white
  border: 1px solid rgba(0, 0, 0, 0.0980392)
  border-image: initial
  border-radius: 10px
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 10px 1px

#footer
  border: 1px solid black
  clear: both
  width: 100%