// For convenience, when styling links 

$link = '&:link, &:visited'
$focus = '&:hover, &:focus, &:active'

// Clearfix

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

// Misc

.off
  display: none