mixin logo
  a(href='/')
    img(src='/images/logo.png', alt='Study Notes', title='Jump to the front page of Study Notes')

nav.toplevel.clearfix
  .mini
    mixin logo
  
  ul.network.clearfix
    li.current
      mixin logo

    li: a(href='/study-guides/') Study Books
  
  ul.channels
    li.rss: a(href='#', title='Subscribe to our RSS feed') RSS
    li.facebook: a(href='http://www.facebook.com/StudyNotesApp', title='Like us on Facebook!') Facebook
    li.twitter: a(href='http://twitter.com/StudyNotesApp', title='Follow us on Twitter!') Twitter
    li.newsletter: a(href='http://www.smashingmagazine.com/the-smashing-newsletter/', title='Subscribe to our Email Newsletter (107K)') Newsletter

