.col.sidebar
  nav.sections
    .mini
      select#subsection-select(name='sections')
        option(value='network', selected='selected') - select -
        optgroup(label='Main Categories')
          option(value='http://www.smashingmagazine.com/books/') Study Books

        optgroup(label='Notes')
          option(value='http://coding.smashingmagazine.com/') Coding
          option(value='http://www.smashingmagazine.com/category/design/') Design
          option(value='http://mobile.smashingmagazine.com') Mobile
          option(value='http://www.smashingmagazine.com/category/graphics/') Graphics
          option(value='http://uxdesign.smashingmagazine.com') UX Design
          option(value='http://wp.smashingmagazine.com') WordPress
    ul.clearfix
      li.coding
        a(href='/ap-notes/us-history/') AP US History
        ul
          li: a(href='/ap-notes/ap-us-history/', title='AP US History') Vocabulary
          li: a(href='/ap-notes/ap-us-goverment/', title='AP US Goverment') Chapter Outlines
          li: a(href='/ap-notes/ap-english', title='AP English') Topic Outlines
          li: a(href='/ap-notes/ap-english', title='AP English') Timelines
          li: a(href='/ap-notes/ap-english', title='AP English') Court Cases
          li: a(href='/ap-notes/ap-english', title='AP English') Practice Tests

      li.design
        a(href='http://www.smashingmagazine.com/category/design/') AP US Government
        ul
          li: a(href='/ap-notes/ap-us-history/', title='AP US History') Vocabulary
          li: a(href='/ap-notes/ap-us-goverment/', title='AP US Goverment') Chapter Outlines
          li: a(href='/ap-notes/ap-english', title='AP English') Topic Outlines
          li: a(href='/ap-notes/ap-english', title='AP English') Timelines
          li: a(href='/ap-notes/ap-english', title='AP English') Court Cases
          li: a(href='/ap-notes/ap-english', title='AP English') Practice Tests

      li.community
        a(href='http://mobile.smashingmagazine.com') AP English
        ul
          li: a(href='/ap-notes/ap-us-history/', title='AP US History') Vocabulary
          li: a(href='/ap-notes/ap-us-goverment/', title='AP US Goverment') Chapter Outlines
          li: a(href='/ap-notes/ap-english', title='AP English') Topic Outlines
          li: a(href='/ap-notes/ap-english', title='AP English') Timelines
          li: a(href='/ap-notes/ap-english', title='AP English') Court Cases
          li: a(href='/ap-notes/ap-english', title='AP English') Practice Tests
          
      li.graphics
        a(href='http://www.smashingmagazine.com/category/graphics/') Graphics
        ul
          li: a(href='http://www.smashingmagazine.com/tag/photoshop/') Photoshop
          li: a(href='http://www.smashingmagazine.com/tag/illustrator/') Illustrator
          li: a(href='http://www.smashingmagazine.com/tag/wallpapers/') Wallpapers
          li: a(href='http://www.smashingmagazine.com/tag/freebies/') Freebies
      li.ux
        a(href='http://uxdesign.smashingmagazine.com') UX Design
        ul
          li: a(href='http://uxdesign.smashingmagazine.com/tag/usability/') Usability
          li: a(href='http://uxdesign.smashingmagazine.com/tag/user-experience/') User Experience
          li: a(href='http://uxdesign.smashingmagazine.com/tag/ui/') UI Design
          li: a(href='http://uxdesign.smashingmagazine.com/tag/e-commerce/') E-Commerce
      li.wordpress
        a.clearfix(href='http://wp.smashingmagazine.com')
          span.short WP
          span.long
            span Word
            span Press
        ul
          li: a(href='http://wp.smashingmagazine.com/tag/essentials/') Essentials
          li: a(href='http://wp.smashingmagazine.com/tag/techniques/') Techniques
          li: a(href='http://wp.smashingmagazine.com/tag/plugins/') Plugins
          li: a(href='http://wp.smashingmagazine.com/tag/themes/') Themes
    br.nasty