#wpsidebar
  .col.side
    .sm-search.wp-search-form
      form(method='get', action='http://www.smashingmagazine.com/search-results/', target='_top')
        span.declare Search on Study Notes
        input(name='q', type='text', placeholder='e.g. US History')
        button.search_submit(type='submit')
          span.first-type Search
          span.last-type Go!

    .ed.spnsrlistwrapper
      span.declare Advertisement
      span.awithus
        a.sprite.ed-us(href='mailto:feross@studynotes.org', title='Advertise with us!') Advertise with us!
      img(src='//placekitten.com/350/300')
      img(src='//placekitten.com/350/300')

    //- .inner
    //-   .textwidget
    //-     .sidebartabs
    //-       #smashing-highlights.sidebarwidget
    //-         h3
    //-           a(href='/images/smashing-highlights/')
    //-             span Smashing Highlights
    //-             img(src='/images/sm-highlights.png', alt='Smashing Highlights')
    //-         p
    //-           | In this section, we present to you the most valued and appreciated articles from the last few years on Smashing Magazine.
    //-         ul.topiclist
    //-           li
    //-             a(href='http://www.smashingmagazine.com/2011/11/03/%E2%80%9Cbut-the-client-wants-ie-6-support%E2%80%9D/') “But The Client Wants IE 6 Support!”
    //-             p
    //-               | The developers are stuck with the same Web development techniques that we used five to ten years ago. Their clients just don’t “get” graceful degradation. How can we solve this problem?
    //-           li
    //-             a(href='http://www.smashingmagazine.com/2011/06/13/the-story-of-scandinavian-design-combining-function-and-aesthetics/') The Story Of Scandinavian Design
    //-             p
    //-               | While the countries of Scandinavia have extreme differences, they do have some similarities. This article gives an overview of the influences and state of art and design in the Nordic countries.
    //-           li
    //-             a(href='http://www.smashingmagazine.com/2010/09/07/showcase-of-interesting-navigation-designs/') Showcase of Interesting Navigation Designs
    //-             p
    //-               | Everyone is always looking for interesting and effective ways to organize their website, but there’s a fine line between unexpected and unusable. Here are some unusual navigation design examples.

    //-   .sidebar-smash-box.smashingbook-printed
    //-     .textwidget
    //-       a(href='http://www.smashingbook.com')
    //-         img(src=' http://media.smashingmagazine.com/wp-content/uploads/2012/03/small_cover.png', alt='Smashing Printed Books')
    //-       p
    //-         strong Get Your Smashing Book #3!
    //-         br
    //-         | This book is the best printed book we've produced so far: it is a valuable, cutting-edge, high-quality book that any Web designer should have on their bookshelf.
    //-         strong
    //-           a(href='http://www.smashingbook.com')  Get your book now: printed or eBook!


    //-   .sidebartabs
    //-     #newsletter_widget.sidebarwidget
    //-       h3
    //-         a(href='http://www.smashingmagazine.com/the-smashing-newsletter/')
    //-           span The Smashing Newsletter
    //-           img(src='/images/smnl.png', alt='Smashing Newsletter')
    //-       #mc_embed_signup.sm-search
    //-         p
    //-           | Subscribe to our email newsletter for useful tips and valuable resources, sent out every second Tuesday.
    //-         form#mc-embedded-subscribe-form.validate(action='http://smashingmagazine.us1.list-manage1.com/subscribe/post?u=16b832d9ad4b28edf261f34df&id=a1666656e0', method='post', name='mc-embedded-subscribe-form')
    //-           input(name='EMAIL', type='text', placeholder='email address')
    //-           button.search_submit(type='submit')
    //-             span.first-type Subscribe
    //-           .clearfix
    //-             .num-subscribers 100,000 subscribers (mailchimp)


    //-   .sidebar-smash-box.smashingmag-conference
    //-     .textwidget
    //-       a(href='http://lanyrd.com/profile/smashingmag/')
    //-         img(src='http://media.smashingmagazine.com/wp-content/uploads/2012/07/frontendconf.png', width='100', height='100', alt='Conference', title='Conference')
    //-       p
    //-         strong Let's meet!
    //-         br
    //-         | Smashing Magazine's editor-in-chief Vitaly Friedman will be speaking at the
    //-         strong Front End Conf
    //-         | conference in Zurich, Switzerland.
    //-         strong
    //-           a(href='http://lanyrd.com/profile/smashingmag/') Let's grab a beer
    //-         | !


    //-   .sidebartabs
    //-     #jobs.sidebarwidget
    //-       h3
    //-         a(href='http://jobs.smashingmagazine.com/?pk_campaign=sm&piwik_kwd=widget')
    //-           span Smashing Job Board
    //-           img(src='/images/sm-jobs.png', alt='Smashing Jobs')
    //-       ul.topiclist
    //-         li(style='display: none;')
    //-         li.clearfix
    //-           a(href='http://feedproxy.google.com/~r/smjobs/~3/W90Kvc_yEsI/2041533') Senior Digital Designer - Webplace - (Melbourne, Australia) - FullTime
    //-           p
    //-             | About us: Webplace is a fast-growing digital agency located in Abbotsford, Melbourne with interstate offices in Adelaide and Sydney. Our clients are as…
    //-         li.clearfix
    //-           a(href='http://feedproxy.google.com/~r/smjobs/~3/OCX5nZrYlts/2041486') Flash Designer/Illustrator - IXL Learning - (San Mateo, CA) - FullTime
    //-           p
    //-             | IXL Learning seeks a creative, talented Flash Designer to join our team. As a Flash Designer at IXL, you will create stunning visuals for a series of animated educational…
    //-       p.view-more
    //-         a(href='http://jobs.smashingmagazine.com?pk_campaign=sm&piwik_kwd=widget') View more job openings…

    //-   .sidebar-smash-box.smashingmag-meetup
    //-     .textwidget

    //- .sidebar-smash-box.smashingmag-promo-field
    //-   .textwidget
    //-     a(href='http://www.smashingmagazine.com/ebooks/')
    //-       img(src='http://media.smashingmagazine.com/uploads/2012/01/best-of-no-150px.png', alt='Smashing Anniversary eBook')
    //-     p
    //-       strong Free eBook: "Best of Smashing Magazine"
    //-       br
    //-       | We've got a gift for you! To celebrate our birthday, we've released a free eBook with best articles published here on Smashing Magazine over all these years. In PDF, ePUB and Mobi.
    //-       strong
    //-         a(href='http://www.smashingmagazine.com/ebooks/') Get it now for free!
    //- .two.clearfix
    //-   .left
    //-     .textwidget
    //-       .inner.popular-posts-area
    //-         h2.popular Tags
    //-         ul.popular-list.sidelist
    //-           li
    //-             a(href='http://mobile.smashingmagazine.com/tag/android/') Android
    //-           li
    //-             a(href='http://www.smashingmagazine.com/tag/branding/') Branding
    //-   .right
    //-     #twitter
    //-       .inner
    //-         h2.icon.twitter Twitter
    //-         a.follow-us(href='http://twitter.com/smashingmag') Follow Us
    //-       ul#tweetlist
    //-         li(style='display: none;')
    //-         li.twitter-item
    //-           a.twitter-user(href='http://twitter.com/studentwebguide') @studentwebguide
    //-           | Thank you for your support!, Janna!
    //-           a.tweet-status(href='http://twitter.com/smashingmag/statuses/233440211240112128', title='2012-08-09T07:50:00+02:00')
    //-     .ed.sidebared
    //-       #sidebaredtarget
    //-     .ed.sidebared
    //-       #sidebaredthreetarget
    //-     .inner.interact-area
    //-       h2.icon.interact Connect
    //-       ul.interact-list.sidelist
    //-         li
    //-           a(href='http://www.smashingmagazine.com/about/') About us
    //-         li
    //-           a(href='http://www.smashingmagazine.com/contact/') Contact us
    //-         li
    //-           a(href='http://www.smashingmagazine.com/publishing-policy/') Publishing Policy
    //-         li
    //-           a(href='http://www.smashingmagazine.com/the-smashing-newsletter/') Email Newsletter
    //-         li
    //-           a(href='http://www.smashingmagazine.com/how-to-become-a-smashing-magazine-author/') Become an Author
    //-         li
    //-           a(href='/the-smashing-newsletter/') Smashing Newsletter
    //-         li
    //-           a(href='http://www.noupe.com') Noupe Design Blog
    //-         li.twitter
    //-           a(href='http://twitter.com/smashingmag') Follow us on Twitter
    //-         li.facebook
    //-           a(href='http://www.facebook.com/smashmag') Join us on Facebook
    //-         li.rss
    //-           a(href='http://rss1.smashingmagazine.com/feed/') Subscribe to RSS-Feed