extends layout

block content
  article.post-140190.post.type-post.status-publish.format-standard.hentry.category-wordpress.post
    h2
      a(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/', rel='bookmark', title='Read \'Help Us Help WordPress\'')
        span.catch_headline Usability Testing In WordPress
        span.headline Help Us Help WordPress
    ul.postmetadata.clearfix
      li.author
        | By
        a(rel='author', href='http://wp.smashingmagazine.com/author/shane-pearlman/?rel=author', title='Posts by Shane Pearlman') Shane Pearlman
      li#logoedtarget.inline
      li.date August 8th, 2012
      li.tags
        a(href='http://wp.smashingmagazine.com/tag/plugins/') Plugins
        | ,
        a(href='http://wp.smashingmagazine.com/tag/usability/') Usability
      li.comments
        a(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/#comments', title='Help Us Help WordPress') 15 Comments
    p
      | This is a personal request from your user, a rallying cry from a compatriot. I personally love WordPress. I make my living from it. The average user, though, couldn’t care less about it.
    p
      a(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/')
        img(src='http://media.smashingmagazine.com/wp-content/uploads/2012/07/featured-image.png', width='500', height='275', alt='Usability for WordPress by Modern Tribe')
    p
      | They just want to run their business, tell their family history, organize their church, share their photos or live their life online with a minimum of impedance. In its evolution from simple blogging tool to CMS, framework and software ecosystem,
      strong WordPress is losing its way
      | . It needs us to help bring it back and cultivate simple genius.
    a.continue-reading(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/') Read more...
  .ed.homepageadwrapper.clearfix
    span.declare Advertisement
    span.awithus
      a.sprite.ed-us(title='Advertise with us!', href='mailto:advertising@smashingmagazine.com') Advertise with us!
    #homepagead
      img(src='http://placekitten.com/540/150')
  .wp-pagenavi.clearfix
    .pagenavi.clearfix
      .previous
      .pagelist.clearfix
        span.current 1
        a.page(href='http://www.smashingmagazine.com/page/2/', title='2') 2
        a.page(href='http://www.smashingmagazine.com/page/3/', title='3') 3
        a.page(href='http://www.smashingmagazine.com/page/4/', title='4') 4
        a.page(href='http://www.smashingmagazine.com/page/5/', title='5') 5
        a.page(href='http://www.smashingmagazine.com/page/6/', title='6') 6
        a.page(href='http://www.smashingmagazine.com/page/7/', title='7') 7
        a.page(href='http://www.smashingmagazine.com/page/8/', title='8') 8
        a.page(href='http://www.smashingmagazine.com/page/9/', title='9') 9
        a.page(href='http://www.smashingmagazine.com/page/10/', title='10') 10
      .next
        a(href='http://www.smashingmagazine.com/page/2/') next »