mixin comments(id, title, url)
  if config.isProd
    #disqus_thread
    script.
      var disqus_config = function () {
        this.page.url = '#{ url }'
        this.page.identifier = '#{ id }'
        this.page.title = '#{ title }'
      }
      window.addEventListener('orientationchange', function () {
        DISQUS.reset({ reload: true })
      }, false)

    script(async, src='//studynotesapp.disqus.com/embed.js')
  else
    div(style='border: 5px solid red; min-height: 200px; margin-bottom: 20px') disqus
