mixin comments(id, title, url)
  #disqus_thread
  script.
    var disqus_shortname = 'studynotesapp'
    var disqus_identifier = '#{ id }'
    var disqus_title = '#{ title }'
    var disqus_url = '#{ url }'

    window.addEventListener('orientationchange', function () {
      DISQUS.reset({ reload: true })
    }, false)

  script(async, src='//studynotesapp.disqus.com/embed.js')
