.mini-search.wp-search-form
  form#search(method='get', action='http://www.smashingmagazine.com/search-results/', target='_top')
    input(name='q', type='text', placeholder='e.g. JavaScript')
    button.search_submit(type='submit')
      span.first-type Search
      span.last-type Go!