if (!req.isAuthenticated() || !req.user.pro)
  .adsense-in-content.pull-right
    if config.isProd
      <!-- StudyNotes In-Content -->
      ins(class='adsbygoogle', style='display:block', data-ad-client='ca-pub-7826623632932605', data-ad-slot='1538751506', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({})
    else
      div(style='border: 5px solid red; min-height: 300px') adsense-in-content
