if ads
  .adsense-native-in-feed
    if config.isProd
      ins.adsbygoogle(style='display: block', data-ad-layout='text-only', data-ad-layout-key='-g4-11-m-4g+kf', data-ad-client='ca-pub-7826623632932605', data-ad-slot='9384117116', data-ad-format='fluid')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({})
    else
      ins(style='border: 5px solid red; display: block; height: 90px') adsense-native-in-feed
