if ads
  .adsense-in-content(class='pull-right')
    if config.isProd
      ins.adsbygoogle(style='display: block', data-ad-client='ca-pub-7826623632932605', data-ad-slot='1538751506', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({})
    else
      ins(style='border: 5px solid red; display: block; height: 90px') adsense-in-content
