if locals.ads
  .adsense-sidebar
    if config.isProd
      ins(class='adsbygoogle', style='display:block', data-ad-client='ca-pub-7826623632932605', data-ad-slot='2128690705', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({})
    else
      div(style='border: 5px solid red; min-height: 300px') adsense-sidebar
