.ad
  if PRODUCTION
    script(type="text/javascript")
      <!--
      google_ad_client = "ca-pub-7826623632932605";
      /* StudyNotes Large Rectangle */
      google_ad_slot = "6615549264";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  else
    img(src='http://lorempixel.com/336/280')