if locals.ads
  .adsense-link-units
    if config.isProd
      ins(class='adsbygoogle', style='display:inline-block;width:728px;height:15px', data-ad-client='ca-pub-7826623632932605', data-ad-slot='9089959105')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({})
    else
      div(style='border: 5px solid red; min-height: 15px; width: 100%') adsense-link-units
