.center
  h2 College Essay&nbsp;Editing

  p <strong>Enlist the expert help of one of our Ivy-League editors.</strong> Get individual coaching to make your essay stand out among the crowd. <a href='/essay-review/'>Learn&nbsp;more.</a>

  a.btn(href='/essay-review/') Get an Essay Review
