if ads
  .fbad-native
    if config.isProd
      script.
        window.fbAsyncInit = function () {
          FB.Event.subscribe(
            'ad.error',
            function (errorCode, errorMessage, placementId) {
              console.log('Audience Network error (' + errorCode + ') ' + errorMessage)
            }
          )
        }
      fb:ad(placementid='466476846723021_967212989982735', format='300x250', testmode='false')
      script(async, id='facebook-jssdk', src='https://connect.facebook.net/en_US/sdk/xfbml.ad.js#xfbml=1&version=v2.5&appId=466476846723021')
    else
      div(style='border: 5px solid red; display: block; height: 300px') fbad-native
