if locals.ads
  .fbad-banner
    if config.isProd
      script.
        window.fbAsyncInit = function () {
          FB.Event.subscribe(
            'ad.loaded',
            function (placementId) {
              console.log('Audience Network ad loaded')
            }
          )
          FB.Event.subscribe(
            'ad.error',
            function (errorCode, errorMessage, placementId) {
              console.log('Audience Network error (' + errorCode + ') ' + errorMessage)
            }
          )
        }
        ;(function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0]
          if (d.getElementById(id)) return
          js = d.createElement(s)
          js.id = id
          js.src = '//connect.facebook.net/en_US/sdk/xfbml.ad.js#xfbml=1&version=v2.5&appId=466476846723021'
          fjs.parentNode.insertBefore(js, fjs)
        }(document, 'script', 'facebook-jssdk'))
      fb:ad(placementid='466476846723021_967244333312934', format='320x50', testmode='false')
    else
      div(style='border: 5px solid red; display: block; height: 50px') fbad-banner
