if locals.ads
  .medianet-after-content
    if config.isProd
      script.
        window._mNHandle = window._mNHandle || {}
        window._mNHandle.queue = window._mNHandle.queue || []
        medianet_versionId = '121199'
      script(async, src='https://contextual.media.net/dmedianet.js?cid=8CU711U8F&https=1')
      #343445578
        script.
          try {
            window._mNHandle.queue.push(function () {
              window._mNDetails.loadTag('343445578', '906x200', '343445578')
            })
          } catch (err) {}
    else
      div(style='border: 5px solid red; min-height: 200px; width: 100%') medianet-after-content
