.outbrain
  if config.isProd
    .OUTBRAIN(data足-src='', data足-widget-id='StudyNotes', data足-ob-足template='TF_1')
    script(async, src='//widgets.outbrain.com/outbrain.js')
  else
    div(style='border: 5px solid red; min-height: 200px') outbrain
