if locals.ads
  if college
    - var proUrl = '/pro/' + college.id + '/?referrer=' + encodeURIComponent(url)
  else
    - var proUrl = '/pro/?referrer=' + encodeURIComponent(url)

  .center
    h2 Essays That&nbsp;Worked
    p <strong>Read the Top #{ essayCount || essays.length }&nbsp;college essays</strong> that worked</strong> at #{ college ? college.shortName : 'Stanford, Harvard, Princeton,' } and more. <a href='#{ proUrl }'>Learn&nbsp;more.</a>

    a.btn.large(href=proUrl) Buy Now
