script(src='https://cdn.purpleads.io/load.js?publisherId=a5aeaf6e47383d183e24bae48e0923d9:ebbbf50573abdde62f8cffaf471a05f4f45240ad352b8a45e5f5ef416de397286833376798d220af1135844df1502f18638d6b854b0db62b44deac60c26e04bc', id='purpleads-client', async)
