if locals.ads
  .taboola-after-content
    if config.isProd
      #taboola-below-article-thumbnails
      script.
        window._taboola = window._taboola || []
        _taboola.push({ article: 'auto' })
        _taboola.push({
          mode: 'thumbnails-a',
          container: 'taboola-below-article-thumbnails',
          placement: 'Below Article Thumbnails',
          target_type: 'mix'
        })
      script(async, src='//cdn.taboola.com/libtrc/apstudynotes/loader.js')
    else
      div(style='border: 5px solid red; min-height: 550px; width: 100%') taboola-after-content
