article.post h2 .catch_headline
  display: block
  padding-bottom: .5em
  text-transform: uppercase
  font-family: "proxima-nova"
  font-size: .45em
  font-weight: 700
  line-height: 1.5em
  letter-spacing: 1px
  color: #41b7d8

