extends layout

block content
  include includes/breadcrumbs
  h1= locals.course.name
  p
    ul
      each notetype in locals.notetypes
        li: a(href='#{notetype.slug}/')= notetype.name

  include ads/amazon