!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

head
  include includes/head

body.home

  include includes/topnav

  #container-outer
    #container-inner.clearfix
      include includes/subnav

      #content
        block content

  aside#sidebar
    include includes/sidebar

  footer#footer
    include includes/footer
  
  //- Scripts
  script(src='/javascripts/libs/jquery-1.8.2.js')
  script(src='/javascripts/client.js')

  //- TODO: add https://github.com/scottjehl/Respond/

  //- TODO: add google analytics here
  //- script
  //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  //-   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  //-   s.parentNode.insertBefore(g,s)}(document,'script')); 
        
  //- TODO: add other tracking here

</html>