extends layout

block content
  include includes/breadcrumbs
  h1= notetype.name
  p!= notetype.desc || notetype.shortDesc
  p
    ul.listing
      each note in locals.notes
        li: a(href='#{note.slug}/')= note.name

  include ads/amazon