extends layout

block content
  include includes/breadcrumbs
  h1= locals.notetype.name
  p
    ul.listing
      each note in locals.notes
        li: a(href='#{note.slug}/')= note.name

  include ads/amazon